				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">ГИА&#160;/ ЕГЭ: Задания&#160;33, 39, 40</h1><p class="larger bolder">Подготовка к&#160;заданиям ГИА-9 (ОГЭ)&#160;АЯ&#160;33&#160;&#8212; &#171;личное письмо&#187;, ЕГЭ-11&#160;АЯ&#160;39&#160;&#8212; &#171;личное письмо&#187;, ЕГЭ-11&#160;АЯ&#160;40&#160;&#8212; &#171;письменное высказывание с&#160;элементами рассуждения&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a3">Разъяснение заданий&#160;33&#160;/ 39</option>
									<option value="#a4">Разъяснение задания 40</option>
									<option value="#a5">Вариант&#160;1</option>
									<option value="#a6">Вариант&#160;2</option>
									<option value="#a7">Вариант&#160;3</option>
									<option value="#a8">Вариант&#160;4</option>
									<option value="#a9">Вариант&#160;5</option>
									<option value="#a10">Вариант&#160;6</option>
									<option value="#a11">Вариант&#160;7</option>
									<option value="#a12">Вариант&#160;8</option>
									<option value="#a13">Вариант&#160;9</option>
									<option value="#a14">Вариант&#160;10</option>
									<option value="#a15">Вариант&#160;11</option>
									<option value="#a16">Вариант&#160;12</option>
									<option value="#a17">Вариант&#160;13</option>
									<option value="#a18">Вариант&#160;14</option>
									<option value="#a19">Вариант&#160;15</option>
									<option value="#a20">Вариант&#160;16</option>
									<option value="#a21">Вариант&#160;17</option>
									<option value="#a22">Вариант&#160;18</option>
									<option value="#a23">Вариант&#160;19</option>
									<option value="#a24">Вариант&#160;20</option>
									<option value="#a25">Ответы</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Разъяснение заданий&#160;33&#160;/ 39</h2></div><div class="holder-hidden-layer"><p class="media-container"><span id="video-78267632"></span></p><h3>Структура письма</h3><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#160;</td><td data-label=""><span class="bolder">Адрес в&#160;правом верхнем углу:</span><br /><span class="italic">5 Ulitsa Tsvetotchnaya<br />Moscow<br />Russia</span></td></tr><tr><td data-label="">Пустая строка перед датой письма</td><td data-label="">&#160;</td></tr><tr><td data-label="">&#160;</td><td data-label=""><span class="bolder">Дата письма под адресом:</span><br /><span class="italic">June 4th, 2012<br />4 June 2012<br />04/06/12</span></td></tr><tr><td data-label="">Пустая строка перед обращением</td><td data-label="">&#160;</td></tr><tr><td data-label=""><span class="bolder">Неофициальное обращение:</span><br /><span class="italic">Dear Tim,<br />Dear Rebecca,</span></td><td data-label="">&#8212; Если в&#160;задании имя вашего собеседника не&#160;указано, придумайте&#160;сами.<br />&#8212; После обращения обязательно ставится запятая</td></tr><tr><td data-label="">Пустая строка перед вступлением</td><td data-label="">&#160;</td></tr><tr><td data-label=""><span class="bolder">Вступление:</span><br /><span class="italic">Thanks (a lot) for your (last) letter.<br />Your last letter was a real surprise.<br />I was glad to get your letter.<br />It was great to hear from&#160;you!<br />It was great to hear&#160;that&#8230;<br />I was happy to&#160;hear&#8230;<br />Sorry I&#160;haven&#8217;t written for so long&#160;but&#8230;<br />Sorry I&#160;haven&#8217;t been in touch for so&#160;long.<br />I&#8217;m sorry I&#160;haven&#8217;t answered earlier but I&#160;was really busy with my school.<br />I&#8217;m glad you passed your History&#160;test!<br />Sounds like you had a great time in London!<br />Great news about your&#8230;!</span></td><td data-label="">&#8212; Поблагодарите за&#160;полученное письмо.<br />&#8212; Упомяните факты из&#160;полученного письма.<br />&#8212; Извинитесь, если не&#160;писали раньше</td></tr><tr><td data-label=""><span class="bolder">Основная часть</span></td><td data-label="">&#8212; Осветите аспекты, указанные в&#160;задании<br />&#8212; Ответьте на&#160;заданные в&#160;полученном письме вопросы.<br />&#8212; В свою очередь, проявите интерес к&#160;собеседнику и&#160;задайте свои вопросы</td></tr><tr><td data-label=""><span class="bolder">Заключение:</span><br /><span class="italic">Well, I&#8217;d better go now as I&#160;have to do my homework.<br />Write (back) soon!<br />Take care and keep in&#160;touch!<br />Drop me a letter when you&#160;can.<br />Hope to hear from you&#160;soon.<br />I can&#8217;t wait to hear from you!</span></td><td data-label="">&#8212; Обоснуйте причину завершения письма.<br />&#8212; Предложите продолжение переписки</td></tr><tr><td data-label="">Пустая строка перед завершающей фразой-клише</td><td data-label="">&#160;</td></tr><tr><td data-label=""><span class="bolder">Завершающая фраза-клише:</span><br /><span class="italic">Love,<br />Lots of love,<br />All my love,<br />All the best,<br />Best wishes,<br />With best wishes,<br />Yours,</span></td><td data-label="">&#8212; Выбор завершающей фразы зависит от&#160;близости автора и&#160;адресата.<br />&#8212; После завершающей фразы обязательно ставится запятая</td></tr><tr><td data-label="">Пустая строка перед именем автора</td><td data-label="">&#160;</td></tr><tr><td data-label=""><span class="bolder">Имя автора:</span><br /><span class="italic">Andy<br />Kate</span></td><td data-label="">&#8212; В неформальном письме не&#160;пишется фамилия автора и&#160;его должность</td></tr></tbody></table><table class="respond table"><caption></caption><tbody><tr><td data-label="">You have received a letter from your English-speaking pen-friend (name) who writes:</td></tr><tr><td data-label="">&#160;</td></tr></tbody></table><p>Write a letter to (name). In&#160;your letter</p><ul><li>answer his questions</li><li>ask 3&#160;questions about ___.</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><p>You have received a letter from your English-speaking pen-friend Tom who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">Summer is coming. My&#160;friends invited me to go to Scotland to explore caves there. You&#160;know, last summer I&#160;tried scuba-diving and nearly sank. So, I&#160;have to think twice before taking such an invitation. Do&#160;you think I&#160;should take it? What&#160;do you think about extreme sports? Is&#160;it worth risking your life for adventure? Have&#160;you ever tried any extreme sport? This&#160;August my cousin Amy is going to visit me</td></tr></tbody></table><table border="" class="respond table"><caption></caption><tbody><tr><td data-label="">&#160;</td><td data-label="">Saint-Petersburg</td></tr><tr><td data-label="">&#160;</td><td data-label="">Russia</td></tr><tr><td data-label="">&#160;</td><td data-label="">04.06.16</td></tr><tr><td>&#160;</td><td>&#160;</td></tr><tr><td>Dear Sally,</td><td>&#160;</td></tr><tr><td>&#160;</td><td>&#160;</td></tr><tr><td>Thank you for the letter. It&#160;was great to hear from you again after such a long time. I&#160;really should have written sooner. I&#160;have been busy with my exams</td><td>&#160;</td></tr><tr><td>I think you should take the invitation. Caves in Scotland are so beautiful. Your&#160;life is boring if you never take risks. Extreme sports give you a chance to live a full life. Last&#160;summer I&#160;tried rock climbing and really enjoyed it</td><td>&#160;</td></tr><tr><td>It is great that Amy is coming at last! How&#160;long is she going to stay with you? What&#160;are you going to do together? What&#160;places are you going to visit?</td><td>&#160;</td></tr><tr><td>Anyway, I&#160;must go and get on with my work! Hope&#160;to hear from you soon</td><td>&#160;</td></tr><tr><td>&#160;</td><td>&#160;</td></tr><tr><td>All the best</td><td>&#160;</td></tr><tr><td>Kate</td><td>&#160;</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Разъяснение задания&#160;40</h2></div><div class="holder-hidden-layer"><p class="media-container"><span id="video-78267173"></span></p><p>Comment on the following statement.</p><p>What is your opinion?</p><p>Do you agree with this statement?</p><p>Write 200&#8212;250&#160;words.</p><p>Use the following plan:</p><ul><li>make an introduction (state the problem),</li><li>express your personal opinion and give 2&#8212;3&#160;reasons for your opinion,</li><li>express an opposing opinion and give 1&#160;&#8722;2 reasons for this opposing opinion,</li><li>explain why you don't agree with the opposing opinion,</li><li>make a conclusion restating your position</li></ul><table class="respond table"><caption></caption><tbody><tr><td data-label="">People have been socializing since time immemorial. We&#160;still want to have active social life. It&#160;explains the increasing popularity of social networking sites' in recent years. How&#160;do these sites influence the life of young people?</td></tr></tbody></table><p>In my opinion, social networking sites have negative effect on social life of young people. First of all, teenagers often forget that online popularity and real life popularity are not the same. Consequently, they have hundreds of online friends 8| and serious communication problems in real life. Secondly, the sites offer many time wasting activities, so young people spent hours on these sites. As&#160;a result, they do not have time to do more productive activities, like doing sport or hobby. Finally, this lifestyle is very bad for physical and mental health, so teenagers have different problems, such as poor eyesight or inability to have real conversation.</p><p>On the other hand, some people claim that social networking sites influence lives of young people in a positive way, because the sites allow contact with people from all over the world. Besides, they | bring people with common interests together.</p><p>I strongly disagree with this view, because communication with people you do not know and very unlikely to meet, even if you have common interests, is superficial and cannot replace face to face communication.</p><p>Despite other people's opinion, I&#160;still believe, that social networking sites do not improve young peoples' lives, but only complicate&#160;them.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Вариант&#160;1</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend David who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;Tell&#160;me all about your school. What&#160;are the teachers like? What&#160;sports facilities does the school have? My&#160;school has just built a new gym; it&#8217;s great! Have&#160;you joined any school clubs? It&#8217;s my basketball team&#8217;s first match of the season on Saturday&#8230;</td></tr></tbody></table><p>Write a letter to David. In&#160;your letter</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his basketball match</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many children are becoming overweight. Some&#160;people feel schools should ban the sale of junk food to help solve this problem.&#8221;</td></tr></tbody></table><p>What is your opinion? Do&#160;you think schools should ban the sale of junk&#160;food?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Вариант&#160;2</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from the mother of an English host family you have just stayed with while doing a summer English course, Mrs Sampson, who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;We&#160;all really enjoyed having you to stay with us. How&#160;was your journey back home? Do&#160;you feel that you improved your English as much as you hoped? What&#160;did you enjoy most about your stay in England? As&#160;for our latest news, we&#8217;ve just bought a puppy&#8230;</td></tr></tbody></table><p>Write a letter to Mrs Sampson. In&#160;your letter</p><ul><li>answer her questions</li><li>ask 3&#160;questions about the new dog</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;These days, the Internet is a popular way to find out information. Some&#160;people, however, think this way of finding information has more drawbacks than advantages.&#8221;</td></tr></tbody></table><p>What can you say for and against finding information by&#160;using the Internet?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>list the advantages and give reasons/examples</li><li>list the disadvantages and give reasons/examples</li><li>draw a conclusion (give your opinion or a balanced consideration of the topic)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Вариант&#160;3</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English speaking pen friend Mark who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;It&#8217;s not long now until I&#160;come to visit you! How&#160;do I&#160;get to your house from the airport? I&#160;would like to bring a gift for your parents to say thank you for letting me stay with them&#160;&#8212; any ideas? Is&#160;there anything else that I&#160;should bring? My&#160;grandparents will be celebrating their fortieth wedding anniversary next week&#8230;</td></tr></tbody></table><p>Write a letter to Mark. In&#160;your letter</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his grandparents</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Distance learning e.g. doing courses on the Internet or by&#160;post has become very popular nowadays. It&#160;may replace traditional classroom learning in the future.&#8221;</td></tr></tbody></table><p>What is your opinion? Do&#160;you think distance learning is better than traditional classroom learning?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Вариант&#160;4</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have seen an advertisement in your local newspaper The Inquirer for part time waiters/waitresses at a hotel. You&#160;have already had some relevant work experience. Write a letter of application saying where you have worked before and for how long, why you would be suitable for the job and when you are available for interview.</p><p>Write a letter to the hotel manager applying for the&#160;job.</p><p>Write 100&#8212;140 words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many holidaymakers would rather stay in a hotel than at a campsite. However, some say that camping is more enjoyable.&#8221;</td></tr></tbody></table><p>What is your opinion? Is&#160;camping under the stars better than a comfortable hotel&#160;room?</p><p>Write 200&#8212;250 words. Use&#160;the following plan:</p><ul><li>write an introduction (state the topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view</li><li>draw a conclusion and explain why you don&#8217;t agree with it\</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a9">Вариант&#160;5</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English speaking pen friend Julie who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;Tell&#160;me about the kind of food you eat in Russia. What&#160;do people eat at home? Can&#160;you describe a traditional dish to me? Are&#160;eating habits changing? Hey, guess what?! I&#8217;m going on holiday with my two best friends this summer &#8230;</td></tr></tbody></table><p>Write a letter to Julie. In&#160;your letter</p><ul><li>answer her questions</li><li>ask 3&#160;questions about her holiday</li></ul><p>Write 100&#8212;140 words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;There are too many cars in our towns and cities and this is making our lives very unpleasant with high levels of pollution and lots of traffic jams.&#8221;</td></tr></tbody></table><p>What can be done to solve the problem of having too many cars on the roads in our towns and cities?</p><p>Write 200&#8212;250 words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>(paras 2&#160;4) list possible solutions and results/consequences</li><li>draw a conclusion (summarise your opinion)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a10">Вариант&#160;6</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You went out for dinner with your friends to celebrate your birthday. You&#160;were very disappointed with the service you received. Write a letter of complaint to the restaurant manager explaining why you were dissatisfied and asking for an explanation and an apology.</p><p>Write 100&#8212;140 words. Remember the rules of letter writing.</p><h3>40</h3><p>You have seen the following announcement in an international student magazine.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">We are looking for essays that give advice to foreigners about learning your language. In&#160;your essay: 1) suggest some ideas which will help foreigners to learn your language better; 2) mention what you think the main difficulties will be</td></tr></tbody></table><p>Write your essay for the magazine.</p><p>Write 200&#8212;250 words. Use&#160;the following plan:</p><ul><li>write an introduction (state the topic, explain what you will do in the essay)</li><li>make your suggestions and give results/examples</li><li>list the main difficulties and give reasons/examples</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a11">Вариант&#160;7</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Steve who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;I&#160;can&#8217;t believe we are finishing school this year! What&#160;are your plans after you have finished school? What&#160;career interests you? What&#160;do most students in Russia do after finishing school? Here&#160;in Britain some students take a gap year before continuing their studies or starting a job. I&#160;have decided to spend a year volunteering at an orphanage in Nepal&#8230;</td></tr></tbody></table><p>Write a letter to Steve. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his gap year</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many young people decide to become vegetarians. However, some people are unsure whether being a vegetarian is a healthy way to live.&#8221;</td></tr></tbody></table><p>What can you say for and against becoming a vegetarian?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>list the advantages and give reasons/examples</li><li>list the disadvantages and give reasons/examples</li><li>draw a conclusion (give your opinion or a balanced consideration of the topic)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a12">Вариант&#160;8</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You want to attend a summer English language course at a college in Britain.</p><p>Write a letter to the course director asking about the cost of the course, when it is and if accommodation is provided.</p><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Nowadays, a lot of children play video games. Many&#160;parents think that they are violent and affect their children in negative ways whereas others disagree and feel that they can even be beneficial.&#8221;</td></tr></tbody></table><p>What is your opinion? Should children be&#160;allowed&#160;to play video games or&#160;not?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a13">Вариант&#160;9</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Julia who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;I&#8217;m a gymnast so I&#160;train almost every day and I&#160;travel a lot to competitions, so I&#160;don&#8217;t have much free time. Are&#160;you involved in any clubs or sports? How&#160;much free time do you have and what kinds of things do you like to do? Do&#160;you get together very often with your friends? In&#160;two weeks, I&#8217;m going to Ireland for a gymnastics competition&#8230;</td></tr></tbody></table><p>Write a letter to Julia. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his gap year</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Package holidays which include all flights, accommodation and tours are very popular with some holidaymakers. Other travellers say that making your own holiday plans is better.&#8221;</td></tr></tbody></table><p>What is your opinion? Is&#160;it better to go on a package holiday or to make your own&#160;plans?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a14">Вариант&#160;10</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Harry who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;I&#160;have to catch two buses to get to school. I&#160;don&#8217;t mind though, because the buses usually run on time and they aren&#8217;t too crowded. How&#160;do you get to school? Do&#160;you find the journey tiring? What&#8217;s public transport like in your area? Our&#160;school just had its first ever &#8216;Environment Day&#8217;&#8230;</td></tr></tbody></table><p>Write a letter to Harry. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his gap year</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many people feel private education gives young people a better chance of having a successful life. Others think it is better to send children to normal, free state schools.&#8221;</td></tr></tbody></table><p>What can you say for and against sending children to private schools?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>list the advantages and give reasons/examples</li><li>list the disadvantages and give reasons/examples</li><li>draw a conclusion (give your opinion or a balanced consideration of the topic)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a15">Вариант&#160;11</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Tom who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;Sometimes I&#160;feel lonely because I&#160;am an only child. I&#160;often wonder what it would be like to have a big family. How&#160;big is your family? What&#160;kinds of activities do you like to do together? Do&#160;you have a favourite relative who you like to visit? I&#8217;ve just come back from a fantastic trip to Scotland&#8230;</td></tr></tbody></table><p>Write a letter to Tom. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his trip to Scotland</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Animals should never be kept in zoos. They&#160;belong in their natural environments.&#8221;</td></tr></tbody></table><p>What is your opinion? Is&#160;it ever a good idea to keep animals in&#160;zoos?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a16">Вариант&#160;12</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Jack who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;Well, my exams start next week and I&#8217;m feeling a little stressed even though I&#8217;ve studied hard. How&#160;often do you have exams at your school? Do&#160;you like taking exams? How&#160;do you cope with the pressure? It&#8217;s my best friend John&#8217;s birthday this weekend&#8230;</td></tr></tbody></table><p>Write a letter to Jack. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his best friend&#8217;s birthday</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Extreme sports have become more and more popular. However, some say that they are too risky.&#8221;</td></tr></tbody></table><p>What is your opinion? Does&#160;the thrill of the sport outweigh the&#160;risk?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a17">Вариант&#160;13</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend David who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;I&#160;only get a little pocket money from my parents because they can&#8217;t afford to give me a lot. Do&#160;you get pocket money? Do&#160;you think parents should give their children pocket money? I&#160;don&#8217;t have a part-time job, but my best friend does. Is&#160;it common for teenagers in Russia to have a part-time job? So, I&#160;have a new hobby&#160;&#8212; I&#8217;m learning to play a musical instrument&#8230;</td></tr></tbody></table><p>Write a letter to David. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about his new hobby</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Travelling by&#160;air is usually considered to be much quicker and more comfortable than travelling by&#160;other means. However, sometimes this may not be the case.&#8221;</td></tr></tbody></table><p>What are the advantages and disadvantages of travelling by&#160;air?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>list the advantages and give reasons/examples</li><li>list the disadvantages and give reasons/examples</li><li>draw a conclusion (give your opinion or a balanced consideration of the topic)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a18">Вариант&#160;14</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Sally who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;The&#160;&#8216;environment group&#8217; that I&#8217;m part of have organised some different events this year like a tree-planting day and a litter-collecting afternoon. What&#160;environmental problems are there where you live? How&#160;do you help the environment? Do&#160;you think we can save the planet or is it too late? At&#160;the moment I&#8217;m planning a surprise birthday party for my friend, Anna&#8230;</td></tr></tbody></table><p>Write a letter to Sally. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about the surprise birthday party</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many people want to start their own businesses. However, others feel that this is too risky and brings too much responsibility.&#8221;</td></tr></tbody></table><p>What is your opinion? Is&#160;it better to start your own business or work for someone&#160;else?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a19">Вариант&#160;15</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Alex who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;So, what type of music do you and your friends like to listen to? I&#160;love rock music, but I&#160;usually have to listen to it on my headphones if I&#160;want the music loud. The&#160;television is on most of the time in our house. Does&#160;your family spend a lot of time watching television? What&#160;kind of programmes do you like best? Last&#160;weekend there was a music festival in our town and some of the local bands played&#8230;</td></tr></tbody></table><p>Write a letter to Alex. In&#160;your letter:</p><ul><li>answer his questions</li><li>ask 3&#160;questions about the music festival</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many people dream of becoming a famous celebrity, but fame can bring many pressures and problems.&#8221;</td></tr></tbody></table><p>What are the advantages and disadvantages of being famous?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>list the advantages and give reasons/examples</li><li>list the disadvantages and give reasons/examples</li><li>draw a conclusion (give your opinion or a balanced consideration of the topic)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a20">Вариант&#160;16</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have just spent the weekend in London with your family, but unfortunately you left your diary in your room at the bed and breakfast you stayed&#160;in.</p><p>Write a letter to the owner of the bed and breakfast explaining what has happened. Tell&#160;him where you left your diary and what it looks like and ask him if he can send it to you if he finds&#160;it.</p><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>You have seen the following announcement in an international magazine.</p><p>Write us an article about your favourite place. In&#160;your article:</p><ul><li>describe the place (where it is, what it looks like, what you can do there, etc)</li><li>say why you like it so much</li></ul><p>Write your article for the magazine.</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the topic, explain what you will do in the essay)</li><li>describe the place</li><li>say why you like it so much (include examples)</li><li>write a conclusion (mention final comments/feelings)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a21">Вариант&#160;17</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Becky who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;In&#160;towns and cities in Great Britain, houses and flats are often quite small with only 2&#160;or 3&#160;bedrooms. I&#160;have to share my bedroom with my younger sister. What&#160;about you&#160;&#8212; do you have to share too or do you have your own room? Would you rather live in the town or in the country? What&#160;are homes like in Russian towns and cities? I&#160;have just come back from staying with my uncle in Wales. He&#8217;s a dairy farmer with a herd of about two hundred cows&#8230;</td></tr></tbody></table><p>Write a letter to Becky. In&#160;your letter:</p><ul><li>answer her questions</li><li>ask 3&#160;questions about her holiday with her uncle in Wales</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Many people believe that taking part in sports is very beneficial to young people, so all teenagers should take part in at least one.&#8221;</td></tr></tbody></table><p>What is your opinion? Should all teenagers take part in at least one&#160;sport?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a22">Вариант&#160;18</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Monica who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;I&#8217;m going to a wedding this weekend. It&#160;should be a lot of fun. Any&#160;ideas about what gift I&#160;could give? What&#160;are weddings like in Russia? What&#160;is your favourite Russian celebration? Oh, I&#160;almost forgot, I&#8217;ve just started taking a creative writing course&#8230;</td></tr></tbody></table><p>Write a letter to Monica. In&#160;your letter:</p><ul><li>answer her questions</li><li>ask 3&#160;questions about the course</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;At many schools, it is compulsory for pupils to wear a uniform. This&#160;is much better than letting students wear their own clothes to school.&#8221;</td></tr></tbody></table><p>What is your opinion? Should school pupils have to wear school uniforms?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a23">Вариант&#160;19</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You have received a letter from your English-speaking pen-friend Jamie who writes:</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8230;I&#160;just got a new computer for my birthday. I&#8217;m so excited about it! How&#160;about you&#160;&#8212; do you have a computer? What&#160;do you use computers for? What&#160;other high-tech gadget would you like to have? My&#160;latest news is that I&#8217;ve broken my arm&#8230;</td></tr></tbody></table><p>Write a letter to Jamie. In&#160;your letter:</p><ul><li>answer her questions</li><li>ask 3&#160;questions about her broken arm</li></ul><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;Living in a city has many disadvantages. Living in the country also brings its own share of problems.&#8221;</td></tr></tbody></table><p>What is your opinion? Would you rather live in the city or the country?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>express your personal opinion and give reasons for it</li><li>give arguments for the other point of view and explain why you don&#8217;t agree with it</li><li>draw a conclusion</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a24">Вариант&#160;20</h2></div><div class="holder-hidden-layer"><h3>33&#160;/ 39</h3><p>You want to ask a successful businessman, Charles Burns, to give a talk at your school&#8217;s Careers&#160;Day.</p><p>Write him a letter inviting him to speak at the Careers Day. Mention the topic and length of the talk and where and when it would be&#160;held.</p><p>Write 100&#8212;140&#160;words. Remember the rules of letter writing.</p><h3>40</h3><p>Comment on the following statement.</p><table class="respond table"><caption></caption><tbody><tr><td data-label="">&#8220;The future of our planet depends on our children. Fortunately, there are many steps that can be taken to teach children to care for the environment.&#8221;</td></tr></tbody></table><p>What can be done to teach children to care for the environment?</p><p>Write 200&#8212;250&#160;words. Use&#160;the following plan:</p><ul><li>write an introduction (state the problem/topic)</li><li>list suggestions and results/consequences</li><li>draw a conclusion (summarise your opinion)</li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a25">Ответы</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>&#8470;</th><th>33&#160;/ 39</th><th>40</th></tr></thead><tbody><tr><td data-label="">1</td><td data-label="33&#160;/ 39">Dear David,<br />Thanks for your letter. It&#160;was great to hear from&#160;you.<br />I really like my school. Most&#160;of the teachers are quite relaxed and friendly. As&#160;for the sports facilities, they are so much better than at my previous school. There are clay and grass tennis courts, and best of all&#160;&#8212; an Olympic-sized swimming&#160;pool!<br />I haven&#8217;t joined any school clubs yet because I&#8217;m trying to work out which ones I&#160;can fit into my schedule. I&#160;have to do swimming practice most&#160;days.<br />Who was your first basketball match against? What&#160;position did you play? Most&#160;importantly, did your team&#160;win?<br />I have to go now as I&#8217;ve got a swimming lesson this evening. Hope&#160;to hear from you&#160;soon.<br />Best wishes,<br />Tom</td><td data-label="40">Childhood obesity is a serious problem. Therefore, some people say that schools should ban the sale of junk food. In&#160;my opinion, schools should be&#160;allowed&#160;to sell junk food because this is not the main reason that children are getting&#160;fat.<br />To begin with, if you stop children from eating junk food in schools, this does not mean that they will stop eating junk food altogether. They&#160;could buy it from a shop, for instance.<br />In addition, junk food only causes weight gain if too much of it is eaten. Therefore, it is better for schools and parents to educate children about healthy eating so that they learn to make the correct food choices early in&#160;life.<br />On the other hand, some say that many children are not mature enough to make sensible choices for themselves and therefore it is better if junk food is banned in schools. They&#160;believe that if children learn to appreciate a healthy diet at school, they will develop good habits for the rest of their lives. This&#160;may be true, but it is human nature to want what we are told we can&#8217;t have, so banning junk food in schools may only encourage many children to eat it out of school!<br />All things considered, it seems to me that banning junk food in schools is not a good idea because children could still get junk food out of school. It&#160;is better to encourage children to make healthy food choices for themselves</td></tr><tr><td data-label="">2</td><td data-label="33&#160;/ 39">Dear Mrs Sampson,<br />Thank you for your letter. My&#160;journey back home was fine. My&#160;plane was on time and I&#160;chatted with a really nice girl who was sitting next to me. I&#160;had a wonderful time&#160;in<br />England. I&#160;felt that I&#160;learnt a lot of English and really improved my accent, too. As&#160;for what I&#160;enjoyed most, I&#160;really loved the day I&#160;went to London with you and Mr Sampson. I&#160;enjoyed all of my English classes, too!<br />It&#8217;s great that you&#8217;ve got a puppy! Is&#160;it a male or a female? Have&#160;you chosen a name for it yet? What&#160;kind of dog is&#160;it?<br />Thanks again for having me. Write back&#160;soon.<br />Love,<br />Anna</td><td data-label="40">The Internet is an extremely useful tool that has become an important part of our lives. In&#160;particular, it has made searching for information much easier and faster than it used to be. However, some people say that finding information in this way can make life more difficult, too.<br />On the one hand, using the Internet to find information has several advantages. Firstly, the fact that the Internet enables us to find information quickly saves time. Students can do research for school projects without going to the library as they did in the past, for example. Also, we can all find out travel information, read the news and do many other things via the Internet without having to leave our homes. Also, the Internet can be very educational as a huge amount of information is available on any&#160;topic.<br />On the other hand, finding information on the Internet can have some disadvantages. One&#160;major problem is that information found on websites is not always accurate.<br />Secondly, the fact that there is so much information on the Internet means that it is sometimes difficult to find what you are looking for. Also, due to the wide variety of information on the Net, it can be very easy to get distracted from what you are supposed to be&#160;doing.<br />In conclusion, there are both advantages and disadvantages of finding information on the Internet. On&#160;the whole, I&#160;believe that the Internet is a very useful tool for our modern lives, but it should be used wisely</td></tr><tr><td data-label="">3</td><td data-label="33&#160;/ 39">Dear Mark,<br />Thanks for your letter. I&#160;can&#8217;t wait for your visit! Don&#8217;t worry about getting to my house from the airport&#160;&#8212; if my dad isn&#8217;t working he will come and pick you up and if he is, I&#160;will come and meet you and we will catch a bus to my house. As&#160;for a gift for my parents, what about something traditionally English, such as some shortbread biscuits or a nice box of English tea? Also, don&#8217;t forget to pack some warm clothes. Moscow can still be quite cold in spring!<br />How are your grandparents going to celebrate their wedding anniversary? Have&#160;you bought them a gift? Do&#160;you get along with your grandparents? Well, I&#160;have to go now. See&#160;you next&#160;month!<br />Best wishes,<br />Alex</td><td data-label="40">Nowadays, it seems that pressure to gain more qualifications to get better jobs has encouraged many people to take up distance learning, by&#160;post or, more commonly, via the Internet. In&#160;my view, however, there are still more benefits to learning in a traditional classroom environment.<br />On the whole, despite the increase in its popularity, I&#160;do not believe that distance learning is better than traditional classroom learning. Firstly, students have to be very dedicated and self-motivated to study by&#160;themselves and many students would find this difficult.<br />Also, some people need more support in their studies than a tutor can give online or by&#160;post. Others may miss the interaction with fellow students that always occurs in a traditional classroom.<br />On the other hand, distance learning has some positive aspects. Firstly, it can be done in the privacy of one&#8217;s own home. This&#160;allows people to fit their studying around their work schedules and the demands of home life. Secondly, it allows students to work without distractions from others and at their own pace. However, I&#160;still feel that most students would benefit more from having the input of a teacher and other students in a traditional classroom.<br />To sum up, while distance learning is a good solution to help many people, whom have very little time to spare, gain more qualifications, in my opinion it is not better than traditional classroom learning</td></tr><tr><td data-label="">4</td><td data-label="33&#160;/ 39">Dear Sir/Madam,<br />I am writing to apply for the position of part-time waiter which was advertised in this week&#8217;s edition of The Inquirer.<br />I am 18&#160;years old and I&#160;am in my first year at university. I&#160;already have experience working as a waiter, having spent the past three summers working at the Hilton Hotel as a breakfast waiter.<br />I consider myself to be hard-working, efficient and cheerful. I&#160;enjoy dealing with people and I&#160;think I&#160;am very good with the public.<br />I enclose two letters of recommendation from my previous employers. I&#160;would be very grateful if you consider my application. I&#160;am available for interview any weekday morning.<br />I&#8217;m looking forward to hearing from&#160;you.<br />Yours faithfully,<br />Sam Brown</td><td data-label="40">Most people prefer to stay in a hotel while on holiday since it provides them with good meals, comfortable furnishings, housekeeping services etc. Nevertheless, some people prefer to camp in the great outdoors.<br />Personally, however, I&#160;would favour staying in a&#160;hotel.<br />First of all, I&#160;believe that hotels are better because after a busy and tiring year people need to go on holiday to relax. At&#160;a hotel you don&#8217;t have to worry about preparing meals since they can be cooked for you&#160;there.<br />Moreover, there is no need to clean up after yourself since housekeeping services are provided. In&#160;addition to this, it&#8217;s great to have a comfortable bed to sleep in at&#160;night.<br />On the other hand, outdoor enthusiasts say that it is better to go camping. They&#160;believe it&#8217;s the only way to experience nature; the fresh air, forests and wildlife.<br />However, you can experience all this without having to camp outside. Hotels are often near beautiful countryside locations or national parks. Besides, it&#8217;s uncomfortable to sleep on hard ground, surrounded by&#160;mosquitoes and who knows what else outside your thin nylon&#160;tent!<br />To sum up, while camping allows you to experience nature, I&#160;believe that staying in a hotel room is more favourable. You&#160;can experience all that nature has to offer during the day, if you wish, and return to a comfortable hotel room at night</td></tr><tr><td data-label="">5</td><td data-label="33&#160;/ 39">Dear Julie,<br />It was great to hear from you. You&#160;asked me about&#160;the<br />food we eat in Russia. Well, at home we eat&#160;many different kinds of meat and potato dishes. We&#160;also eat&#160;a lot of salads, such as cabbage salad, pickled vegetables and different kinds of&#160;soups.<br />A&#160;traditional Russian dish&#160;is Borsch, a kind of beetroot soup. In&#160;my family, we eat&#160;this with a spoonful of sour cream in it. It&#8217;s really delicious!<br />Although many people still eat a lot of traditional foods, I&#160;think that we are all eating more fast food and readymade food these days because we lead busier lives&#160;than in the&#160;past.<br />So where are you going with your friends this summer? What&#160;are you going to do there? What&#160;kind&#160;of accommodation will you stay&#160;in?<br />Write back&#160;soon.<br />Love,<br />Ivan</td><td data-label="40">Today, many households own more than one car. As&#160;a result, there are too many cars in our towns and cities, particularly in the centre. This&#160;causes several problems such as increased air pollution, which affects peoples&#8217; health, and can cause delays due to traffic jams. Fortunately, there are a number of possible ways to deal with this problem.<br />One way to decrease the number of cars on the roads would be to improve public transport and encourage people to use it. If&#160;towns and cities invested in a new cheap, fast and efficient underground or tram service, for example, or provided more bus routes, people would definitely use them. This&#160;would ease the traffic problem and make it easier for people to get around, too.<br />Another possible solution would be to make driving less attractive by&#160;introducing expensive parking charges. This&#160;would definitely encourage people to leave their cars at home and catch public transport instead.<br />Finally, &#8216;park-and-ride&#8217; schemes could be set up whereby drivers can leave their cars at an out-of-town car park and then catch a bus into the town or city centre. This&#160;kind of scheme would be very easy to set up and would provide a long-term solution to the problem of traffic congestion.<br />To sum up, there are a number of possible ways to deal with the problem of too many cars on our roads. However, I&#160;believe that in order to reduce the amount of traffic, all of these ideas need to be put into practice, not just one</td></tr><tr><td data-label="">6</td><td data-label="33&#160;/ 39">Dear Sir/Madam,<br />I am writing to express my strong dissatisfaction with the service I&#160;received at your restaurant.<br />Last Friday, four friends and I&#160;had dinner at the restaurant to celebrate my birthday. I&#160;had heard good reports from other people about the food and I&#160;was expecting a wonderful evening. Unfortunately, I&#160;got the exact opposite.<br />After we were seated, we had to wait for more than half an hour until a waiter came to take our order. It&#160;then took an hour for our first course to arrive. When&#160;it came, the food was undercooked and&#160;cold.<br />Naturally we complained, but the staff refused to replace our meals or apologise and were generally very&#160;rude.<br />As you can imagine, I&#160;was very upset and my birthday was ruined. I&#160;feel I&#160;am entitled to a full refund, in addition to a written apology from the local manager.<br />I&#8217;m looking forward to receiving your prompt&#160;reply.<br />Yours faithfully,<br />Claire Sanders</td><td data-label="40">Russian is one of the most widely spoken languages in Eurasia and therefore an important language to&#160;learn.<br />Although it is considered to be difficult, I&#160;believe there are things students can do to help themselves learn it more effectively.<br />Firstly, in my opinion, as when learning any language, an excellent way for foreigners to improve their Russian is for them to find a pen-friend. By&#160;doing this, they will be&#160;able&#160;to build on and practise the language skills they have learnt in class. In&#160;addition, it would be very beneficial for foreigners to travel to Russia for a few weeks&#8217; holiday or even to stay with a pen-friend&#8217;s family. This&#160;way, they will pick up commonly used phrases and learn how to use them in a natural way. What's more, watching films and TV programmes, listening to music and reading magazines and leaflets in Russian would also&#160;help.<br />No doubt, there are certain things foreigners will find difficult about my language. For&#160;one thing, it may be hard for them to learn the complicated Russian grammar rules. Furthermore, foreigners may have trouble with the pronunciation of the Russian alphabet as some Russian vowel sounds don&#8217;t have equivalents in other languages.<br />To overcome these challenges, I&#160;suggest that foreigners take lessons with a good teacher in order to build a solid foundation in the language.<br />In conclusion, I&#160;don&#8217;t believe that learning Russian is any more difficult than learning another language. Students will need to take a course to learn the rules, grammar structures and proper pronunciation. Also, it would be a good idea for them to practise with native speakers, read and listen to Russian as much as they can and eventually travel to Russia to be immersed in the language</td></tr><tr><td data-label="">7</td><td data-label="33&#160;/ 39">Dear Steve,<br />Great to hear from you! I&#160;can hardly believe it either that we are finishing school&#160;soon.<br />I plan to go to university immediately after my summer break. At&#160;the moment, I&#160;am preparing to take the very difficult entrance exams. I&#160;hope to study Computer Science at Moscow State University. I&#160;would like to be a software designer someday and work at a top IT (Information Technology) company. Higher education is considered very important in Russia, so most students work hard to get into one of the many excellent higher education institutions.<br />I&#8217;m sure your gap year will be fantastic! Why&#160;did you choose to volunteer in Nepal? What&#160;sort of things will you be doing at the orphanage? How&#160;long will you be in&#160;Nepal?<br />Hope to hear from you&#160;soon.<br />Take care,<br />Victor</td><td data-label="40">Recently, more and more young people have been choosing to eat only vegetarian food because they think it is better for their health. However, many nutritionists say that following a vegetarian diet exclusively is not such a healthy option.<br />On the one hand, there are several advantages to being a vegetarian.<br />Firstly, a vegetarian diet can provide more vitamins, minerals and fibre than a meat-based diet. In&#160;addition, vegetables contain fewer calories than&#160;meat.<br />This means that vegetarians are often fitter and slimmer than meat-eaters. Furthermore, vegetables are much cheaper than meat. Lastly, as meat contains a lot of fat it is known to increase the risk of heart disease.<br />On the other hand, being a vegetarian is not without its disadvantages. For&#160;a start, vegetables contain less protein, which is important for building muscle and giving us energy. Also, some important nutrients are found in meat and fish. Therefore, sometimes vegetarians need to replace these by&#160;taking supplements, such as vitamin pills, which can be expensive.<br />To sum up, although there are some drawbacks to being a vegetarian, I&#160;feel that on the whole it is not an unhealthy way to live. However, eating meat ensures that a person gets all the proteins, vitamins and minerals they need</td></tr><tr><td data-label="">8</td><td data-label="33&#160;/ 39">Dear Sir/Madam,<br />I am writing to inquire about the summer English language course offered by&#160;your college. I&#160;am interested in attending the course and would like some more information about&#160;it.<br />Firstly, I&#160;would like to know the cost of the course and if there are any additional costs for textbooks or other materials. I&#160;would also like to know when the course begins and when it finishes. Finally, could you please tell me if accommodation is provided for students or if it is necessary for students to find their&#160;own?<br />I&#8217;m looking forward to receiving this information. Thank you in advance.<br />Yours faithfully,<br />Igor Petrov</td><td data-label="40">Technology has become part of our lives and many families have computer and video games in their&#160;homes.<br />While many parents are becoming increasingly concerned that these games have a harmful effect, I&#160;believe that they can often be beneficial and so children should be&#160;allowed&#160;to play&#160;them.<br />In my opinion, children can definitely benefit from playing video&#160;games.<br />Firstly, allowing children to play video games is a good way of keeping them occupied in the safety of their own home. Also, not all games are violent and some are, in fact, educational. In&#160;addition, some psychologists argue that it is better for young people to release any aggressive feelings they have by&#160;playing a video game rather than in real&#160;life.<br />On the other hand, some parents believe that there are several disadvantages to playing video games. Firstly, they say that if the game is violent, then the children will adopt the same behaviour and act in a similar way in real life. Secondly, they feel that as children spend so many hours playing these games, they often don&#8217;t have enough time to do their homework and their performance at school suffers. However, if parents make sure that the games are not too violent and that children don&#8217;t play the games for too long, then neither of these things should be a problem.<br />In conclusion, video games have both benefits and drawbacks. As&#160;long as parents keep an eye on what games are being played and for how long, I&#160;believe that they can be an enjoyable pastime for children</td></tr><tr><td data-label="">9</td><td data-label="33&#160;/ 39">Dear Julia,<br />Thanks for your letter. You&#160;sound very&#160;busy.<br />I used to go to ballet classes three times a week, but now I&#160;have started modern dance classes instead. I&#160;only go once a week so I&#160;have more time to do other things now. In&#160;particular, I&#160;really enjoy reading novels and playing my guitar.<br />I don&#8217;t go out a lot in the week, but at weekends I&#160;usually meet up with my friends and we go to the cinema or just walk around the&#160;town.<br />How long will you be in Ireland? Have&#160;you been there before? I&#8217;ve heard that it&#8217;s a beautiful country. How&#160;many people are going on the&#160;trip?<br />Anyway, good luck in the competition and please send me a postcard from Ireland.<br />Love,<br />Anya</td><td data-label="40">More people are travelling abroad for their holidays these days. While some prefer to make their own arrangements, others choose to go on a package holiday where everything is arranged for you. In&#160;my opinion, it is more satisfying to plan your own holiday.<br />Firstly, you experience more freedom and independence if you arrange everything for yourself. This&#160;means that you can choose exactly where you want to stay and what you want to see. Also, you can take your time enjoying the sights as there is no schedule to restrict you. Furthermore, it is often much cheaper to make your own arrangements. You&#160;are able to choose the type of accommodation that suits your budget and how long you stay in a particular place. You&#160;can also eat quite inexpensively in local restaurants.<br />On the other hand, package holidays do have several benefits. For&#160;a start, they are easier and more relaxing as flights, hotels and sometimes entertainment are all organised for you. Additionally, there is usually a holiday representative to help you with any problems. However, as everything is programmed for you on a package holiday, you may not get the chance to learn as much about the local language and culture.<br />In conclusion, while package holidays may be more suitable for some people, I&#160;believe that arranging your own holiday is better on the whole. That&#160;way, you are able to decide on your own programme with very few restrictions, which makes the holiday a more fulfilling experience</td></tr><tr><td data-label="">10</td><td data-label="33&#160;/ 39">Hi Harry,<br />Thanks for your letter. I&#160;can&#8217;t believe you have to catch two buses to get to school.<br />I actually live quite close to my school so I&#160;walk there with my two friends. I&#160;don&#8217;t really find the journey very tiring because it&#8217;s only a fifteen-minute walk. As&#160;for public transport in my town, well, there are plenty of buses, but most of them are quite old and dirty and there is usually a lot of traffic. There is a new metro system though that is fast and&#160;clean.<br />That&#8217;s a great idea to have an environment day! Did&#160;it go well? What&#160;kind of activities and events were there? What&#160;did you like best about the&#160;day?<br />Well, I&#160;have to go now but I&#160;hope to hear from you again&#160;soon.<br />Best wishes,<br />Dimitri</td><td data-label="40">Nowadays, many parents are choosing to pay for private education for their children because they believe that it is better than state education. However, do children always benefit from going to private schools?<br />Without a doubt, there are some advantages to sending children to private schools.<br />Firstly, private schools often have better facilities and a wider curriculum than state schools. For&#160;example, most have the latest computer technology and sports facilities and they are often able to offer different subjects such as dance and photography. Additionally, the teaching is usually of a high standard as private schools are able to attract good teachers. Also, there is pressure on students to do well at private schools because their parents are paying for their education. This&#160;may eventually mean that children get better qualifications.<br />On the other hand, there are several drawbacks to private education. First of all, it is very expensive and there may be some excellent state schools that are just as good. Secondly, some students may feel too pressured to do well in their studies at a private school.<br />They would possibly do better at a normal state school where they could study at their own pace in a more relaxed atmosphere.<br />In conclusion, private education may give some students better chances of success in life. However, parents should remember that private education can have some disadvantages and may not always be the best choice for their child</td></tr><tr><td data-label="">11</td><td data-label="33&#160;/ 39">Dear Tom,<br />Thanks for your letter&#160;&#8212; it was great to hear from&#160;you!<br />You asked about my family. Well, there are five people in my immediate family. There&#8217;s my mum and dad, myself, my younger brother Jack who&#8217;s 13&#160;and my younger sister Emily who&#8217;s 8. We&#160;often go to the park altogether at weekends and we fly kites or play football. In&#160;the evenings, we always eat together and then watch TV. As&#160;for my favourite relative, well, that&#8217;s easy! I&#160;love going to visit my grandma on Sunday afternoons&#160;&#8212; I&#160;like sitting in her beautiful garden chatting to her or helping her to bake a&#160;cake.<br />So where exactly did you go in Scotland? Did&#160;you go to Loch Ness and see the Loch Ness monster? What&#160;was the food like; did you try haggis?<br />Write again&#160;soon.<br />Love,<br />Diana</td><td data-label="40">Many people believe that it is cruel and unnecessary to keep animals in zoos as conditions in them are very different to those in the animals&#8217; natural environments.<br />However, personally I&#160;do believe that there are some good reasons for keeping zoos&#160;open.<br />Firstly, many modern zoos spend a lot of time, money and energy trying to protect animal species. In&#160;fact, zoos&#8217; breeding programmes are often the only hope for endangered species such as gorillas. In&#160;addition, zoos these days usually look after their animals very well and try to recreate the conditions in the animals&#8217; natural environment. As&#160;animals are often in danger in the wild from loss of habitats and hunters, a zoo can be a safer environment than a natural habitat. Lastly, people who visit zoos usually leave with a better understanding of and respect for animals.<br />On the other hand, opponents of zoos argue that it is never good to keep an animal in an unnatural environment. They&#160;say that there are still some zoos in which animals are not well looked after. They&#160;may be kept in small, dirty cages and not given the correct food and medical treatment. However, I&#160;feel that these kinds of zoos are not very common.<br />To sum up, while it would be great if animals could all live in their natural environments, these days they face many dangers in the wild. Therefore, I&#160;believe that there are several very good reasons to keep animals in zoos</td></tr><tr><td data-label="">12</td><td data-label="33&#160;/ 39">Hi Jack,<br />Thanks for your letter. At&#160;my school, we take exams twice a year&#160;&#8212; at Christmas and again in the spring.<br />Some of my friends like taking exams because, they say, it gives them a chance to show what they can do, but personally I&#160;don&#8217;t like them at all. I&#160;find they make me feel a bit stressed out! I&#160;try to play basketball, however, a few times a week during exam time. I&#160;find this really relaxes me a lot and helps me to cope with the pressure.<br />I also try to get plenty of sleep. So, it&#8217;s your best friend&#8217;s birthday this weekend! How&#160;is he going to celebrate it? How&#160;old will he be? Are&#160;you going to buy him a nice&#160;gift?<br />Good luck with your exams. Write back&#160;soon.<br />Best wishes,<br />Gary</td><td data-label="40">Most people who enjoy extreme sports are young people who enjoy the excitement of these thrilling activities such as white-water rafting, bungee jumping and sky surfing. Some&#160;people claim, however, that these sports are too dangerous. In&#160;my opinion, people should be&#160;allowed&#160;to take part in these activities if they are properly trained before and if they follow safety instructions.<br />Firstly, I&#160;believe that extreme sports are usually safe because these activities are well organised by&#160;properly trained instructors. Participants have to wear correct clothing, check their equipment and be trained before they are allowed to participate in an extreme sport like sky surfing. In&#160;addition, extreme sports can be beneficial to people&#8217;s health. Taking part in them can help people to relax and let off steam. They&#160;could even help people to overcome their fears of taking&#160;risks.<br />On the other hand, opponents of extreme sports say that there is always the risk of something going wrong while participating in an extreme sport. If&#160;a rope snapped while bungee jumping, for example, a participant would be seriously injured or even die. As&#160;mentioned before, however, I&#160;feel that the risk is not very high, because organisers of extreme sports take safety very seriously.<br />To sum up, while extreme sports carry a low risk of injury, I&#160;believe that they are safe to take part in if the participants carefully follow all the instructions. They&#160;can even benefit the participants mentally</td></tr><tr><td data-label="">13</td><td data-label="33&#160;/ 39">Hi David,<br />Thanks for your letter. You&#160;asked me about pocket money. Well, I&#160;do get some pocket money, but like your parents, mine don&#8217;t have a lot of extra money so they can&#8217;t give me very&#160;much.<br />I think it&#8217;s good for parents to give their children some money if they can afford it, because it teaches them about managing money. Some&#160;teens here in Russia have part-time jobs in the evenings or at weekends, but it&#8217;s often quite difficult to find&#160;work.<br />Personally, I&#160;don&#8217;t want to work because I&#8217;m too busy with my schoolwork, but it would be nice to have some extra&#160;money!<br />So, what musical instrument are you learning to play? Are&#160;you taking lessons? Can&#160;you read&#160;music?<br />Well, I&#160;have to go now. Write again&#160;soon!<br />Best wishes,<br />Alexandra</td><td data-label="40">Since the first commercial flight over fifty years ago, aeroplanes have helped billions of people around the world to travel to their destinations. But&#160;is travelling by&#160;plane always the best option?<br />On the one hand, there are several clear advantages of air travel. The&#160;main advantage of travelling by&#160;plane is that it is quicker than any other means of transport. One&#160;can travel from one continent to another in just a few hours. Also, it is safe. There are fewer accidents in the air than on land or at sea. Moreover, a lot of passengers tend to enjoy the whole flying experience; the reclinable seats, airline feature films and being served food and&#160;drink.<br />However, travelling by&#160;plane does have its disadvantages.<br />Firstly, the tickets are usually quite expensive and so not everyone can afford them. Secondly, travelling by&#160;plane is not always very comfortable. Passengers have to sit in small seats for long periods of time. In&#160;addition, planes can&#8217;t fly travellers to their exact location and airports are usually far from city centres. Finally, there are the frequent problems of missing luggage, cancelled flights and long check-in queues which can make passengers&#8217; journeys take much longer than they should.<br />To conclude, despite the disadvantages, I&#160;do believe that air travel is often the best way to get to a particular destination. In&#160;fact, for destinations that are very far away, it is the only realistic way to get there</td></tr><tr><td data-label="">14</td><td data-label="33&#160;/ 39">Hi Sally,<br />Thanks for your letter and I&#160;hope you&#8217;re well! Your&#160;environment group sounds&#160;great.<br />We have a big problem in my neighbourhood; there are no green spaces at all. Also, it&#8217;s quite a busy area so there&#8217;s a lot of pollution from cars and factories. I&#160;think that I&#160;help the environment in a few ways; I&#160;always turn off lights when I&#8217;m not in a room and I&#160;try not to waste water. I&#160;also recycle newspapers and plastic. I&#160;think we can save the planet but we have to educate everybody and we all have to work together.<br />The surprise party sounds like good fun! Where are you going to have the party? Are&#160;you going to invite lots of people? Do&#160;you think Anna suspects anything?<br />Write back&#160;soon.<br />Lots of love,<br />Laura</td><td data-label="40">Starting your own business often seems like an attractive alternative to being an employee. In&#160;my opinion, however, it brings a lot of risk and responsibility and is sometimes not worth the time and effort.<br />Firstly, you usually have many more responsibilities when you run your own business. You&#160;may have to work long hours because you are ultimately responsible for getting the work finished on time. It&#160;can also be extremely risky to start your own business. For&#160;one thing, many new businesses fail in the first one or two years. Also, the costs of starting up your business can be very high. Installing computers, printers and other office equipment is very expensive and you have to pay your employees each&#160;month.<br />On the other hand, it is true that owning your own business can be very satisfying. You&#160;are in charge, after all, and have the freedom to make all your own decisions.<br />You can decide on the hours that you work, and how much you pay your staff. Moreover, if all goes well, you will have the chance of making a large profit, too.<br />In conclusion, I&#160;believe that while starting a business can be the right decision for many people, it is quite risky and brings a lot of responsibility. Personally, I&#160;would prefer to be an employee</td></tr><tr><td data-label="">15</td><td data-label="33&#160;/ 39">Dear Alex,<br />Thanks for your letter. It&#160;was great to hear from&#160;you!<br />I love listening to rock music, too! Sometimes I&#160;listen to techno with my friends, as well. One&#160;of my friends is a big&#160;fan!<br />As for TV, I&#160;have to say that our house is the same as yours! The&#160;TV is on a lot, especially after school. We&#160;generally watch TV as a family in the evenings for about two hours. We&#160;usually like to watch soap operas or comedy programmes.<br />Were there a lot of people at the festival? What&#160;type of music was played? Did&#160;any famous bands play at the festival?<br />Write&#160;soon.<br />Best wishes,<br />Dina</td><td data-label="40">Many people say that they would love to become famous&#160;&#8212; perhaps a singer, actor or TV presenter. Of&#160;course, in many ways the life of a famous person is fantastic, but there are definitely some negative aspects of the celebrity lifestyle, too.<br />There are some obvious advantages to being a famous celebrity.<br />Firstly, a celebrity&#8217;s lifestyle usually brings many great opportunities. A&#160;famous singer, for example, travels all over the world, stays in luxury hotels and meets interesting people. In&#160;addition, famous people earn a lot more money than most people and can afford things such as large houses, designer clothes and luxury holidays. Finally, famous people are living their dreams, which must be very satisfying.<br />On the other hand, there are some clear disadvantages to being famous. First of all, you are recognised everywhere you go. You&#160;can no longer go for a walk in your neighbourhood or pop to the shops without being followed and photographed by&#160;the media or even by&#160;fans. Even&#160;worse, the media often print unpleasant or untrue stories about you in newspapers and magazines.<br />Lastly, some famous people find that fame and money do not bring them happiness. Eventually, their stressful celebrity lifestyles cause them to have problems such as depression or even&#160;worse.<br />To sum up, while a celebrity lifestyle can be easier and more fun than a normal lifestyle in many ways, it can be very stressful. Personally, I&#160;would not really like to be famous!</td></tr><tr><td data-label="">16</td><td data-label="33&#160;/ 39">Dear Sir,<br />I recently stayed at your bed and breakfast and had a very nice&#160;time.<br />Unfortunately, however, when I&#160;got home I&#160;realised that I&#160;didn&#8217;t have my diary and that I&#160;must have left it in my&#160;room.<br />I think that I&#160;left the diary in the top drawer of the bedside table on the right-hand side of my bed. I&#160;was staying in room 12. The&#160;diary is quite large and it is pink with a yellow flowery pattern on&#160;it.<br />I would be extremely grateful if you could send my diary back to me at the above address if you find it. I&#160;would be happy to send you a cheque to cover the postage&#160;costs.<br />Thank you in advance.<br />Yours faithfully,<br />Mary Waters</td><td data-label="40">Everyone has a special place they have fond memories of, somewhere that remains dear to them. For&#160;me, that place is Long Sault in Ontario, Canada. It&#8217;s my favourite spot in the world because that&#8217;s where I&#160;spent many happy summers as a&#160;child.<br />Long Sault is a beautiful area made up of eleven islands connected by&#160;bridges. These islands were formed after the flooding of the St Lawrence River in the 1950s.<br />Around these picturesque islands with their tall, green grass and the occasional wooded area, are pretty sandy beaches and areas of rock from where travellers can fish or swim. There is so much to do there; hiking for outdoor enthusiasts, bird watching, camping, kayaking, golf and even goose feeding.<br />I have so many fond memories of Long Sault. My&#160;cousins and I&#160;spent many mornings there looking under colourful rocks for crayfish and crabs. That&#8217;s the place where I&#160;hooked my first worm, caught my first fish and climbed my first tree. In&#160;the evenings, my uncle would always make a campfire and we&#8217;d barbecue whatever we had managed to catch during the&#160;day.<br />Even though I&#8217;m currently living nowhere near Long Sault, I&#160;will never forget the place which gave me so many unforgettable memories. Sometimes when I&#160;close my eyes, I&#160;feel like I&#160;am experiencing those moments again</td></tr><tr><td data-label="">17</td><td data-label="33&#160;/ 39">Dear Becky,<br />Thanks for your letter. How&#160;are&#160;you?<br />It was interesting to hear about homes in Great Britain.<br />We&#8217;ve just moved to a bigger flat, so now my sister and I&#160;have our own bedrooms. It&#8217;s great&#160;&#8212; I&#160;have enough space for all my belongings now. Most&#160;people in Russian towns and cities live in apartment blocks and unfortunately, often the apartments can be a little small for a family. I&#160;think I&#160;would rather live in the countryside than the town. It&#8217;s a lot quieter, there isn&#8217;t a lot of traffic or pollution and people are usually friendlier than in towns and cities.<br />Did you have a nice time staying with your uncle in Wales? Did&#160;you get up early to help milk the cows? Does&#160;your uncle have any other animals?<br />Write back&#160;soon.<br />Love,<br />Maxim</td><td data-label="40">Everyone agrees that teenagers should do some form of physical activity to stay healthy, but are sports the answer? In&#160;my opinion the answers is yes; all teenagers should take part in sports.<br />In the first place, doing sports has many health benefits.<br />For example, sports help teenagers stay physically fit and control their weight. Furthermore, sports help teens to increase their overall strength and coordination. In&#160;addition to the physical benefits of sports, there are also many psychological benefits. For&#160;instance, team sports teach social skills, teamwork skills and respect for authority, not to mention the fact that sports help increase one&#8217;s confidence. This&#160;often results in improved academic performance.<br />On the other hand, some argue that sports are not for everyone and that other activities have similar benefits.<br />Simply walking to school instead of catching a bus would keep a teen quite fit, for example, and taking part in a reading club would help improve social skills and confidence. Moreover, sports can create stress for some teens by&#160;putting pressure on them to be as good as their teammates. Not&#160;all sports are competitive team sports, however, and teenagers should be&#160;able&#160;to find one that suits&#160;them.<br />To conclude, I&#160;believe that sports should have a place in every teenager&#8217;s life. Besides the obvious physical benefits, teenagers develop important skills and build self-esteem through sports. Young people should all learn how to take care of their bodies and minds so that they continue doing this throughout their lives</td></tr><tr><td data-label="">18</td><td data-label="33&#160;/ 39">Dear Monica,<br />It was great to hear from you! I&#8217;m sure you&#8217;ll have lots of fun at the wedding.<br />What about giving a traditional gift made of silver that the couple can keep forever? Or&#160;some money, which is what Russians usually give? A&#160;traditional Russian wedding is a huge celebration that can last several days. It&#160;starts with the groom picking up the bride at her home. The&#160;couple usually has a church ceremony followed by&#160;a civil one. There is usually lots of dancing, food and drink at the reception afterwards.<br />Weddings are great but my favourite Russian celebration is New Year&#8217;s Eve because of all the gifts and parties.<br />Your creative writing course sounds very interesting! What&#160;made you decide to take the course? Is&#160;it expensive? What&#160;do you write&#160;about?<br />Write&#160;soon.<br />Love,<br />Irene</td><td data-label="40">Mark Twain once said that &#8216;clothes make the man&#8217;, but is this really true? Nowadays, appearance and dress are very important to many school pupils, but many of them have to wear a uniform when they are at school. In&#160;my view, school uniforms are a good idea because they help avoid some potential problems.<br />To begin with, school uniforms help to reduce the amount of peer pressure that young people experience at school. If&#160;everyone has to wear the same clothes, noone can be teased or bullied because they are not wearing the latest fashions. Also, pupils can concentrate more on learning because they are no longer so worried about how they look. Furthermore, it is usually cheaper for parents if their children have to wear a uniform because they don&#8217;t have to buy lots of expensive fashionable outfits. Finally, wearing a uniform helps give pupils a sense of identity.<br />Opponents of this view argue that school uniforms prevent pupils from expressing their individuality through their clothes. However, there are many other ways in which students can express themselves&#160;&#8212; through taking part in school clubs and activities such as sports teams or the school newspaper, for example.<br />To sum up, in my opinion clothes do not make the man. Therefore, I&#160;believe that it is a good idea for school pupils to wear a school uniform because it promotes equality and a sense of belonging</td></tr><tr><td data-label="">19</td><td data-label="33&#160;/ 39">Dear Jamie,<br />Thanks for your letter. Enjoy your new computer!<br />I don&#8217;t have my own computer, but I&#160;often go to an Internet caf&#233; near my house. I&#160;usually do research on the Internet there for my school work. I&#160;also send a lot of emails to friends and family. Also, when I&#160;have free time, I&#160;like to play some of the online games with my friends at the caf&#233;. We&#160;have a great time! I&#160;would love to have an MP3 player, so I&#160;could download my favourite music from the Internet to listen to whenever I&#160;wanted.<br />I&#8217;m sorry to hear about your arm. Get&#160;well soon. How&#160;did it happen? Are&#160;you wearing a cast? How&#160;long will it take to get better?<br />Hope to hear from you&#160;soon.<br />Best wishes,<br />Sergey</td><td data-label="40">Which is a better place to live, the city or the country?<br />Well, in my opinion, there are pros and cons of both, but personally I&#160;would much rather live in the&#160;city.<br />First of all, there is a wider range of jobs and careers available in the city than in the country. Very&#160;often, cities also have better education and health services. In&#160;addition, a variety of different kinds of people and cultures are usually represented in a city, which creates a very interesting environment. Moreover, big cities have better entertainment facilities such as shops, cinemas, theatres, galleries and sports centres. Lastly, public transport is better in the city than in the country, which makes it easier to get around.<br />On the other hand, many argue that city life can be very stressful. Also, they say that people in the country are friendlier and take better care of each other. This&#160;may be true, but it is usually not too hard to make good friends in a city. Also, there are many ways to deal with stress in a city, such as enjoying a relaxing walk in a park or going to a concert, a leisure centre or an outdoor festival.<br />All in all, I&#160;would prefer to live in a city because I&#160;believe that cities offer more opportunities and a far more interesting lifestyle than living in the country. It&#160;is often said that &#8216;variety is the spice of life&#8217; and variety can definitely be found in cities</td></tr><tr><td data-label="">20</td><td data-label="33&#160;/ 39">Dear Mr Burns,<br />Our school is holding its Careers Day on 21st May this year and we would very much like you to come to the school and give a&#160;talk.<br />The Careers Day is an opportunity for students to learn about different career opportunities. As&#160;you are a successful businessman, we would appreciate hearing about what makes a business successful and what careers and types of businesses you think will be most important in the future. The&#160;talk would be about half an hour long and would take place in the school gym at about 11&#160;am.<br />I would be grateful if you could let me know whether you are able to accept our invitation as soon as possible. You&#160;can contact me at the above number.<br />I&#8217;m looking forward to hearing from&#160;you.<br />Yours sincerely,<br />Ivan Nikitin</td><td data-label="40">It is often said that children are the key to the future and this is certainly true with regards to the environment.<br />Fortunately, there are many ways to teach young people how to care for the environment.<br />To begin with, schools need to get more involved in environmental education. They&#160;could organise environment days, for example. These encourage students to think about different environmental issues and how they can get involved. Another way schools can educate students is by&#160;starting different programmes such as recycling and composting projects. As&#160;a result, students will grow up understanding how good habits make a difference in solving environmental problems.<br />Communities and families can also get involved in educating children about the environment. Local councils could organise events such as tree-planting or littercollecting days, for example. Consequently, young people would not only learn about these issues, but see the results of their actions, too. Finally, parents need to set good examples by&#160;being environmentally-friendly at home. They&#160;should recycle and save water and electricity, for instance. In&#160;this way, children will probably continue with the same habits when they have houses of their&#160;own.<br />All things considered, communities, families and schools can all successfully encourage children to care for the environment. By&#160;doing so, they can help to make sure that future generations will protect the planet</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Афанасьева&#160;О., Эванс&#160;В., Копылова&#160;В. Practice Exam Papers for the Russian National Exam. Teacher&#8217;s Book. Revised Edition. Английский язык. Тренировочные задания ЕГЭ. Книга для учителя. Издание исправленное. &#169;&#160;Express Publishing 2010, P. 11-163, 203-211)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
