				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Common Mistakes Test Advanced</h1><p class="larger bolder">All the sentences contain common mistakes. Write the corrections.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Test</option>
									<option value="#a2">Answer Key</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Test</h2></div><div class="holder-hidden-layer"><ol><li>Look always in the mirror before you start driving.</li><li>Here is coming my bus.</li><li>It&#8217;s saying in today&#8217;s paper that there&#8217;s going to be another strike.</li><li>When I&#160;was a&#160;child, I&#160;was playing a&#160;lot of basketball.</li><li>It happened while I&#160;stayed in Ireland.</li><li>&#8216;How long are you here for?&#8217; &#8216;Since March.&#8217;.</li><li>Who has given you that?</li><li>We visit my sister every few days since we&#8217;ve bought the car.</li><li>I had left a&#160;coat to be repaired. Is&#160;it ready?</li><li>I could get in touch with Martin yesterday, at last.</li><li>Use my phone? Yes, of course you could.</li><li>She only left a&#160;few minutes ago: she mustn&#8217;t be home yet.</li><li>I&#8217;m not sure where Sarah is. She&#160;can be with Jason.</li><li>May you change your job soon?</li><li>They don&#8217;t allow people parking in front of the factory.</li><li>I can&#8217;t think of anybody whom to ask for help.</li><li>These pills are to take three times a&#160;day.</li><li>This material is impossible to catch fire.</li><li>This box is too heavy to lift it.</li><li>I had trouble in my first term, because I&#160;wasn&#8217;t used to write long essays.</li><li>The talking to the driver is strictly forbidden.</li><li>He&#8217;s doing researches on low-temperature physics.</li><li>The biggest time-waster in our office are meetings.</li><li>We need a&#160;five-litres can of oil.</li><li>I had a&#160;disappointment feeling when I&#160;saw my exam results.</li><li>Pete&#8217;s and Ann&#8217;s new house is lovely.</li><li>I&#8217;ve forgotten their street&#8217;s name.</li><li>I especially like mountain&#8217;s flowers.</li><li>In the 17th century one believed in witches.</li><li>Do you want a&#160;plain one or a&#160;one with cream?</li><li>My children are more interested in parties than in the nature.</li><li>The number of the unemployed is rising steadily.</li><li>My brother works at the Birmingham Airport.</li><li>Whole Venice was under water.</li><li>She fell unconsciously on the floor.</li><li>I got talking to a&#160;nice and old woman on the bus.</li><li>The questioned students were released and allowed to go home..</li><li>More you smile, more you look beautiful.</li><li>I&#8217;m impressed by your so excellent English.</li><li>Our house is among the woods, the river and the village.</li><li>There&#8217;s a&#160;supermarket just across the street, directly in front of our house.</li><li>In a&#160;better world you would be free to say what you would think.</li><li>I&#8217;m busy today: I&#8217;d rather you come tomorrow.</li><li>It&#8217;s time they go home.</li><li>I wish I&#160;would have more free time.</li><li>We&#8217;ll go skiing next weekend in case the snow&#8217;s good.</li><li>I had supper, then I&#160;phoned Jean.</li><li>It was cold, however it was pleasant.</li><li>At no time she said anything about her illness.</li><li>Is it going to rain? I&#160;don&#8217;t hope so.</li></ol></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Answer Key</h2></div><div class="holder-hidden-layer"><ol><li>Always look &#8230;</li><li>Here comes &#8230;</li><li>It says &#8230;</li><li>&#8230; I&#160;played &#8230;</li><li>&#8230; while I&#160;was staying &#8230;</li><li>&#8216;How long have you been &#8230;&#8217;&#160;/ &#8216;&#8230; Until &#8230;&#8217;.</li><li>Who gave &#8230;</li><li>&#8230; since we bought &#8230;&#160;/ &#8230; since buying &#8230;</li><li>I left &#8230;</li><li>I managed to (was able to) get in touch &#8230; &#160;/ I&#160;succeeded in getting in touch &#8230;</li><li>&#8230; of course you can.</li><li>&#8230; she can&#8217;t be home yet.</li><li>&#8230; She&#160;may&#160;/ might&#160;/ could be &#8230;</li><li>Do you think you may &#8230;.&#160;/ Might you &#8230;?</li><li>They don&#8217;t allow parking&#160;/ people to park &#8230;</li><li>&#8230; anybody to ask &#8230;</li><li>&#8230; to be taken &#8230;</li><li>&#8230; cannot catch fire.&#160;/ It&#8217;s impossible for this material to catch fire.</li><li>&#8230; too heavy to lift.</li><li>&#8230; used to writing &#8230;</li><li>Talking to the driver &#8230;</li><li>&#8230; (some) research &#8230;</li><li>&#8230; is meetings.</li><li>&#8230; a&#160;five-litre can &#8230;</li><li>&#8230; a&#160;feeling of disappointment.</li><li>Pete and Ann&#8217;s &#8230;</li><li>&#8230; the name of their street.</li><li>&#8230; mountain flowers.</li><li>&#8230; they believed &#8230;&#160;/ &#8230; people believed.</li><li>&#8230; or one with cream.</li><li>&#8230; than in nature.</li><li>The number of unemployed &#8230;</li><li>&#8230; at Birmingham Airport.</li><li>The whole of Venice &#8230;&#160;/ All of Venice &#8230;</li><li>She fell unconscious &#8230;</li><li>&#8230; a&#160;nice old woman &#8230;</li><li>The students questioned &#8230;</li><li>The more you smile, the more beautiful you look.</li><li>&#8230; your English, which is so excellent.&#160;/ &#8230; your excellent English.</li><li>&#8230; between the woods &#8230;</li><li>&#8230; opposite our house.</li><li>&#8230; to say what you thought.&#160;/ &#8230; what you think.</li><li>&#8230; I&#8217;d rather you came &#8230;</li><li>&#8230; they went home.</li><li>I wish I&#160;had &#8230;</li><li>&#8230; if the snow&#8217;s good.</li><li>I had supper; then I&#160;phoned Jean.</li><li>It was cold; however, it was pleasant.</li><li>At no time did she say &#8230;</li><li>&#8230; I&#160;hope not.</li></ol></div>
								<p class="address" role="contentinfo">&#169;&#160;Michael Swan and Catherine Walter. Oxford English Grammar Course Advanced.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
