				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Essential Grammar in&#160;Use Level Test</h1><p class="larger bolder">Essential Grammar in&#160;Use Level Test с&#160;ответами. Cambridge University Press.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">The Test</option>
									<option value="#a2">Answer Key</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Test</h2></div><div class="holder-hidden-layer"><ol><li>&#8216;Where&#160;___ &#8217; &#8216;She&#8217;s from London.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> is Amy from? <span class="bolder">B</span> Amy is from? <span class="bolder">C</span> does Amy from?</li><li>&#8216;What&#160;___ &#8217; &#8216;Watching television.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> the children are doing? <span class="bolder">B</span> are the children doing? <span class="bolder">C</span> doing the children?</li><li>Rob&#160;___ the guitar very&#160;well.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> doesn&#8217;t play <span class="bolder">B</span> don&#8217;t play <span class="bolder">C</span> not play <span class="bolder">D</span> no play</li><li>What time&#160;___ in the morning?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> are you getting up <span class="bolder">B</span> do you usually get up <span class="bolder">C</span> does you get up</li><li>___ good holiday in America?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> You had <span class="bolder">B</span> Did you had <span class="bolder">C</span> Are you have <span class="bolder">D</span> Did you have</li><li>The taxi&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> does not arrive yet <span class="bolder">B</span> has not arrived yet <span class="bolder">C</span> has not arrive yet</li><li>Sue went to Canada&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> since three years <span class="bolder">B</span> three years ago</li><li>___ school in 2004.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> I&#160;left <span class="bolder">B</span> I&#8217;ve left</li><li>There&#8217;s a good film on TV tonight.&#160;___<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> I&#160;watch it. <span class="bolder">B</span> I&#160;like watching it. <span class="bolder">C</span> I&#8217;m going to watch it.</li><li>Are you going shopping now? No, but&#160;___ later.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> I&#160;might go <span class="bolder">B</span> I&#160;might to go <span class="bolder">C</span> I&#160;might going <span class="bolder">D</span> I&#160;might be go</li><li>I&#160;___ get up early on Saturdays.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> mustn&#8217;t <span class="bolder">B</span> needn&#8217;t to <span class="bolder">C</span> don&#8217;t need to <span class="bolder">D</span> haven&#8217;t to</li><li>We missed the last bus so we&#160;___ walk&#160;home.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> should <span class="bolder">B</span> have to <span class="bolder">C</span> must <span class="bolder">D</span> had to</li><li>What time&#160;___ go shopping this evening?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> you like to <span class="bolder">B</span> do you like to <span class="bolder">C</span> would you like to</li><li>___ anything in the house to eat. I&#8217;m going shopping.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> It isn&#8217;t <span class="bolder">B</span> There aren&#8217;t <span class="bolder">C</span> There isn&#8217;t</li><li>&#8216;Do you agree with me?&#8217; &#8216;Yes,&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> I&#160;do <span class="bolder">B</span> I&#160;am <span class="bolder">C</span> I&#160;have</li><li>Don&#8217;t forget to send me a post card,&#160;___ ?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> do you <span class="bolder">B</span> will you <span class="bolder">C</span> you don&#8217;t <span class="bolder">D</span> won&#8217;t you</li><li>I haven&#8217;t passed my driving test.&#160;___<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> So haven&#8217;t I. <span class="bolder">B</span> Neither have I. <span class="bolder">C</span> Neither do I.</li><li>I&#8217;ve been to Australia, but I&#160;___ to New Zealand.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> haven&#8217;t been <span class="bolder">B</span> didn&#8217;t go <span class="bolder">C</span> didn&#8217;t been</li><li>Why&#160;___ going to the&#160;party?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Diana isn&#8217;t <span class="bolder">B</span> isn&#8217;t Diana <span class="bolder">C</span> Diana not <span class="bolder">D</span> didn&#8217;t Diana</li><li>___ is the capital of the&#160;USA?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> Which <span class="bolder">B</span> Who <span class="bolder">C</span> What</li><li>Rob&#160;___ me he was&#160;ill.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> say <span class="bolder">B</span> told <span class="bolder">C</span> said</li><li>Would you like&#160;___ tonight?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> to go <span class="bolder">B</span> going <span class="bolder">C</span> go</li><li>I really&#160;___ to&#160;music.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> enjoy listen <span class="bolder">B</span> enjoy listening <span class="bolder">C</span> enjoy to listen <span class="bolder">D</span> enjoying listen</li><li>I went to the supermarket&#160;___ some coffee.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> buying <span class="bolder">B</span> buy <span class="bolder">C</span> to buy <span class="bolder">D</span> for buying</li><li>He&#160;___ a stupid mistake and failed his driving&#160;test.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> made <span class="bolder">B</span> did</li><li>Have you seen my car keys? I&#160;can&#8217;t find&#160;___ anywhere.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> him <span class="bolder">B</span> it <span class="bolder">C</span> them <span class="bolder">D</span> they</li><li>___ dog is called&#160;Ruby.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> They <span class="bolder">B</span> Their <span class="bolder">C</span> Them <span class="bolder">D</span> Theirs</li><li>Kate and I&#160;don&#8217;t see&#160;___ very&#160;often.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> themselves <span class="bolder">B</span> us <span class="bolder">C</span> ourselves <span class="bolder">D</span> each other</li><li>Is this your&#160;___ car?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> parents <span class="bolder">B</span> parent&#8217;s <span class="bolder">C</span> parents&#8217;</li><li>Did you have&#160;___ on holiday?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> a good weather <span class="bolder">B</span> good weathers <span class="bolder">C</span> good weather</li><li>Do you think David Beckham is&#160;___ English football player?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> the best <span class="bolder">B</span> best <span class="bolder">C</span> a best</li><li>These jeans are very old. I&#160;need to buy&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> a new one <span class="bolder">B</span> some new ones <span class="bolder">C</span> the new ones <span class="bolder">D</span> new one</li><li>People think it rains&#160;___ the time in England.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> most <span class="bolder">B</span> most of <span class="bolder">C</span> every</li><li>There were&#160;___ seats left on the plane and we got the last&#160;two.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> few <span class="bolder">B</span> a little <span class="bolder">C</span> little <span class="bolder">D</span> a few</li><li>Did your team play&#160;___ ?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> good or bad <span class="bolder">B</span> well or badly <span class="bolder">C</span> well or bad <span class="bolder">D</span> good or badly</li><li>&#8216;Is it much&#160;___ to the airport?&#8217; &#8216;No, about two miles.&#8217;<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> further <span class="bolder">B</span> more far <span class="bolder">C</span> far</li><li>Nina is two years&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> older than me <span class="bolder">B</span> more old as me <span class="bolder">C</span> old than me <span class="bolder">D</span> more old than me</li><li>My car was&#160;___ Peter&#8217;s.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> not as expensive <span class="bolder">B</span> not as expensive than <span class="bolder">C</span> not as expensive as</li><li>Is Tokyo&#160;___ city in the&#160;world?<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> the more expensive <span class="bolder">B</span> most expensive <span class="bolder">C</span> the most expensive</li><li>Kim&#160;___ to buy the new dress she&#160;wants.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> doesn&#8217;t have money enough <span class="bolder">B</span> isn&#8217;t enough money <span class="bolder">C</span> doesn&#8217;t have enough money</li><li>Sam speaks&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> French very well <span class="bolder">B</span> very well French</li><li>I&#160;___ in the evenings.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> go usually out <span class="bolder">B</span> usually go out <span class="bolder">C</span> go out usually</li><li>I&#8217;ve been waiting for 30&#160;minutes and the bus hasn&#8217;t arrived&#160;___ .<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> not yet <span class="bolder">B</span> already <span class="bolder">C</span> yet <span class="bolder">D</span> still</li><li>I want to&#160;___ a really nice birthday present.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> give Mark <span class="bolder">B</span> give to Mark <span class="bolder">C</span> give it to Mark</li><li>They have lived in Canada&#160;___ 1994.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> until <span class="bolder">B</span> since <span class="bolder">C</span> to <span class="bolder">D</span> for</li><li>We stayed&#160;___ my sister&#8217;s house in Oxford.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> to <span class="bolder">B</span> by&#160;<span class="bolder">C</span> at <span class="bolder">D</span> on</li><li>A lot of small children are&#160;___ spiders.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> afraid with <span class="bolder">B</span> afraid about <span class="bolder">C</span> afraid for <span class="bolder">D</span> afraid of</li><li>John&#160;___ and hurt his&#160;leg.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> fell off his bike <span class="bolder">B</span> fell his bike off <span class="bolder">C</span> fell down his bike</li><li>It was very cold&#160;___ all the windows were&#160;open.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> but <span class="bolder">B</span> so <span class="bolder">C</span> because <span class="bolder">D</span> or</li><li>We&#160;___ the plane if we don&#8217;t leave&#160;now.<br />&#160;&#160;&#160;&#160;&#160;<span class="bolder">A</span> would miss <span class="bolder">B</span> are missing <span class="bolder">C</span> miss <span class="bolder">D</span> will miss</li></ol></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Answer Key</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Ответы</th><th>Раздел</th></tr></thead><tbody><tr><td data-label="Ответы">1:A</td><td data-label="Раздел">Units&#160;1, 2</td></tr><tr><td data-label="Ответы">2:B</td><td data-label="Раздел">Units&#160;3, 4</td></tr><tr><td data-label="Ответы">3:A</td><td data-label="Раздел">Units&#160;5, 6</td></tr><tr><td data-label="Ответы">4:B</td><td data-label="Раздел">Units&#160;7, 8</td></tr><tr><td data-label="Ответы">5:D</td><td data-label="Раздел">Unit&#160;12</td></tr><tr><td data-label="Ответы">6:B</td><td data-label="Раздел">Units&#160;15, 16</td></tr><tr><td data-label="Ответы">7:B</td><td data-label="Раздел">Unit&#160;19</td></tr><tr><td data-label="Ответы">8:A</td><td data-label="Раздел">Unit&#160;20</td></tr><tr><td data-label="Ответы">9:C</td><td data-label="Раздел">Units&#160;26, 27, 29</td></tr><tr><td data-label="Ответы">10:A</td><td data-label="Раздел">Unit&#160;30</td></tr><tr><td data-label="Ответы">11:C</td><td data-label="Раздел">Units&#160;32, 34</td></tr><tr><td data-label="Ответы">12:D</td><td data-label="Раздел">Units&#160;32, 33, 34</td></tr><tr><td data-label="Ответы">13:C</td><td data-label="Раздел">Unit&#160;35</td></tr><tr><td data-label="Ответы">14:C</td><td data-label="Раздел">Unit&#160;36</td></tr><tr><td data-label="Ответы">15:A</td><td data-label="Раздел">Unit&#160;39</td></tr><tr><td data-label="Ответы">16:B</td><td data-label="Раздел">Unit&#160;40</td></tr><tr><td data-label="Ответы">17:B</td><td data-label="Раздел">Unit&#160;41</td></tr><tr><td data-label="Ответы">18:A</td><td data-label="Раздел">Unit&#160;42</td></tr><tr><td data-label="Ответы">19:B</td><td data-label="Раздел">Unit&#160;43</td></tr><tr><td data-label="Ответы">20:C</td><td data-label="Раздел">Unit&#160;46</td></tr><tr><td data-label="Ответы">21:B</td><td data-label="Раздел">Unit&#160;49</td></tr><tr><td data-label="Ответы">22:A</td><td data-label="Раздел">Units&#160;35, 50</td></tr><tr><td data-label="Ответы">23:B</td><td data-label="Раздел">Units&#160;51, 52</td></tr><tr><td data-label="Ответы">24:C</td><td data-label="Раздел">Unit&#160;53</td></tr><tr><td data-label="Ответы">25:A</td><td data-label="Раздел">Unit&#160;56</td></tr><tr><td data-label="Ответы">26:C</td><td data-label="Раздел">Unit&#160;58</td></tr><tr><td data-label="Ответы">27:B</td><td data-label="Раздел">Unit&#160;61</td></tr><tr><td data-label="Ответы">28:D</td><td data-label="Раздел">Unit&#160;62</td></tr><tr><td data-label="Ответы">29:C</td><td data-label="Раздел">Unit&#160;63</td></tr><tr><td data-label="Ответы">30:C</td><td data-label="Раздел">Units&#160;66, 67</td></tr><tr><td data-label="Ответы">31:A</td><td data-label="Раздел">Unit&#160;69</td></tr><tr><td data-label="Ответы">32:B</td><td data-label="Раздел">Unit&#160;74</td></tr><tr><td data-label="Ответы">33:B</td><td data-label="Раздел">Unit&#160;80</td></tr><tr><td data-label="Ответы">34:A</td><td data-label="Раздел">Unit&#160;83</td></tr><tr><td data-label="Ответы">35:B</td><td data-label="Раздел">Unit&#160;85</td></tr><tr><td data-label="Ответы">36:A</td><td data-label="Раздел">Unit&#160;86</td></tr><tr><td data-label="Ответы">37:A</td><td data-label="Раздел">Unit&#160;87</td></tr><tr><td data-label="Ответы">38:C</td><td data-label="Раздел">Unit&#160;88</td></tr><tr><td data-label="Ответы">39:C</td><td data-label="Раздел">Unit&#160;89</td></tr><tr><td data-label="Ответы">40:C</td><td data-label="Раздел">Unit&#160;90</td></tr><tr><td data-label="Ответы">41:A</td><td data-label="Раздел">Unit&#160;92</td></tr><tr><td data-label="Ответы">42:B</td><td data-label="Раздел">Unit&#160;93</td></tr><tr><td data-label="Ответы">43:C</td><td data-label="Раздел">Unit&#160;94</td></tr><tr><td data-label="Ответы">44:A</td><td data-label="Раздел">Unit&#160;95</td></tr><tr><td data-label="Ответы">45:B</td><td data-label="Раздел">Unit&#160;97</td></tr><tr><td data-label="Ответы">46:C</td><td data-label="Раздел">Unit&#160;101</td></tr><tr><td data-label="Ответы">47:D</td><td data-label="Раздел">Unit&#160;105</td></tr><tr><td data-label="Ответы">48:A</td><td data-label="Раздел">Units&#160;107, 108</td></tr><tr><td data-label="Ответы">49:C</td><td data-label="Раздел">Unit&#160;109</td></tr><tr><td data-label="Ответы">50:D</td><td data-label="Раздел">Units&#160;111, 112</td></tr></tbody></table><p class="address" role="contentinfo">&#169;&#160;Cambridge University Press 2006&#160;Essential Grammar in&#160;Use Photocopiable</p></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
