				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">May&#160;/ might&#160;/ be&#160;allowed&#160;to</h1><p class="larger bolder">May&#160;&#8212; вероятность и&#160;разрешение, might&#160;&#8212; вероятность, be&#160;allowed&#160;to&#160;&#8212; разрешение.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">May&#160;/ might = вероятность в&#160;настоящем и&#160;будущем</option>
									<option value="#a2">May = be&#160;allowed&#160;to = разрешение в&#160;настоящем и&#160;будущем</option>
									<option value="#a3">May в&#160;воросах = только разрешение</option>
									<option value="#a4">Might используют для предположений в&#160;настоящем и&#160;будущем</option>
									<option value="#a5">Might не&#160;используют для разрешений в&#160;прошлом</option>
									<option value="#a6">May не&#160;имеет форм будущего времени</option>
									<option value="#a7">May&#160;/ might + have done = события прошлого</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">May&#160;/ might = вероятность в&#160;настоящем и&#160;будущем</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">I may come to the party.</span></td><td data-label="Значение">Я, наверное, приду на&#160;вечеринку. (высокая вероятность)</td></tr><tr><td data-label="Пример"><span class="italic">I might come to the party.</span></td><td data-label="Значение">Я, может быть, приду на&#160;вечеринку. (низкая вероятность)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">May = be&#160;allowed&#160;to = разрешение в&#160;настоящем и&#160;будущем</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">I may come to the party. (I am allowed to come to the party.)</span></td><td data-label="Значение">Я могу прийти на&#160;вечеринку. (разрешение)</td></tr><tr><td data-label="Пример"><span class="italic">You may not come here. (You are not allowed to come here.)</span></td><td data-label="Значение">Не смей сюда приходить. (разрешение)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">May в&#160;воросах = только разрешение</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Слишком формально</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">May I&#160;come in?</span></td><td data-label="Правильно"><span class="italic">Am I&#160;allowed to come in?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Might используют для предположений в&#160;настоящем и&#160;будущем</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">After I&#160;finish my work I&#160;might have a rest for a while.</span></td><td data-label="Значение">Закончу работу и, наверное, отдохну немного. (вероятность)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Might не&#160;используют для разрешений в&#160;прошлом</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">I <span class="bolder">was allowed to</span> see the papers after I&#160;had been granted the permission.</span></td><td data-label="Неправильно"><span class="italic">I might see the papers after I&#160;had been granted the permission.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">May не&#160;имеет форм будущего времени</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">Will we be&#160;allowed&#160;to go to the movies late in the evening?</span></td><td data-label="Значение">Разрешат&#160;ли нам пойти в&#160;кино поздним вечером?</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">May&#160;/ might + have done = события прошлого</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">He may have been busy.</span></td><td data-label="Значение">Он, наверное, был занят. (высокая вероятность)</td></tr><tr><td data-label="Пример"><span class="italic">He might have been busy.</span></td><td data-label="Значение">Я, может быть, был занят. (низкая вероятность)</td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
