				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Much&#160;/ many&#160;/ little&#160;/ few</h1><p class="larger bolder">Не ставьте &#171;much&#187; в&#160;утвердительных предложениях, если перед ним не&#160;стоит &#171;so&#160;/ very&#160;/ too&#187;. Действия, а не&#160;предметы характеризуйте, используя &#171;a lot&#160;/ much&#160;/ little&#160;/ a little&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Много чего-то</option>
									<option value="#a2">Делать что-то много</option>
									<option value="#a3">Мало чего-то</option>
									<option value="#a4">Немного чего-то</option>
									<option value="#a5">Делать что-то мало</option>
									<option value="#a6">Делать что-то немного</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Много чего-то</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>&#160;</th><th>Исчисляемые</th><th>Неисчисляемые</th></tr></thead><tbody><tr><td data-label="">Утвердительное</td><td data-label="Исчисляемые"><span class="italic">There are <span class="bolder">a lot of&#160;/ many</span> cars on the street.</span></td><td data-label="Неисчисляемые"><span class="italic">There is <span class="bolder">a lot of</span> snow on the street.</span></td></tr><tr><td data-label="">Отрицательное</td><td data-label="Исчисляемые"><span class="italic">There aren&#8217;t <span class="bolder">a lot of&#160;/ many</span> cars on the street.</span></td><td data-label="Неисчисляемые"><span class="italic">There isn&#8217;t <span class="bolder">a lot of&#160;/ much</span> snow on the street.</span></td></tr><tr><td data-label="">Вопросительное</td><td data-label="Исчисляемые"><span class="italic">Are there <span class="bolder">a lot of&#160;/ many</span> cars on the street?</span></td><td data-label="Неисчисляемые"><span class="italic">Is there <span class="bolder">a lot of&#160;/ much</span> snow on the street?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Делать что-то много</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><tbody><tr><td data-label="">Утвердительное</td><td data-label=""><span class="italic">He drinks coffee <span class="bolder">a lot</span>.</span></td></tr><tr><td data-label="">Отрицательное</td><td data-label=""><span class="italic">He doesn&#8217;t drink coffee <span class="bolder">much</span>.</span></td></tr><tr><td data-label="">Вопросительное</td><td data-label=""><span class="italic">Does he drink coffee <span class="bolder">much</span>?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Мало чего-то</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Исчисляемые</th><th>Неисчисляемые</th></tr></thead><tbody><tr><td data-label="Исчисляемые"><span class="italic"> I&#8217;ve got <span class="bolder">little</span> time.</span></td><td data-label="Неисчисляемые"><span class="italic"> There are <span class="bolder">few</span> passengers on the bus.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Немного чего-то</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Исчисляемые</th><th>Неисчисляемые</th></tr></thead><tbody><tr><td data-label="Исчисляемые"><span class="italic"> I&#8217;ve got <span class="bolder">a little</span> time.</span></td><td data-label="Неисчисляемые"><span class="italic"> There are <span class="bolder">a few</span> passengers on the bus.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Делать что-то мало</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><tbody><tr><td data-label=""><span class="italic">He spoke <span class="bolder">little</span> English, so it was difficult to communicate with him.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Делать что-то немного</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><tbody><tr><td data-label=""><span class="italic"> He spoke <span class="bolder">a little</span> English, so we were able to communicate with him.</span></td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
