				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Порядок определений</h1><p class="larger bolder">Ставьте атрибуты в&#160;следующем порядке: 1) артикль&#160;/ указательное местоимение&#160;/ существительное в&#160;притяжательном падеже, 2) порядковое числительное&#160;/ only, 3) количественное числительное&#160;/ other&#160;/ many, 4) прилагательное в&#160;функции описательного определения (качество), 5) little&#160;/ old&#160;/ new, 6) цвет, 7) прилагательное в&#160;функции классифицирующего определения (происхождение), 8) существительное в&#160;функции препозитивного определения (материал), 9) и&#160;уже последним определяемое существительное.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Примеры</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Примеры</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>&#160;</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th></tr></thead><tbody><tr><td data-label="">артикль, указательное местоимение, существительное в&#160;притяжательном падеже</td><td data-label="1"><span class="italic">the</span></td><td data-label="2"><span class="italic">those</span></td><td data-label="3"><span class="italic">my brother&#39;s</span></td><td data-label="4"><span class="italic">a</span></td><td data-label="5"><span class="italic">the</span></td></tr><tr><td data-label="">порядковое числительное, <span class="bolder">only</span></td><td data-label="1">&#160;</td><td data-label="2">&#160;</td><td data-label="3">&#160;</td><td data-label="4">&#160;</td><td data-label="5"><span class="italic">only</span></td></tr><tr><td data-label="">количественное числительное, <span class="bolder">other, many</span></td><td data-label="1"><span class="italic">three</span></td><td data-label="2"><span class="italic">other</span></td><td data-label="3">&#160;</td><td data-label="4">&#160;</td><td data-label="5">&#160;</td></tr><tr><td data-label="">прилагательное* в&#160;функции описательного определения (качество)</td><td data-label="1"><span class="italic">small</span></td><td data-label="2">&#160;</td><td data-label="3">&#160;</td><td data-label="4"><span class="italic">nice</span></td><td data-label="5"><span class="italic">outstanding</span></td></tr><tr><td data-label=""><span class="bolder">little, old, new</span></td><td data-label="1">&#160;</td><td data-label="2"><span class="italic">little</span></td><td data-label="3"><span class="italic">new</span></td><td data-label="4"><span class="italic">old</span></td><td data-label="5">&#160;</td></tr><tr><td data-label="">цвет</td><td data-label="1"><span class="italic">red</span></td><td data-label="2">&#160;</td><td data-label="3">&#160;</td><td data-label="4">&#160;</td><td data-label="5">&#160;</td></tr><tr><td data-label="">прилагательное* в&#160;функции классифицирующего определения (происхождение)</td><td data-label="1">&#160;</td><td data-label="2">&#160;</td><td data-label="3">&#160;</td><td data-label="4"><span class="italic">Persian</span></td><td data-label="5"><span class="italic">literary</span></td></tr><tr><td data-label="">существительное в&#160;функции препозитивного определения (материал)</td><td data-label="1"><span class="italic">brick</span></td><td data-label="2"><span class="italic">iron</span></td><td data-label="3"><span class="italic">dacron</span></td><td data-label="4">&#160;</td><td data-label="5">&#160;</td></tr><tr><td data-label="">определяемое существительное</td><td data-label="1"><span class="italic">cottages</span></td><td data-label="2"><span class="italic">boxes</span></td><td data-label="3"><span class="italic">jacket</span></td><td data-label="4"><span class="italic">rug</span></td><td data-label="5"><span class="italic">critic</span></td></tr></tbody></table><p>(*) Русские прилагательные делятся на&#160;качественные (светлый, безобразный), относительные (деревянный, английский) и&#160;притяжательные (заячий, отцовский). Характерный признак качественных прилагательных&#160;&#8212; то, что у&#160;них могут быть степени сравнения (более светлый, самый светлый) и&#160;краткая форма (светел).</p></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
