				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Glossary of&#160;Grammatical Terms</h1><p class="larger bolder">Мини-словарь специальных терминов английской грамматики. Полезен для понимания правил, которые неизбежно используют профессиональную лексику.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Список</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Список</h2></div><div class="holder-hidden-layer"><table class="respond table sort" id="table-sort-1"><caption></caption><thead><tr><th>Термин</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Термин"><span class="bolder">abstract noun (абстрактное существительное)</span></td><td data-label="Значение">a noun used to describe a&#160;quality, idea, or experience rather than something physical or concrete; e.g. <span class="italic">joy</span>, <span class="italic">size</span>, <span class="italic">language</span>. Compare with <span class="bolder">concrete noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">active (действительный)</span></td><td data-label="Значение">used for describing verb phrases such as <span class="italic">gives</span>, and <span class="italic">has made</span>, where the subject is the person or thing doing the action or responsible for the action. Compare with <span class="bolder">passive</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adjectival clause (определительное придаточное предложение)</span></td><td data-label="Значение">another name for <span class="bolder">relative clause</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adjective (прилагательное)</span></td><td data-label="Значение">a word used to tell you more about a&#160;thing, such as its appearance, colour, size, or other qualities; e.g.&#8230; <span class="italic">a</span> <span class="highlight"><span class="italic">pretty blue</span></span> <span class="italic">dress</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb (наречие)</span></td><td data-label="Значение">a word that gives more information about when, how, where, or in what circumstances something happens; e.g. <span class="italic">quickly</span>, <span class="italic">now</span>. There are several different kinds of adverb; adverbs of degree, manner, place, time, duration, and frequency. There are also <span class="bolder">focusing adverbs</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverbial (наречный)</span></td><td data-label="Значение">a word or combination of words added to a&#160;clause to give more information about time, place, or manner. See&#160;also <span class="bolder">sentence adverbial</span> and <span class="bolder">sentence connector</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb of degree (наречие степени)</span></td><td data-label="Значение">an adverb indicating the amount or extent of a&#160;feeling or quality; e.g. <span class="italic">extremely</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb&#160;/ adverbial of duration (наречие времени)</span></td><td data-label="Значение">an adverb or adverbial indicating how long something lasts; e.g. <span class="italic">briefly</span>, <span class="italic">for a&#160;long time</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb&#160;/ adverbial of frequency (частотное наречие)</span></td><td data-label="Значение">an adverb or adverbial indicating how often something happens; e.g. <span class="italic">often</span>, <span class="italic">once a&#160;week</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb of manner (наречие образа действия)</span></td><td data-label="Значение">an adverb indicating the way in which something happens or is done; e.g. <span class="italic">carefully</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb of place (наречие места)</span></td><td data-label="Значение">an adverb that gives more information about position or direction; e.g. <span class="italic">Move</span> <span class="highlight"><span class="italic">closer</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">adverb particle (наречная частица)</span></td><td data-label="Значение">an adverb used as part of a&#160;phrasal verb; e.g. <span class="italic">hide</span> <span class="highlight"><span class="italic">out</span></span>, <span class="italic">sit</span> <span class="highlight"><span class="italic">up</span></span>, <span class="italic">turn</span> <span class="highlight"><span class="italic">round</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">affirmative (утвердительное предложение)</span></td><td data-label="Значение">not containing a&#160;negative word. Also&#160;called <span class="bolder">positive</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">agent (исполнитель)</span></td><td data-label="Значение">another name for <span class="bolder">performer</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">agreement (согласование)</span></td><td data-label="Значение">the relationship between a&#160;subject and its verb, or between a&#160;number or determiner and its noun; e.g. <span class="italic">I look/she looks</span>&#8230; <span class="italic">one bell/three bells</span>. Also&#160;called <span class="bolder">concord</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">apostrophe s</span></td><td data-label="Значение">an ending (&#8217;s) added to a&#160;noun to mark possession; e.g.&#8230; <span class="highlight"><span class="italic">Harriet&#8217;s</span></span> <span class="italic">daughter</span>&#8230; <span class="highlight"><span class="italic">the professor&#8217;s</span></span> <span class="italic">husband</span>&#8230; <span class="highlight"><span class="italic">the Managing Director&#8217;s</span></span> <span class="italic">secretary</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">article (артикль)</span></td><td data-label="Значение">see <span class="bolder">definite article</span>, <span class="bolder">indefinite article</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">aspect (вид)</span></td><td data-label="Значение">the use of verb forms to show whether an action is continuing, repeated, or finished.</td></tr><tr><td data-label="Термин"><span class="bolder">attributive (определительный)</span></td><td data-label="Значение">used for describing the position of adjectives when they are used in front of a&#160;noun. Compare with <span class="bolder">predicative</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">auxiliary verb (вспомогательный глагол)</span></td><td data-label="Значение">one of the verbs <span class="italic">be</span>, <span class="italic">have</span>, and <span class="italic">do</span> when they are used with a&#160;main verb to make verb forms, negatives, questions, and so on. Also&#160;called <span class="bolder">auxiliary</span>. <span class="bolder">Modals</span> are also auxiliary verbs.</td></tr><tr><td data-label="Термин"><span class="bolder">bare infinitive (инфинитив без частицы &#171;to&#187;)</span></td><td data-label="Значение">another name for <span class="bolder">infinitive without to</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">base form (базовая форма)</span></td><td data-label="Значение">the form of a&#160;verb that has no letters added to the end and is not a&#160;past form; e.g. <span class="italic">walk</span>, <span class="italic">go</span>, <span class="italic">have</span>, <span class="italic">be</span>. The&#160;base form is the form you look up in a&#160;dictionary.</td></tr><tr><td data-label="Термин"><span class="bolder">broad negative (косвенное отрицание)</span></td><td data-label="Значение">one of a&#160;small group of adverbs including <span class="italic">barely</span> and <span class="italic">seldom</span> which are used to make a&#160;statement almost negative; e.g. <span class="italic">I</span> <span class="highlight"><span class="italic">barely</span></span> <span class="italic">knew her</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">cardinal number (количественное числительное)</span></td><td data-label="Значение">a number used for counting; e.g. <span class="italic">one</span>, <span class="italic">seven</span>, <span class="italic">nineteen</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">classifying adjective (прилагательное происхождения)</span></td><td data-label="Значение">an adjective used to identify something as being of a&#160;particular type; e.g. <span class="italic">Indian</span>, <span class="italic">wooden</span>, <span class="italic">mental</span>. They&#160;do not have comparatives or superlatives. Compare with <span class="bolder">qualitative adjective</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">clause (придаточное предложение)</span></td><td data-label="Значение">a group of words containing a&#160;verb. See&#160;also <span class="bolder">main clause</span> and <span class="bolder">subordinate clause</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">clause of manner (придаточное образа действия)</span></td><td data-label="Значение">a subordinate clause that describes the way in which something is done, usually introduced with <span class="italic">as</span> or <span class="italic">like</span>; e.g. <span class="italic">She talks</span> <span class="highlight"><span class="italic">like her mother used to</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">collective noun (собирательное имя существительное)</span></td><td data-label="Значение">a noun that refers to a&#160;group of people or things; e.g. <span class="italic">committee</span>, <span class="italic">team</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">colour adjective (прилагательное цвета)</span></td><td data-label="Значение">an adjective referring to a&#160;colour; e.g. <span class="italic">red</span>, <span class="italic">blue</span>, <span class="italic">scarlet</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">common noun (имя нарицательное)</span></td><td data-label="Значение">a noun used to refer to a&#160;person, thing, or substance; e.g. <span class="italic">sailor</span>, <span class="italic">computer</span>, <span class="italic">glass</span>. Compare with <span class="bolder">proper noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">comparative (сравнительная степень)</span></td><td data-label="Значение">an adjective or adverb with <span class="italic">-er</span> on the end or <span class="italic">more</span> in front of it; e.g. <span class="italic">friendlier</span>, <span class="italic">more important</span>, <span class="italic">more carefully</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">complement (именное словосочетание или прилагательное после глагола, к&#160;которому относится)</span></td><td data-label="Значение">a noun phrase or adjective that comes after a&#160;linking verb such as <span class="italic">be</span>, and gives more information about the subject or object of the clause; e.g. <span class="italic">She is</span> <span class="highlight"><span class="italic">a teacher</span></span>, <span class="italic">She is</span> <span class="highlight"><span class="italic">tired</span></span>, <span class="italic">They made her</span> <span class="highlight"><span class="italic">chairperson</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">complex sentence (сложное предложение)</span></td><td data-label="Значение">a sentence consisting of two or more main clauses linked by a&#160;subordinating conjunction; e.g. <span class="italic">We went inside when it started to rain</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">compound (сложное слово)</span></td><td data-label="Значение">a combination of two or more words functioning as a&#160;unit. For&#160;example, <span class="italic">self-centred</span> and <span class="italic">free-style</span> are compound adjectives, <span class="italic">bus stop</span> and <span class="italic">state of affairs</span> are compound nouns, and <span class="italic">dry-clean</span> and <span class="italic">roller-skate</span> are compound verbs.</td></tr><tr><td data-label="Термин"><span class="bolder">compound sentence (сложносочиненное предложение)</span></td><td data-label="Значение">a sentence consisting of two or more main clauses linked by a&#160;coordinating conjunction; e.g. <span class="italic">They picked her up and took her into the house</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">concessive clause (уступительное придаточное предложение)</span></td><td data-label="Значение">a subordinate clause, usually introduced by <span class="italic">although</span> or <span class="italic">while</span>, that contrasts with a&#160;main clause; e.g. <span class="highlight"><span class="italic">Although I&#160;like her</span></span>, <span class="italic">I find her hard to talk to</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">concord (согласование)</span></td><td data-label="Значение">another name for <span class="bolder">agreement</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">concrete noun (имя существительное, выражающее конкретное понятие)</span></td><td data-label="Значение">a noun that refers to something we can touch or see; e.g. <span class="italic">table</span>, <span class="italic">dress</span>, <span class="italic">flower</span>. Compare with <span class="bolder">abstract noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">conditional clause (условное придаточное предложение)</span></td><td data-label="Значение">a subordinate clause usually starting with <span class="italic">if</span>. The&#160;event described in the main clause depends on the condition described in the subordinate clause; e.g. <span class="highlight"><span class="italic">If it rains</span></span>, <span class="italic">we&#8217;ll go to the cinema</span>&#8230; <span class="italic">They would be rich</span> <span class="highlight"><span class="italic">if they had taken my advice</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">conjunction (союз)</span></td><td data-label="Значение">a word linking together two clauses, phrases, or words. There are two types of conjunction&#160;&#8212; <span class="bolder">coordinating conjunctions</span>, which link parts of a&#160;sentence of the same grammatical type (<span class="italic">and</span>, <span class="italic">but</span>, <span class="italic">or</span>), and <span class="bolder">subordinating conjunctions</span>, which begin subordinate clauses (<span class="italic">although</span>, <span class="italic">when</span>).</td></tr><tr><td data-label="Термин"><span class="bolder">continuous (длительная форма глагола)</span></td><td data-label="Значение">another name for <span class="bolder">progressive</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">contraction (стяженная форма)</span></td><td data-label="Значение">a shortened form in which an auxiliary verb and <span class="italic">not</span>, or a&#160;subject and an auxiliary verb, are joined together and function as one word; e.g. <span class="italic">aren&#8217;t</span>, <span class="italic">she&#8217;s</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">coordinate clause (часть сложносочиненного предложения)</span></td><td data-label="Значение">a clause that is connected to another clause with a&#160;coordinating conjunction such as <span class="italic">and</span> or <span class="italic">but</span>; e.g. <span class="italic">He fell</span> <span class="highlight"><span class="italic">and broke his leg</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">coordinating conjunction (соединительный союз)</span></td><td data-label="Значение">a word such as <span class="italic">and</span>, <span class="italic">but</span>, or <span class="italic">or</span> which joins together two clauses, phrases, or words of the same grammatical type.</td></tr><tr><td data-label="Термин"><span class="bolder">copula (глагол-связка)</span></td><td data-label="Значение">a name sometimes used to refer to the verb <span class="italic">be</span>. In&#160;this grammar, the term <span class="bolder">linking verb</span> is used.</td></tr><tr><td data-label="Термин"><span class="bolder">countable noun (исчисляемое существительное)</span></td><td data-label="Значение">a noun that can be singular or plural; e.g. <span class="italic">dog/dogs</span>, <span class="italic">lemon/lemons</span>, <span class="italic">foot/feet</span>. Also&#160;called <span class="bolder">count noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">declarative (повествовательный)</span></td><td data-label="Значение">a clause in the declarative form has the subject followed by the verb. Most&#160;statements are made in the declarative form. Also&#160;called <span class="bolder">indicative</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">defining non-finite clause (определительный нефинитный оборот)</span></td><td data-label="Значение">a participle clause that is placed after a&#160;noun phrase to identify the person or thing you are talking about; e.g. <span class="italic">The girl</span> <span class="highlight"><span class="italic">wearing the red hat</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">defining relative clause (ограничительное придаточное относительное)</span></td><td data-label="Значение">a relative clause that identifies the person or thing that is being talked about; e.g. <span class="italic">I wrote down everything</span> <span class="highlight"><span class="italic">that she said</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">definite article (определенный артикль)</span></td><td data-label="Значение">the determiner &#8216;<span class="italic">the</span>&#8217;.</td></tr><tr><td data-label="Термин"><span class="bolder">delexical verb (глагол, малозначимый сам по&#160;себе)</span></td><td data-label="Значение">a verb that has very little meaning in itself and is used with an object that carries the main meaning of the structure. <span class="italic">Give</span>, <span class="italic">have</span>, and <span class="italic">take</span> are commonly used as delexical verbs; e.g. <span class="italic">She</span> <span class="highlight"><span class="italic">gave</span></span> <span class="italic">a small cry&#8230; I&#8217;ve</span> <span class="highlight"><span class="italic">had</span></span> <span class="italic">a bath</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">demonstrative (указательное местоимение)</span></td><td data-label="Значение">one of the words <span class="italic">this</span>, <span class="italic">that</span>, <span class="italic">these</span>, and <span class="italic">those</span> used in front of a&#160;noun; e.g.&#8230; <span class="highlight"><span class="italic">this</span></span> woman&#8230; <span class="highlight"><span class="italic">that</span></span> <span class="italic">tree</span>. They&#160;are also used as pronouns; e.g. <span class="highlight"><span class="italic">That</span></span> <span class="italic">looks nice&#8230; <span class="bolder">This</span> is fun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">dependent clause (зависимое предложение)</span></td><td data-label="Значение">another name for <span class="bolder">subordinate clause</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">definite determiner (конкретное определяющее слово)</span></td><td data-label="Значение">one of a&#160;groups of determiners including <span class="italic">the</span>, <span class="italic">that</span> and <span class="italic">your</span> which you use when the person you are speaking to understands which person or thing you are talking about; e.g. <span class="highlight"><span class="italic">the</span></span> <span class="italic">old man</span>, <span class="highlight"><span class="italic">my</span></span> <span class="italic">ideas</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">determiner (определяющее слово)</span></td><td data-label="Значение">one of a&#160;group of words including <span class="italic">the</span>, <span class="italic">a</span>, <span class="italic">some</span>, and <span class="italic">my</span> which are used at the beginning of a&#160;noun phrase.</td></tr><tr><td data-label="Термин"><span class="bolder">direct object (прямое дополнение)</span></td><td data-label="Значение">a noun phrase referring to a&#160;person or thing affected by an action, in a&#160;sentence with an active verb; e.g. <span class="italic">She wrote</span> <span class="highlight"><span class="italic">her name</span></span>&#8230;. <span class="italic">I shut</span> <span class="highlight"><span class="italic">the windows</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">direct speech (прямая речь)</span></td><td data-label="Значение">speech reported in the words actually spoken by someone, without any changes in tense, person, and so on.</td></tr><tr><td data-label="Термин"><span class="bolder">ditransitive verb (двухобъектный переходный глагол)</span></td><td data-label="Значение">a verb such as <span class="italic">give</span>, <span class="italic">take</span>, or <span class="italic">sell</span> which can have both an indirect and a&#160;direct object; e.g. <span class="italic">She gave me a&#160;kiss</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">dynamic verb (глагол действия)</span></td><td data-label="Значение">a verb such as <span class="italic">run</span>, <span class="italic">give</span> or <span class="italic">slice</span> which describes an action. Compare with <span class="bolder">stative verb</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">-ed</span> adjective (прилагательное с&#160;окончанием &#171;-ed&#187;)</span></td><td data-label="Значение">an adjective that ends in <span class="italic">-ed</span>, and usually has the same form as the <span class="italic">-ed</span> participle of a&#160;verb, or is formed by adding <span class="italic">-ed</span> to a&#160;noun; e.g. <span class="italic">a</span> <span class="highlight"><span class="italic">worried</span></span> <span class="italic">look</span>&#8230; <span class="highlight"><span class="italic">skilled</span></span> <span class="italic">workers</span>. Adjectives that do not end in <span class="italic">-ed</span> but have the same forms as irregular <span class="italic">-ed</span> participles are also called <span class="italic">-ed</span> adjectives; e.g. a&#160;<span class="italic">broken</span> bone.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">-ed</span> participle (причастие с&#160;окончанием &#171;-ed&#187;)</span></td><td data-label="Значение">a verb form such as <span class="italic">walked</span> or <span class="italic">played</span>, which is used to make perfect forms and passives, or in some cases an adjective. Irregular participles such as <span class="italic">given</span> and <span class="italic">broken</span> are also called <span class="italic">-ed</span> participles because they behave like regular <span class="italic">-ed</span> participles. Also&#160;called <span class="bolder">past participle</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">ellipsis (пропуск члена высказывания, легко восстановимого в&#160;данном речевом контексте)</span></td><td data-label="Значение">when you leave out words because they are obvious from the context.</td></tr><tr><td data-label="Термин"><span class="bolder">emphasizing adjective (усилительное прилагательное)</span></td><td data-label="Значение">an adjective such as <span class="italic">complete</span>, <span class="italic">utter</span> or <span class="italic">total</span> which stresses how strongly you feel about something; e.g. <span class="italic">I feel a</span> <span class="highlight"><span class="italic">complete</span></span> <span class="italic">fool</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">ergative verb (глагол, могущий быть как переходным, так и&#160;непереходным в&#160;одном и&#160;том&#160;же значении)</span></td><td data-label="Значение">a verb that can be either transitive or intransitive in the same meaning. To&#160;use the verb intransitively, you use the object of the transitive verb as the subject of the intransitive verb; e.g. <span class="italic">He had boiled</span> <span class="highlight"><span class="italic">a kettle&#8230; The&#160;kettle</span></span> <span class="italic">had boiled</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">exclamation (восклицание)</span></td><td data-label="Значение">a word or sentence spoken suddenly and loudly in order to express surprise, anger, and so on; e.g. <span class="italic">Oh gosh</span>!</td></tr><tr><td data-label="Термин"><span class="bolder">finite (личный)</span></td><td data-label="Значение">a finite verb is inflected according to person or tense rather than being an infinitive or a&#160;participle.</td></tr><tr><td data-label="Термин"><span class="bolder">first person (первое лицо)</span></td><td data-label="Значение">see <span class="bolder">person</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">focusing adverb (выделяющее наречие)</span></td><td data-label="Значение">a sentence adverb that indicates the most relevant thing involved; e.g. <span class="italic">only</span>, <span class="italic">mainly</span>, <span class="italic">especially</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">future (будущее время)</span></td><td data-label="Значение">the use of <span class="italic">will</span> or <span class="italic">shall</span> with the base form of the verb to refer to future events; e.g. <span class="italic">She</span> <span class="highlight"><span class="italic">will come</span></span> <span class="italic">tomorrow</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">future progressive (будущее длительное время)</span></td><td data-label="Значение">the use of <span class="italic">will be</span> or <span class="italic">shall be</span> and an <span class="italic">-ing</span> participle to refer to future events; e.g. <span class="italic">She</span> <span class="highlight"><span class="italic">will be going</span></span> <span class="italic">soon</span>. Also&#160;called <span class="bolder">future continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">future perfect (будущее совершенное время)</span></td><td data-label="Значение">the use of <span class="italic">will have</span> or <span class="italic">shall have</span> and an <span class="italic">-ed</span> participle to refer to future events; e.g. I&#160;<span class="highlight"><span class="italic">shall have finished</span></span> <span class="italic">tomorrow</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">future perfect progressive (будущее совершенное продолженное время)</span></td><td data-label="Значение">the use of <span class="italic">will</span> or <span class="italic">shall</span> with <span class="italic">have been</span> and an <span class="italic">-ing</span> participle to refer to future events; e.g. <span class="italic">I</span> <span class="highlight"><span class="italic">will have been walking</span></span> <span class="italic">for three hours by then</span>. Also&#160;called <span class="bolder">future perfect continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">gender (грамматический род)</span></td><td data-label="Значение">a grammatical term referring to the difference between masculine and feminine words such as <span class="italic">he</span> and <span class="italic">she</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">generic pronoun (местоимение, обозначающее людей)</span></td><td data-label="Значение">one of a&#160;group of pronouns including <span class="italic">you</span> and <span class="italic">they</span> which are used to refer to people in general.</td></tr><tr><td data-label="Термин"><span class="bolder">gerund (герундий)</span></td><td data-label="Значение">another name for <span class="bolder"><span class="italic">-ing</span> noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">gradable (градуированное прилагательное)</span></td><td data-label="Значение">a gradable adjective can be used with a&#160;word such as <span class="italic">very</span> to say that the person or thing referred to has more or less of a&#160;quality; e.g. <span class="italic">very boring</span>, <span class="italic">less helpful</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">idiom (идиоматическое выражение)</span></td><td data-label="Значение">a group of two or more words with a&#160;meaning that cannot be understood by taking the meaning of each individual word; e.g. <span class="italic">to kick the bucket</span>, <span class="italic">to run wild</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">if</span>-clause (условное предложение)</span></td><td data-label="Значение">a <span class="bolder">conditional clause</span>; or a&#160;clause used to report a&#160;<span class="italic">yes&#160;/ no</span>-question.</td></tr><tr><td data-label="Термин"><span class="bolder">imperative (повелительное наклонение)</span></td><td data-label="Значение">a clause in the imperative has the base form of the verb without a&#160;subject, e.g. <span class="highlight"><span class="italic">Come</span></span> <span class="italic">here</span>&#8230; <span class="highlight"><span class="italic">Take</span></span> <span class="italic">two tablets every four hours</span>&#8230; <span class="highlight"><span class="italic">Enjoy</span></span> <span class="italic">yourself</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">impersonal <span class="italic">it</span> (безличное &#171;it&#187;)</span></td><td data-label="Значение"><span class="italic">it</span> is an impersonal subject when it is used to introduce a&#160;fact, or when it is used in a&#160;split sentence; e.g. <span class="highlight"><span class="italic">It&#8217;s</span></span> <span class="italic">raining</span>&#8230; <span class="highlight"><span class="italic">It</span></span> <span class="italic">was you who asked</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">indefinite article (неопределенный артикль)</span></td><td data-label="Значение">the determiners <span class="italic">a</span> and <span class="italic">an</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">indefinite determiner (нечеткое определяющее слово)</span></td><td data-label="Значение">one of a&#160;group of determiners including <span class="italic">a</span>, <span class="italic">many</span> and <span class="italic">several</span> which you use to refer to someone or something of a&#160;particular type, without saying which person or thing you mean; e.g. <span class="highlight"><span class="italic">an</span></span> <span class="italic">old man</span>, <span class="highlight"><span class="italic">several</span></span> <span class="italic">suggestions</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">indefinite place adverb (наречие неопределенного места)</span></td><td data-label="Значение">one of a&#160;group of adverbs including <span class="italic">anywhere</span> and <span class="italic">somewhere</span> which are used to indicate position or location in a&#160;general or vague way.</td></tr><tr><td data-label="Термин"><span class="bolder">indefinite pronoun (неопределенное местоимение)</span></td><td data-label="Значение">one of a&#160;group of pronouns including <span class="italic">someone</span> and <span class="italic">anything</span> which are used to refer to a&#160;person or thing in a&#160;general way.</td></tr><tr><td data-label="Термин"><span class="bolder">indicative (изъявительное наклонение)</span></td><td data-label="Значение">another name for <span class="bolder">declarative</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">indirect object (косвенное дополнение)</span></td><td data-label="Значение">a second object used with a&#160;transitive verb to indicate who or what benefits from an action, or gets something as a&#160;result of it; e.g. <span class="italic">She gave</span> <span class="highlight"><span class="italic">me</span></span> <span class="italic">a rose</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">indirect question (косвенный вопрос)</span></td><td data-label="Значение">another name for <span class="bolder">reported question</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">indirect speech (косвенная речь)</span></td><td data-label="Значение">another name for <span class="bolder">reported speech</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">infinitive (неопределенная форма глагола)</span></td><td data-label="Значение">the base form of a&#160;verb. It&#160;is often used with <span class="italic">to</span> in front of it; e.g. <span class="italic">(to) take</span>, <span class="italic">(to) see</span>, <span class="italic">(to) bring</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">infinitive without to (инфинитив без частицы &#171;to&#187;)</span></td><td data-label="Значение">the infinitive form without <span class="italic">to</span> in front of it, used with modals and certain other verbs; e.g. <span class="italic">You must</span> <span class="highlight"><span class="italic">go</span></span>&#8230; <span class="italic">Let me</span> <span class="highlight"><span class="italic">think</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">inflection (словоизменение)</span></td><td data-label="Значение">the variation in the form of a&#160;word to show differences in tense, number, case, and degree.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">-ing</span> adjective (&#171;инговое&#187; прилагательное)</span></td><td data-label="Значение">an adjective that has the same form as the <span class="italic">-ing</span> participle of a&#160;verb; e.g.&#8230; a&#160;<span class="highlight"><span class="italic">smiling</span></span> <span class="italic">face</span>&#8230; <span class="italic">a</span> <span class="highlight"><span class="italic">winning</span></span> <span class="italic">streak</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">-ing</span> participle (&#171;инговое&#187; причастие)</span></td><td data-label="Значение">a verb form ending in <span class="italic">-ing</span> that is used to make verb forms, and as an adjective. Also&#160;called the <span class="bolder">present participle</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">-ing</span> noun (&#171;инговое&#187; существительное)</span></td><td data-label="Значение">a noun that has the same form as the <span class="italic">-ing</span> participle of a&#160;verb; e.g. <span class="highlight"><span class="italic">Swimming</span></span> <span class="italic">is good for you</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">interjection (восклицание)</span></td><td data-label="Значение">another name for <span class="bolder">exclamation</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">interrogative adverb (вопросительное наречие)</span></td><td data-label="Значение">one of the adverbs <span class="italic">how</span>, <span class="italic">when</span>, <span class="italic">where</span>, and <span class="italic">why</span> when they are used to ask questions.</td></tr><tr><td data-label="Термин"><span class="bolder">interrogative (вопросительное слово)</span></td><td data-label="Значение">a clause in the interrogative form has part or all of the verb phrase in front of the subject. Most&#160;questions are asked in the interrogative form.</td></tr><tr><td data-label="Термин"><span class="bolder">interrogative pronoun (вопросительное местоимение)</span></td><td data-label="Значение">one of the pronouns <span class="italic">who</span>, <span class="italic">whose</span>, <span class="italic">whom</span>, <span class="italic">what</span>, and <span class="italic">which</span> when they are used to ask questions.</td></tr><tr><td data-label="Термин"><span class="bolder">intransitive verb (непереходный глагол)</span></td><td data-label="Значение">a verb that is used to talk about an action or event that only involves the subject and so does not have an object; e.g. <span class="italic">She arrived&#8230; I&#160;was yawning</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">inversion (обратный порядок слов)</span></td><td data-label="Значение">changing the word order in a&#160;sentence, especially changing the order of the subject and the verb.</td></tr><tr><td data-label="Термин"><span class="bolder">irregular (нерегулярно образованный)</span></td><td data-label="Значение">not following the normal rules for inflection. An&#160;irregular verb has a&#160;past form and/or <span class="italic">-ed</span> participle that is formed in a&#160;different way from the regular ending.</td></tr><tr><td data-label="Термин"><span class="bolder">lexical verb (полнозначный глагол)</span></td><td data-label="Значение">another name for <span class="bolder">main verb</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">linking verb (глагол-связка)</span></td><td data-label="Значение">a verb that links the subject and complement of a&#160;clause; e.g. <span class="italic">be</span>, <span class="italic">become</span>, <span class="italic">seem</span>, <span class="italic">appear</span>. Also&#160;sometimes called <span class="bolder">copula</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">main clause (главное предложение)</span></td><td data-label="Значение">a clause that is not dependent on, or is not part of, another clause.</td></tr><tr><td data-label="Термин"><span class="bolder">main verb (смысловой глагол)</span></td><td data-label="Значение">any verb that is not an auxiliary verb. Also&#160;called <span class="bolder">lexical verb</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">mass noun (вещественное существительное)</span></td><td data-label="Значение">(in this grammar) a&#160;noun that is usually an uncountable noun, but that can be used as a&#160;countable noun when it refers to quantities or types of something; e.g.&#8230; <span class="italic">two</span> <span class="highlight"><span class="italic">sugars</span></span>&#8230; <span class="italic">cough</span> <span class="highlight"><span class="italic">medicines</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">measurement noun (мерное существительное)</span></td><td data-label="Значение">a noun that refers to a&#160;unit of size, volume, weight, speed, temperature, etc.; e.g. <span class="italic">mile</span>, <span class="italic">litre</span>, <span class="italic">degree</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">modal (модальный)</span></td><td data-label="Значение">an auxiliary verb that is used with a&#160;main verb to indicate a&#160;particular attitude, such as possibility, obligation, prediction, or deduction; e.g. <span class="italic">can</span>, <span class="italic">could</span>, <span class="italic">may</span>, <span class="italic">might</span>. Also&#160;called <span class="italic">modal auxiliary</span> or <span class="italic">modal verb</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">modifier (определение)</span></td><td data-label="Значение">a word or group of words that come in front of a&#160;noun; e.g.&#8230; <span class="italic">a</span> <span class="highlight"><span class="italic">beautiful</span></span> <span class="highlight"><span class="italic">sunny</span></span> <span class="italic">day</span>&#8230; <span class="italic">a</span> <span class="highlight"><span class="italic">psychology</span></span> <span class="italic">conference</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">negative (отрицательное предложение)</span></td><td data-label="Значение">used for describing a&#160;sentence that uses a&#160;word like <span class="italic">not</span>, <span class="italic">never</span>, or <span class="italic">no</span> <span class="italic">one</span> to indicate the absence or opposite of something, or to say that something is not the case; e.g. <span class="italic">I</span> <span class="highlight"><span class="italic">don&#8217;t</span></span> <span class="italic">know you&#8230; I&#8217;ll</span> <span class="highlight"><span class="italic">never</span></span> <span class="italic">forget</span>. The&#160;opposite is <span class="bolder">affirmative</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">negative word (отрицание)</span></td><td data-label="Значение">a word such as <span class="italic">never</span> and <span class="italic">not</span> which expresses a&#160;negative meaning.</td></tr><tr><td data-label="Термин"><span class="bolder">nominal relative clause (именное придаточное относительное)</span></td><td data-label="Значение">a subordinate clause that functions as a&#160;noun and often begins with <span class="italic">what</span> or <span class="italic">whatever</span>; e.g. <span class="highlight"><span class="italic">What he said</span></span> <span class="italic">was true</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">nominal <span class="italic">that-</span>clause (придаточное предложение с&#160;союзом &#171;that&#187;)</span></td><td data-label="Значение">a subordinate clause that functions as a&#160;noun and begins with <span class="italic">that</span>; e.g. <span class="italic">He showed</span> <span class="highlight"><span class="italic">that it was true</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">non-defining relative clause (распространительное придаточное предложение)</span></td><td data-label="Значение">a relative clause that gives more information about someone or something, but that is not needed to identify them; e.g. <span class="italic">That&#8217;s Mary</span>, <span class="highlight"><span class="italic">who was at university with me</span></span>. Compare with <span class="bolder">defining relative clause</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">non-finite (неличный)</span></td><td data-label="Значение">the non-finite forms of a&#160;verb are the infinitive and participle forms; e.g. <span class="italic">to take</span>, <span class="italic">taking</span>, <span class="italic">taken</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">noun (существительное)</span></td><td data-label="Значение">a word that refers to people, things, and abstract ideas such as feelings and qualities; e.g. <span class="italic">woman</span>, <span class="italic">Harry</span>, <span class="italic">guilt</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">noun phrase (именная конструкция)</span></td><td data-label="Значение">a group of words that acts as the subject, complement, or object of a&#160;clause, or as the object of a&#160;preposition.</td></tr><tr><td data-label="Термин"><span class="bolder">noun modifier (существительное-определение)</span></td><td data-label="Значение">a noun used in front of another noun, as if it were an adjective; e.g.&#8230; <span class="italic">a</span> <span class="highlight"><span class="italic">car</span></span> <span class="italic">door&#8230; a</span> <span class="highlight"><span class="italic">steel</span></span> <span class="italic">works</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">number (число)</span></td><td data-label="Значение">the way in which differences between singular and plural are shown; e.g. <span class="italic">flower/ flowers</span>, <span class="italic">that/those</span>. See&#160;also <span class="bolder">cardinal number</span> and <span class="bolder">ordinal number</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">object (дополнение)</span></td><td data-label="Значение">a noun phrase that refers to a&#160;person or thing, other than the subject, which is involved in or affected by the action of a&#160;verb. See&#160;also <span class="bolder">direct object</span> and <span class="bolder">indirect object</span>. Prepositions are also followed by objects.</td></tr><tr><td data-label="Термин"><span class="bolder">object complement (дополнение)</span></td><td data-label="Значение">a word that is used to describe the object of a&#160;clause and that occurs with verbs such as <span class="italic">make</span> and <span class="italic">find</span>; e.g. <span class="italic">It made me</span> <span class="highlight"><span class="italic">tired</span></span>&#8230; <span class="italic">I found her</span> <span class="highlight"><span class="italic">asleep</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">ordinal number (порядковое числительное)</span></td><td data-label="Значение">a number that is used to indicate where something comes in an order or sequence; e.g. <span class="italic">first</span>, <span class="italic">fifth</span>, <span class="italic">tenth</span>, <span class="italic">hundredth</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">participle (причастие, деепричастие)</span></td><td data-label="Значение">a verb form used for making different tenses. See&#160;<span class="bolder"><span class="italic">-ed</span> participle</span> and <span class="bolder"><span class="italic">-ing</span> participle</span> for more details.</td></tr><tr><td data-label="Термин"><span class="bolder">partitive (мерное слово)</span></td><td data-label="Значение">a word that gives information about the amount of a&#160;particular thing; e.g. <span class="italic">pint</span>, <span class="italic">loaf</span>, <span class="italic">portion</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">passive (страдательный залог)</span></td><td data-label="Значение">verb forms such as <span class="italic">was given</span>, <span class="italic">were taken</span>, <span class="italic">had been made</span>, where the subject is the person or thing that is affected by the action. Compare with <span class="bolder">active</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">past form (прошедшая форма глагола)</span></td><td data-label="Значение">the form of a&#160;verb, often ending in <span class="italic">-ed</span>, that is used for the past simple.</td></tr><tr><td data-label="Термин"><span class="bolder">past participle (причастие прошедшего времени, причастие II)</span></td><td data-label="Значение">another name for <span class="bolder"><span class="italic">-ed</span> participle</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">past perfect (прошедшее совершенное, перфектное время)</span></td><td data-label="Значение">the use of <span class="italic">had</span> with an <span class="italic">-ed</span> participle to refer to past events; e.g. <span class="italic">She</span> <span class="highlight"><span class="italic">had finished</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">past perfect progressive (прошедшее совершенное продолженное время)</span></td><td data-label="Значение">the use of <span class="italic">had been</span> with an <span class="italic">-ing</span> participle to refer to past events; e.g. He&#160;<span class="highlight"><span class="italic">had been waiting</span></span> <span class="italic">for hours</span>. Also&#160;called <span class="bolder">past perfect continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">past progressive (прошедшее продолженное время)</span></td><td data-label="Значение">the use of <span class="italic">was</span> or <span class="italic">were</span> with an <span class="italic">-ing</span> participle, usually to refer to past events; e.g. They&#160;<span class="highlight"><span class="italic">were worrying</span></span> <span class="italic">about it yesterday</span>. Also&#160;called <span class="bolder">past continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">past simple (прошедшее неопределенное время)</span></td><td data-label="Значение">the use of the past form of a&#160;verb to refer to past events; e.g. <span class="italic">They</span> <span class="highlight"><span class="italic">waited</span></span>&#8230; <span class="italic">It</span> <span class="highlight"><span class="italic">fell</span></span> <span class="italic">over</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">past tense (прошедшее время)</span></td><td data-label="Значение">a tense used to describe actions or events that took place in the past. See&#160;<span class="bolder">tense</span> for more details.</td></tr><tr><td data-label="Термин"><span class="bolder">perfect form (перфектная форма)</span></td><td data-label="Значение">a verb form with <span class="italic">have</span> and an <span class="italic">-ed</span> participle; e.g. <span class="italic">I</span> <span class="highlight"><span class="italic">have met</span></span> <span class="italic">him&#8230; We</span> <span class="highlight"><span class="italic">had won</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">performative verb (перформативный глагол)</span></td><td data-label="Значение">a verb that states explicitly what action the speaker is performing when he or she uses it; e.g. <span class="italic">apologize</span>, <span class="italic">resign</span>, <span class="italic">christen</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">performer (исполнитель)</span></td><td data-label="Значение">the person or thing that is responsible for the action expressed by the verb; e.g. <span class="highlight"><span class="italic">Mark</span></span> <span class="italic">phoned&#8230; Our&#160;dinner was eaten by</span> <span class="highlight"><span class="italic">the dog</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">person (лицо)</span></td><td data-label="Значение">a term used to refer to the three classes of people who are involved in something that is said. They&#160;are the first person (the person speaking or writing), the second person (the person being addressed), and the third person (the people or things that are being talked about).</td></tr><tr><td data-label="Термин"><span class="bolder">personal pronoun (личное местоимение)</span></td><td data-label="Значение">one of a&#160;group of pronouns including <span class="italic">I</span>, <span class="italic">you</span>, and <span class="italic">me</span> which are used to refer back to the people or things you are talking about.</td></tr><tr><td data-label="Термин"><span class="bolder">phrasal verb (фразовый глагол)</span></td><td data-label="Значение">a combination of a&#160;verb and an adverb and/or a&#160;preposition, which have a&#160;single meaning; e.g. <span class="italic">back down</span>, <span class="italic">hand over</span>, <span class="italic">look after</span>, <span class="italic">look forward to</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">phrase (грамматический оборот)</span></td><td data-label="Значение">a set of words that is smaller than a&#160;clause, and that is based around a&#160;particular word class: for example, a&#160;verb phrase is based around a&#160;main verb, and can also contain auxiliary verbs. See&#160;also <span class="bolder">noun phrase</span>, <span class="bolder">verb phrase</span> and <span class="bolder">prepositional phrase</span>. <span class="bolder">Phrase</span> is also sometimes used to refer to any group of words.</td></tr><tr><td data-label="Термин"><span class="bolder">plural (множественное число)</span></td><td data-label="Значение">the form used to refer to more than one person or thing; e.g. <span class="italic">dogs</span>, <span class="italic">women</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">plural noun (существительное во&#160;множественном числе)</span></td><td data-label="Значение">a noun that is only used in the plural form; e.g. <span class="italic">trousers</span>, <span class="italic">scissors</span>, <span class="italic">vermin</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">possessive (притяжательный падеж)</span></td><td data-label="Значение">a structure used to show possession; e.g. <span class="italic">your</span>, <span class="italic">Jerry&#8217;s</span>, <span class="italic">mine</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">possessive determiner (слово в&#160;притяжательном падеже)</span></td><td data-label="Значение">a determiner such as <span class="italic">my</span>, <span class="italic">your</span>, and <span class="italic">their</span>. Also&#160;called <span class="bolder">possessive adjective</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">possessive pronoun (притяжательное местоимение)</span></td><td data-label="Значение">one of the words <span class="italic">mine</span>, <span class="italic">yours</span>, <span class="italic">hers</span>, <span class="italic">his</span>, <span class="italic">ours</span>, and <span class="italic">theirs</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">postdeterminer (слово-определение после слова в&#160;притяжательном падеже, но&#160;перед другим словом-определением)</span></td><td data-label="Значение">a small group of adjectives used after a&#160;determiner and in front of other adjectives; e.g. <span class="italic">certain</span>, <span class="italic">remaining</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">predeterminer (слово-определение перед словом в&#160;притяжательном падеже)</span></td><td data-label="Значение">a word that comes in front of a&#160;determiner; e.g. <span class="highlight"><span class="italic">all</span></span> <span class="italic">the boys</span>&#8230; <span class="highlight"><span class="italic">double</span></span> the <span class="italic">trouble</span>&#8230; <span class="highlight"><span class="italic">such</span></span> <span class="italic">a mess</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">predicative (именная часть составного сказуемого)</span></td><td data-label="Значение">used for describing the position of adjectives when they are used after a&#160;linking verb such as &#8216;be&#8217;. Compare with <span class="bolder">attributive</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">preposition (предлог)</span></td><td data-label="Значение">a word such as <span class="italic">by</span>, <span class="italic">with</span> or <span class="italic">from</span>, which is usually followed by a&#160;noun phrase or an <span class="italic">-ing</span> form.</td></tr><tr><td data-label="Термин"><span class="bolder">prepositional phrase (предложный оборот)</span></td><td data-label="Значение">a structure consisting of a&#160;preposition and its object; e.g. <span class="italic">on the table</span>, <span class="italic">by the sea</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">present participle (причастие настоящего времени, причастие I)</span></td><td data-label="Значение">another name for <span class="bolder"><span class="italic">-ing</span> participle</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">present progressive (настоящее длительное время)</span></td><td data-label="Значение">the use of the present simple of &#8216;be&#8217; with an <span class="italic">-ing</span> participle to refer to present events; e.g. <span class="italic">Things</span> <span class="highlight"><span class="italic">are improving</span></span>. Also&#160;called <span class="bolder">present continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">present perfect (настоящее совершенное время)</span></td><td data-label="Значение">the use of the present simple of <span class="italic">have</span> with an <span class="italic">-ed</span> participle to refer to past events that exist in the present; e.g. <span class="italic">She</span> <span class="highlight"><span class="italic">has loved</span></span> <span class="italic">him for ten years</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">present perfect progressive (настоящее совершенное продолженное время)</span></td><td data-label="Значение">the use of <span class="italic">have been</span> and <span class="italic">has been</span> with an <span class="italic">-ing</span> participle to refer to past events that exist in the present; e.g. <span class="italic">We</span> <span class="highlight"><span class="italic">have been sitting</span></span> <span class="italic">here for hours</span>. Also&#160;called <span class="bolder">present perfect continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">present simple (настоящее неопределенное время)</span></td><td data-label="Значение">the use of the base form or the <span class="italic">s</span> form of a&#160;verb, usually to refer to present events; e.g. <span class="italic">I</span> <span class="highlight"><span class="italic">like</span></span> <span class="italic">bananas&#8230; My&#160;sister</span> <span class="highlight"><span class="italic">hates</span></span> <span class="italic">them</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">present tense (настоящее время)</span></td><td data-label="Значение">a tense used to describe events taking place in the present, or situations that exist in the present.</td></tr><tr><td data-label="Термин"><span class="bolder">progressive (длительная форма глагола)</span></td><td data-label="Значение">a verb form that contains a&#160;form of the verb &#8216;be&#8217; and an <span class="italic">-ing</span> participle; e.g. <span class="italic">She</span> <span class="highlight"><span class="italic">was laughing</span></span>&#8230; <span class="italic">They</span> <span class="highlight"><span class="italic">had been playing</span></span> <span class="italic">badminton</span>. Also&#160;called <span class="bolder">continuous</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">pronoun (местоимение)</span></td><td data-label="Значение">a word used instead of a&#160;noun, when you do not want to name someone or something directly; e.g. <span class="italic">it</span>, <span class="italic">you</span>, <span class="italic">none</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">proper noun (имя собственное)</span></td><td data-label="Значение">a noun that refers to a&#160;particular person, place, or institution; e.g. <span class="italic">Nigel</span>, <span class="italic">Edinburgh</span>, <span class="italic">Christmas</span>. Compare with <span class="bolder">common noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">purpose clause (придаточное цели)</span></td><td data-label="Значение">a subordinate clause, usually introduced by <span class="italic">in order to</span>, or <span class="italic">so that</span>; e.g. <span class="italic">I came here</span> <span class="highlight"><span class="italic">in order to ask you out to dinner</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">qualifier (определитель)</span></td><td data-label="Значение">any word, phrase, or clause that comes after a&#160;noun phrase, and gives extra information to expand its meaning; e.g.&#8230; <span class="italic">a book</span> <span class="highlight"><span class="italic">with a&#160;blue cover</span></span>&#8230; the shop <span class="highlight"><span class="italic">on the corner</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">qualitative adjective (качественное прилагательное)</span></td><td data-label="Значение">an adjective that is used to indicate a&#160;quality, and is gradable; e.g. <span class="italic">funny</span>, <span class="italic">intelligent</span>, <span class="italic">small</span>. Compare with <span class="bolder">classifying adjective</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">quantity expression (количественное выражение)</span></td><td data-label="Значение">a phrase ending in <span class="italic">of</span> that allows you to refer to a&#160;quantity of something without being precise about the exact amount; e.g. <span class="italic">some of</span>, <span class="italic">a lot of</span>, <span class="italic">a little bit of</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">question (вопрос)</span></td><td data-label="Значение">a structure that typically has the verb in front of the subject and that is used to ask someone about something; e.g. <span class="italic">Have you any money</span>? Also&#160;called <span class="bolder">interrogative</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">question tag (тэг, &#171;хвост&#187;, краткий общий вопрос в&#160;конце расчленненного вопроса)</span></td><td data-label="Значение">a structure consisting of an auxiliary verb followed by a&#160;pronoun, which is used at the end of a&#160;statement in order to form a&#160;question.</td></tr><tr><td data-label="Термин"><span class="bolder">reason clause (придаточное причины)</span></td><td data-label="Значение">a subordinate clause, usually introduced by <span class="italic">because</span>, <span class="italic">since</span>, or <span class="italic">as</span>; e.g. <span class="highlight"><span class="italic">Since you&#8217;re here</span></span>, <span class="italic">we&#8217;ll start</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reciprocal pronoun (взаимное местоимение)</span></td><td data-label="Значение">the pronouns <span class="italic">each other</span> and <span class="italic">one another</span>, used to show that two or more people do or feel the same thing; e.g. <span class="italic">They loved</span> <span class="highlight"><span class="italic">each other</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reciprocal verb (взаимный глагол)</span></td><td data-label="Значение">a verb that describes an action that involves people affecting each other in the same way with the same action; e.g. <span class="italic">They</span> <span class="highlight"><span class="italic">met</span></span> <span class="italic">in the street&#8230; He</span> <span class="highlight"><span class="italic">met</span></span> <span class="italic">her</span> <span class="italic">yesterday</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reflexive pronoun (возвратное местоимение)</span></td><td data-label="Значение">a pronoun ending in <span class="italic">-self</span>, such as <span class="italic">myself</span> or <span class="italic">themselves</span>, which is used as the object of a&#160;verb when the person affected by an action is the same as the person doing it.</td></tr><tr><td data-label="Термин"><span class="bolder">reflexive verb (возвратный глагол)</span></td><td data-label="Значение">a verb that is typically used with a&#160;reflexive pronoun; e.g. <span class="italic">enjoy yourself</span>; <span class="italic">pride yourself on</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">relative clause (определительное придаточное предложение)</span></td><td data-label="Значение">a subordinate clause that gives more information about someone or something mentioned in the main clause. See&#160;also <span class="bolder">defining relative clause</span> and <span class="bolder">non-defining relative clause</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">relative pronoun (относительное местоимение)</span></td><td data-label="Значение">a <span class="italic">wh</span>-word such as <span class="italic">who</span> or <span class="italic">which</span>, used to introduce a&#160;relative clause; e.g.&#8230; <span class="italic">the girl</span> <span class="highlight"><span class="italic">who</span></span> <span class="italic">was carrying the bag</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reported clause (придаточное дополнительное в&#160;косвенной речи)</span></td><td data-label="Значение">the part of a&#160;reporting structure that describes what someone has said; e.g. <span class="italic">She said</span> <span class="highlight"><span class="italic">that I&#160;couldn&#8217;t see her</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reported question (косвенный вопрос)</span></td><td data-label="Значение">a question that is reported using a&#160;reporting structure rather than the exact words used by the speaker. Also&#160;called <span class="bolder">indirect question</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reported speech (косвенная речь)</span></td><td data-label="Значение">speech that is reported using a&#160;reporting structure rather than the exact words used by the speaker. Also&#160;called <span class="bolder">indirect speech</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reporting clause (главное предложение в&#160;косвенной речи)</span></td><td data-label="Значение">a clause that contains a&#160;reporting verb, which is used to introduce what someone has said; e.g. <span class="highlight"><span class="italic">They asked</span></span> <span class="italic">if I&#160;could come</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reporting verb (глагол в&#160;главном предложении в&#160;косвенной речи)</span></td><td data-label="Значение">a verb that describes what people say or think; e.g. <span class="italic">suggest</span>, <span class="italic">say</span>, <span class="italic">wonder</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">reporting structure (пояснительное придаточное в&#160;косвенной речи, &#171;чужая речь&#187;)</span></td><td data-label="Значение">a structure that reports what someone has said by using a&#160;reported clause rather than repeating their exact words; e.g. <span class="italic">She told me she&#8217;d be late</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">result clause (придаточное следствия)</span></td><td data-label="Значение">a subordinate clause introduced by <span class="italic">so that</span> which gives the result of something; e.g. <span class="italic">The house was severely damaged</span>, <span class="highlight"><span class="italic">so that it is now uninhabitable</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">rhetorical question (риторический вопрос)</span></td><td data-label="Значение">a question that you use in order to make a&#160;comment rather than to obtain information; e.g. <span class="italic">Oh</span>, <span class="italic">isn&#8217;t it silly</span>?</td></tr><tr><td data-label="Термин"><span class="bolder">second person (второе лицо)</span></td><td data-label="Значение">see <span class="bolder">person</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">semi-modal (полумодальный глагол)</span></td><td data-label="Значение">the verbs <span class="italic">dare</span>, <span class="italic">need</span>, and <span class="italic">used to</span> which behave rather like modals.</td></tr><tr><td data-label="Термин"><span class="bolder">sentence (предложение)</span></td><td data-label="Значение">a group of words that express a&#160;statement, question, or command. A&#160;sentence usually has a&#160;verb and a&#160;subject, and may consist of one clause, or two or more clauses. A&#160;sentence in writing has a&#160;capital letter at the beginning and a&#160;full-stop, question mark, or exclamation mark at the end.</td></tr><tr><td data-label="Термин"><span class="bolder">sentence adverbial (сентенциальная наречная составляющая)</span></td><td data-label="Значение">an adverbial that applies to the whole clause, rather than to part of it; e.g. <span class="italic">We</span> <span class="highlight"><span class="italic">possibly</span></span> <span class="italic">have to wait and see</span>. See&#160;also <span class="bolder">sentence connector</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">sentence connector (лексический элемент соединитель предложений)</span></td><td data-label="Значение">a sentence adverbial used to introduce a&#160;comment or reinforce what is said; e.g. <span class="italic">moreover</span>, <span class="italic">besides</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">s</span> form</span></td><td data-label="Значение">the base form of a&#160;verb with <span class="italic">s</span> on the end, used in the present simple.</td></tr><tr><td data-label="Термин"><span class="bolder">simple sentence (простое предложение)</span></td><td data-label="Значение">a sentence that contains only one clause.</td></tr><tr><td data-label="Термин"><span class="bolder">singular (единственное число)</span></td><td data-label="Значение">the form used to refer to or talk about one person or thing; e.g. <span class="italic">dog</span>, <span class="italic">woman</span>. Compare with <span class="bolder">plural</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">singular noun (существительное, имеющее только единственное число)</span></td><td data-label="Значение">a noun typically used in the singular form; e.g. <span class="italic">sun</span>, <span class="italic">business</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">split infinitive (инфинитив с&#160;отделенной частицей &#171;to&#187;)</span></td><td data-label="Значение">the placing of a&#160;word between <span class="italic">to</span> and the base form of a&#160;verb; e.g.&#8230; <span class="italic">to</span> <span class="highlight"><span class="italic">boldly</span></span> <span class="italic">go where no man has gone before</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">split sentence (&#171;разорванное&#187; предложение)</span></td><td data-label="Значение">a sentence in which emphasis is given to either the subject or the object by using a&#160;structure beginning with <span class="italic">it</span>, <span class="italic">what</span>, or <span class="italic">all</span>; e.g. <span class="highlight"><span class="italic">It&#8217;s</span></span> <span class="italic">a hammer we need</span>&#8230; <span class="highlight"><span class="italic">What</span></span> <span class="italic">we need is a&#160;hammer</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">stative verb (глагол состояния, неконтиниусный глагол)</span></td><td data-label="Значение">a verb that describes a&#160;state; e.g. <span class="italic">be</span>, <span class="italic">live</span>, <span class="italic">know</span>. Compare with <span class="bolder">dynamic verb</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">subject (подлежащее)</span></td><td data-label="Значение">a noun phrase that usually comes before a&#160;verb, and agrees with the verb in person and number. In&#160;active sentences, the subject usually refers to the person or thing who does the action expressed by the verb; e.g. <span class="highlight"><span class="italic">We</span></span> <span class="italic">were going shopping</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">subjunctive (сослагательное наклонение)</span></td><td data-label="Значение">a verb form that is used in some languages to express attitudes such as wishing, hoping, and doubting. The&#160;subjunctive is not very common in English, and is used mainly in conditional clauses such as <span class="italic">If I&#160;were you</span>&#8230;.</td></tr><tr><td data-label="Термин"><span class="bolder">submodifying adverb (наречие перед другим наречием или прилагательным)</span></td><td data-label="Значение">an adverb that is used in front of an adjective or another adverb in order to strengthen or weaken its meaning; e.g.&#8230; <span class="highlight"><span class="italic">very</span></span> <span class="italic">interesting</span>&#8230; <span class="highlight"><span class="italic">quite</span></span> <span class="italic">quickly</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">subordinate clause (зависимое предложение)</span></td><td data-label="Значение">a clause that begins with a&#160;subordinating conjunction such as <span class="italic">because</span> or <span class="italic">while</span> and which must be used with a&#160;main clause.</td></tr><tr><td data-label="Термин"><span class="bolder">subordinating conjunction (подчинительный союз)</span></td><td data-label="Значение">a conjunction that begins a&#160;subordinate clause.</td></tr><tr><td data-label="Термин"><span class="bolder">substitution (замещение)</span></td><td data-label="Значение">the special use of pronouns and other words to replace part or all of a&#160;clause; e.g. <span class="italic">&#8216;Are you going to the party?&#8217;</span>&#160;&#8212; <span class="italic">&#8216;I hope</span> <span class="highlight"><span class="italic">so</span></span>&#8217;.</td></tr><tr><td data-label="Термин"><span class="bolder">superlative (прилагательное или наречие в&#160;превосходной степени)</span></td><td data-label="Значение">an adjective or adverb with <span class="italic">-est</span> on the end or <span class="italic">most</span> in front of it; e.g. <span class="italic">thinnest</span>, <span class="italic">quickest</span>, <span class="italic">most wisely</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">tense (грамматическое время)</span></td><td data-label="Значение">the verb form that shows whether you are referring to the past or the present.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">that</span>-clause</span></td><td data-label="Значение">a clause starting with &#8216;<span class="italic">that</span>&#8217; which is used mainly when reporting what someone has said; e.g. <span class="italic">She said</span> <span class="highlight"><span class="italic">that she&#8217;d wash up for me</span></span>. <span class="italic">That</span> can be omitted when the clause is used after a&#160;reporting verb.</td></tr><tr><td data-label="Термин"><span class="bolder">third person (третье лицо)</span></td><td data-label="Значение">see <span class="bolder">person</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">time adverbial (обстоятельство времени)</span></td><td data-label="Значение">an adverbial that gives more information about when something happens; e.g. <span class="italic">I saw her</span> <span class="highlight"><span class="italic">yesterday</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">time clause (придаточное предложение времени)</span></td><td data-label="Значение">a subordinate clause that indicates the time of an event; e.g. <span class="italic">I&#8217;ll phone you</span> <span class="highlight"><span class="italic">when I&#160;get back</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">title (титул)</span></td><td data-label="Значение">a word used before a&#160;person&#8217;s name to show their position or status; e.g. <span class="italic">Mrs</span>, <span class="italic">Lord</span>, <span class="italic">Queen</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">to</span>-infinitive (инфинитив с&#160;частицей &#171;to&#187;)</span></td><td data-label="Значение">the base form of a&#160;verb preceded by <span class="italic">to</span>; e.g. <span class="italic">to go</span>, <span class="italic">to have</span>, <span class="italic">to jump</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">transitive verb (переходный глагол)</span></td><td data-label="Значение">a verb used to talk about an action or event that involves more than one person or thing, and so is followed by an object; e.g. <span class="italic">She&#8217;s</span> <span class="highlight"><span class="italic">wasting her money</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder">uncountable noun (неисчисляемое существительное)</span></td><td data-label="Значение">a noun that refers to a&#160; a&#160;general kind of thing rather than to an individual item, and so has only one form; e.g. <span class="italic">money</span>, <span class="italic">furniture</span>, <span class="italic">intelligence</span>. Also&#160;called <span class="bolder">uncount noun</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">verb (глагол)</span></td><td data-label="Значение">a word used with a&#160;subject to say what someone or something does, or what happens to them; e.g. <span class="italic">sing</span>, <span class="italic">spill</span>, <span class="italic">die</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">verb phrase (глагольная конструкция)</span></td><td data-label="Значение">a main verb, or a&#160;main verb preceded by one or more auxiliary verbs, which combines with a&#160;subject to say what someone or something does, or what happens to them; e.g. <span class="italic">I&#8217;<span class="highlight">ll show</span> them&#8230; She&#8217;</span> <span class="highlight"><span class="italic">s been</span></span> <span class="italic">sick</span>.</td></tr><tr><td data-label="Термин"><span class="bolder">vocative (звательный, относящийся к&#160;обращениям)</span></td><td data-label="Значение">a word used when speaking to someone, just as if it were their name; e.g. <span class="italic">darling</span>, <span class="italic">madam</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">wh</span>-clause (придаточное относительное)</span></td><td data-label="Значение">a clause starting with a&#160;<span class="italic">wh</span>-word.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">whether</span>-clause (косвенный вопрос &#171;ли-&#187;)</span></td><td data-label="Значение">a clause used to report a&#160;<span class="italic">yes/no</span>-question; e.g. <span class="italic">I asked her</span> <span class="highlight"><span class="italic">whether she&#8217;d seen him</span></span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">wh</span>-question (специальный вопрос)</span></td><td data-label="Значение">a question that expects an answer giving a&#160;particular person, place, thing, amount, and so on, rather than just <span class="italic">yes</span> or <span class="italic">no</span>.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">wh</span>-word (вопросительное слово или союз, начинающийся с &#171;wh&#187;)</span></td><td data-label="Значение">one of a&#160;group of words starting with <span class="italic">wh-</span>, such as <span class="italic">what</span>, <span class="italic">when</span> or <span class="italic">who</span>, which are used in <span class="italic">wh</span>-questions. <span class="italic">How</span> is also called a&#160;<span class="italic">wh</span>-word because it behaves like the other <span class="italic">wh</span>-words.</td></tr><tr><td data-label="Термин"><span class="bolder"><span class="italic">yes/no</span>-question (общий вопрос)</span></td><td data-label="Значение">a question that can be answered simply with either <span class="italic">yes</span> or <span class="italic">no</span>; e.g. <span class="italic">Would you like some more tea</span>?</td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
