				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Or&#160;/ nor&#160;/ neither</h1><p class="larger bolder">&#171;Nor&#187; не&#160;привязан к&#160;&#171;neither&#187;. В&#160;отрицательных перечислениях используйте &#171;or&#187;, если второй участник существительное, прилагательное или наречие; если&#160;же глагольная конструкция&#160;&#8212; &#171;nor&#187; либо &#171;or&#187;. Если не&#160;уверены, разделяйте перечисления союзом &#171;and&#187; и&#160;повторно используйте отрицание в&#160;сказуемом.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Nor и&#160;Neither</option>
									<option value="#a2">Or вместо&#160;Nor</option>
									<option value="#a3">Nor либо&#160;Or</option>
									<option value="#a4">Нюансы</option>
									<option value="#a5">Проверьте себя</option>
									<option value="#a6">Ответы</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Nor и&#160;Neither</h2></div><div class="holder-hidden-layer"><p><span class="bolder">Nor</span> обычно следует за <span class="bolder">neither</span> в&#160;рамках одного предложения.</p><p class="blockquote">I like neither hot dogs nor mustard.</p><p>Используйте <span class="bolder">nor</span> в&#160;тройных и&#160;более перечислениях:</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">I like <span class="bolder">neither</span> hot dogs <span class="bolder">nor</span> mustard <span class="bolder">nor</span> ketchup.</span></td><td data-label="Неправильно"><span class="italic">I like neither hot dogs nor mustard or ketchup.<br />I like neither hot dogs or mustard or ketchup.</span></td></tr></tbody></table><p><span class="bolder">Neither</span> может стоять как в&#160;начале, так и&#160;в&#160;середине предложения.</p><p class="blockquote">Neither the man nor the woman is a good surfer.<br />She won&#8217;t agree in neither case.</p><p>Если перечисляются объекты как в&#160;единственном, так и&#160;множественном числе, то согласуйте число сказуемого с&#160;последним участником.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">Neither the men nor <span class="bolder">the woman is a</span> good <span class="bolder">surfer</span>.</span></td></tr><tr><td data-label="Неправильно"><span class="italic">Neither the woman nor <span class="bolder">the men are</span> good <span class="bolder">surfers</span>.</span></td></tr></tbody></table><p><span class="bolder">Nor</span> не&#160;привязан к&#160;<span class="bolder">neither</span>. Если вы&#160;уже упомянули, чего вы не&#160;делаете, то вы&#160;можете либо продолжить перечисление, используя <span class="bolder">nor</span>, либо начать с&#160;него следующее, новое предложение.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">I don&#8217;t usually wake up at 6&#160;a.m., <span class="bolder">nor do</span> I&#160;like to wake up at 5&#160;a.m.</span></td><td data-label="Неправильно"><span class="italic">I don&#8217;t usually wake up at 6&#160;a.m., nor I&#160;don&#8217;t like to wake up at 5&#160;a.m.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Or вместо&#160;Nor</h2></div><div class="holder-hidden-layer"><p>Если второй участник отрицательного перечисления существительное, прилагательное или наречие, используйте <span class="bolder">or</span>.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">He is <span class="bolder">not</span> interested in math <span class="bolder">or</span> science.</span></td><td data-label="Неправильно"><span class="italic">He is not interested in math nor science.</span></td></tr><tr><td data-label="Правильно"><span class="italic">She <span class="bolder">didn&#8217;t</span> speak slowly <span class="bolder">or</span> clearly.</span></td><td data-label="Неправильно"><span class="italic">She didn&#8217;t speak slowly nor clearly.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Nor либо&#160;Or</h2></div><div class="holder-hidden-layer"><p>Если второй участник отрицательного перечисления глагольное словосочетание (не&#160;придаточное предложение), тогда можно использовать и&#160;<span class="bolder">nor</span>, и&#160;<span class="bolder">or</span>, или повтор отрицания в&#160;сказуемом.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">Santa <span class="bolder">will not</span> permit naughty behavior <span class="bolder">or</span> even consider bringing presents.</span></td></tr><tr><td data-label="Правильно"><span class="italic">Santa <span class="bolder">will not</span> permit naughty behavior <span class="bolder">nor</span> even consider bringing presents.</span></td></tr><tr><td data-label="Правильно"><span class="italic">Santa <span class="bolder">will not</span> permit naughty behavior <span class="bolder">and will not</span> even consider bringing presents</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Нюансы</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Неправильно</th><th>Правильно</th></tr></thead><tbody><tr><td data-label="Неправильно"><span class="italic">He will study neither his lesson nor do his chores.</span></td><td data-label="Правильно"><span class="italic">He will <span class="bolder">neither study</span> his lesson <span class="bolder">nor do</span> his chores.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Проверьте себя</h2></div><div class="holder-hidden-layer"><p>Выберите правильный вариант:</p><table class="respond table"><caption></caption><tbody><tr><td data-label=""><span class="italic">1</span></td><td data-label=""><span class="italic">A) I&#160;want neither persimmons nor kiwis.</span></td><td data-label=""><span class="italic">B) I&#160;want neither persimmons or kiwis.</span></td></tr><tr><td data-label=""><span class="italic">2</span></td><td data-label=""><span class="italic">A) I&#160;don&#8217;t want persimmons nor kiwis.</span></td><td data-label=""><span class="italic">B) I&#160;don&#8217;t want persimmons or kiwis.</span></td></tr><tr><td data-label=""><span class="italic">3</span></td><td data-label=""><span class="italic">A) Neither the trees nor the flower inspires me.</span></td><td data-label=""><span class="italic">B) Neither the trees nor the flower inspire me.</span></td></tr><tr><td data-label=""><span class="italic">4</span></td><td data-label=""><span class="italic">A) Squiggly didn&#8217;t want to go to the library nor the principal&#8217;s office.</span></td><td data-label=""><span class="italic">B) Squiggly didn&#8217;t want to go to the library or the principal&#8217;s office.</span></td></tr><tr><td data-label=""><span class="italic">5</span></td><td data-label=""><span class="italic">A) Aardvark neither wondered about the outcome nor cared.</span></td><td data-label=""><span class="italic">B) Aardvark wondered neither about the outcome nor cared.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Ответы</h2></div><div class="holder-hidden-layer"><p>1:A 2:B 3:A 4:B 5:A</p></div>
								<p class="address" role="contentinfo">(Mignon Fogarty. When&#160;to Use &#171;Nor&#187;. &#169;&#160;2013 Macmillan Holdings, LLC.)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
