				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Косвенная речь</h1><p class="larger bolder">При конвертации прямой речи в&#160;косвенную (Reported Speech) необходимо сделать несколько преобразований: соотнести лица, времена и&#160;обстоятельства. Золотое правило: если главное предложение в&#160;прошедшем, то и&#160;придаточное запрошедшивается в&#160;соответствии с&#160;правилами согласования времен.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Процедура</option>
									<option value="#a2">Согласование времен</option>
									<option value="#a3">Замена обстоятельств</option>
									<option value="#a4">Замена местоимений</option>
									<option value="#a5">Примеры</option>
									<option value="#a6">Упражнение</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">1. Если&#160;главное предложение в&#160;прошедшем времени, то придаточное конвертируется в&#160;соответствии с&#160;правилами согласования времен</td><td data-label="Пример"><span class="italic">She said, &#8217;I am well today&#8217;.</span><br /><span class="italic">She said she was well that day.</span></td></tr><tr><td data-label="Правило">2. В&#160;разговорной речи эта замена может не&#160;производиться, если события все еще актуальны</td><td data-label="Пример"><span class="italic">She said she was&#160;/ is in London.</span></td></tr><tr><td data-label="Правило">3. Если&#160;главное предложение в&#160;будущем или настоящем времени, то согласование времен не&#160;производится</td><td data-label="Пример"><span class="italic">She says she is flying to London.</span></td></tr><tr><td data-label="Правило">4. <span class="italic">Past&#160;Simple&#160;&#8212; Past Perfect</span></td><td data-label="Пример"><span class="italic">He told me he had been to London.</span></td></tr><tr><td data-label="Правило">5. Если&#160;Вы указываете кому что-либо было сказано, то используйте <span class="bolder">told&#160;/ said to</span>:</td><td data-label="Пример"><span class="italic">He told me he had been to London.</span><br /><span class="italic">He said to me he had been to London.</span></td></tr><tr><td data-label="Правило">6. Если&#160;не&#160;указываете, тогда&#160;&#8212; <span class="bolder">said</span></td><td data-label="Пример"><span class="italic">He said he had been to London.</span><br /><span class="italic">What did he say to&#160;you?</span><br /><span class="italic">What did he tell you?</span></td></tr><tr><td data-label="Правило">7. В&#160;косвенном вопросе меняем глагол <span class="bolder">ask</span> на:</td><td data-label="Пример"><span class="italic">wondered</span><br /><span class="italic">wanted to&#160;know</span><br /><span class="italic">replied</span><br /><span class="italic">answered</span></td></tr><tr><td data-label="Правило">8. Некоторые высказывания заменяем глаголами</td><td data-label="Пример"><span class="italic">All right&#160;&#8212; agreed/liked</span><br /><span class="italic">No&#160;&#8212; refused</span><br /><span class="italic">Let&#8217;s&#8230;&#160;&#8212; suggested (doing)</span></td></tr><tr><td data-label="Правило">9. <span class="bolder">told (smb.)</span> и&#160;<span class="bolder">ask (smb)</span> имеет также смысл приказа, просьбы</td><td data-label="Пример"><span class="italic">Keep quiet!&#160;&#8212; He told me to keep&#160;quiet.</span><br /><span class="italic">Shut the door!&#160;&#8212; He asked me to shut the door.</span></td></tr><tr><td data-label="Правило">11. Замена модальных глаголов их&#160;прошедшими формами или их&#160;эквивалентами в&#160;прошедшей форме</td><td data-label="Пример"><span class="italic">can&#160;&#8212; could</span><br /><span class="italic">may&#160;&#8212; might</span><br /><span class="italic">shall&#160;&#8212; should</span><br /><span class="italic">will&#160;&#8212; would</span><br /><span class="italic">to be to&#160;&#8212; was&#160;/ were&#160;to</span><br /><span class="italic">to have to&#160;&#8212; had&#160;to</span><br /><span class="italic">must&#160;&#8212; had to</span></td></tr><tr><td data-label="Правило">12. Обратите внимание, что <span class="bolder">can</span> и&#160;<span class="bolder">may</span> заменяем не&#160;только на <span class="bolder">could</span> и&#160;<span class="bolder">might</span></td><td data-label="Пример"><span class="italic">We could go&#8230;Мы могли&#160;бы (наш выбор) пойти&#8230;</span><br /><span class="italic">We were not able to go&#8230;Мы не&#160;смогли (обстоятельства не&#160;позволили) пойти&#8230;</span><br /><span class="italic">We might go&#8230;Мы можем (возможно) поехать&#8230;</span><br /><span class="italic">We were not allowed to go&#8230;Мы не&#160;могли (нам не&#160;разрешили) поехать&#8230;</span></td></tr><tr><td data-label="Правило">13. В&#160;пассивном залоге есть только:</td><td data-label="Пример"><span class="italic">would&#160;/ should be&#160;done</span><br /><span class="italic">would&#160;/ should have been&#160;done </span></td></tr><tr><td data-label="Правило">14. В&#160;пассивном залоге нет:</td><td data-label="Пример"><span class="italic">would be being&#160;done</span><br /><span class="italic">would have been being done</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Согласование времен</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Прямая</th><th>Косвенная</th></tr></thead><tbody><tr><td data-label="Прямая"><span class="italic">Present Simple</span></td><td data-label="Косвенная"><span class="italic">Present Simple/Past Simple</span></td></tr><tr><td data-label="Прямая"><span class="italic">Present Continuous</span></td><td data-label="Косвенная"><span class="italic">Past Continuous</span></td></tr><tr><td data-label="Прямая"><span class="italic">Present Perfect</span></td><td data-label="Косвенная"><span class="italic">Past Perfect</span></td></tr><tr><td data-label="Прямая"><span class="italic">Present Perfect Continuous</span></td><td data-label="Косвенная"><span class="italic">Past Perfect Continuous</span></td></tr><tr><td data-label="Прямая"><span class="italic">Past Simple</span></td><td data-label="Косвенная"><span class="italic">Past Perfect</span></td></tr><tr><td data-label="Прямая"><span class="italic">Past Perfect</span></td><td data-label="Косвенная"><span class="italic">Past Perfect</span></td></tr><tr><td data-label="Прямая"><span class="italic">Past Continuous</span></td><td data-label="Косвенная"><span class="italic">Past Perfect Continuous</span></td></tr><tr><td data-label="Прямая"><span class="italic">Past Perfect Continuous</span></td><td data-label="Косвенная"><span class="italic">Past Perfect Continuous</span></td></tr><tr><td data-label="Прямая"><span class="italic">Future Simple</span></td><td data-label="Косвенная"><span class="italic">Future-in-the-Past Simple</span></td></tr><tr><td data-label="Прямая"><span class="italic">Future Continuous</span></td><td data-label="Косвенная"><span class="italic">Future-in-the-Past Continuous</span></td></tr><tr><td data-label="Прямая"><span class="italic">Future Perfect</span></td><td data-label="Косвенная"><span class="italic">Future-in-the-Past Perfect</span></td></tr><tr><td data-label="Прямая"><span class="italic">Future Perfect Continuous</span></td><td data-label="Косвенная"><span class="italic">Future-in-the-Past Perfect Continuous</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Замена обстоятельств</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Прямая</th><th>Косвенная</th></tr></thead><tbody><tr><td data-label="Прямая"><span class="bolder">now</span>&#160;&#8212; сейчас</td><td data-label="Косвенная"><span class="bolder">then</span>&#160;&#8212; тогда</td></tr><tr><td data-label="Прямая"><span class="bolder">today</span>&#160;&#8212; сегодня</td><td data-label="Косвенная"><span class="bolder">that day</span>&#160;&#8212; в&#160;тот день</td></tr><tr><td data-label="Прямая"><span class="bolder">tomorrow</span>&#160;&#8212; завтра</td><td data-label="Косвенная"><span class="bolder">(the) next day, the following day</span>&#160;&#8212; на&#160;следующий день</td></tr><tr><td data-label="Прямая"><span class="bolder">yesterday</span>&#160;&#8212; вчера</td><td data-label="Косвенная"><span class="bolder">the day before, the previous day</span>&#160;&#8212; накануне</td></tr><tr><td data-label="Прямая"><span class="bolder">next week</span>&#160;&#8212; на&#160;следующей неделе</td><td data-label="Косвенная"><span class="bolder">the next week, the following week</span>&#160;&#8212; на&#160;следующей неделе</td></tr><tr><td data-label="Прямая"><span class="bolder">next year</span>&#160;&#8212; на&#160;будущий год</td><td data-label="Косвенная"><span class="bolder">the next year, the following year</span>&#160;&#8212; в&#160;следующем году</td></tr><tr><td data-label="Прямая"><span class="bolder">last week</span>&#160;&#8212; на&#160;прошлой неделе</td><td data-label="Косвенная"><span class="bolder">the previous week</span>&#160;&#8212; за&#160;неделю до</td></tr><tr><td data-label="Прямая"><span class="bolder">last year</span>&#160;&#8212; в&#160;прошлом году</td><td data-label="Косвенная"><span class="bolder">the year before</span>&#160;&#8212; за&#160;год до</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Замена местоимений</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Прямая</th><th>Косвенная</th></tr></thead><tbody><tr><td data-label="Прямая"><span class="bolder">here</span>&#160;&#8212; здесь</td><td data-label="Косвенная"><span class="bolder">there</span>&#160;&#8212; там</td></tr><tr><td data-label="Прямая"><span class="bolder">this, these</span>&#160;&#8212; это, этот, эти</td><td data-label="Косвенная"><span class="bolder">that, those</span>&#160;&#8212; то, тот, те</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Примеры</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Прямая</th><th>Косвенная</th></tr></thead><tbody><tr><td data-label="Прямая"><span class="italic">You are pretty.</span><br /><span class="italic">You are so intelligent.</span><br /><span class="italic">You dance so&#160;well.</span><br /><span class="italic">You&#8217;ve got [have got] lovely&#160;hair.</span><br /><span class="italic">I&#8217;ll never forget this day.</span></td><td data-label="Косвенная"><span class="italic">He said I&#160;was pretty.</span><br /><span class="italic">He said I&#160;was so intelligent.</span><br /><span class="italic">He said I&#160;danced so&#160;well.</span><br /><span class="italic">He said I&#160;had got lovely&#160;hair.</span><br /><span class="italic">He said he would never forget that day.</span></td></tr><tr><td data-label="Прямая"><span class="italic">Do you like ballet?</span><br /><span class="italic">Have you ever been to Boston?</span></td><td data-label="Косвенная"><span class="italic">He asked me if/whether I&#160;liked ballet.</span><br /><span class="italic">He asked me if/whether I&#160;had ever been to Boston.</span></td></tr><tr><td data-label="Прямая"><span class="italic">Where do you&#160;study?</span><br /><span class="italic">What are you reading?</span><br /><span class="italic">When will we meet&#160;again?</span><br /><span class="italic">Why don&#8217;t you stay longer?</span></td><td data-label="Косвенная"><span class="italic">He asked me where I&#160;studied.</span><br /><span class="italic">He asked me what I&#160;was reading.</span><br /><span class="italic">He asked me when I&#160;should meet him&#160;again.</span><br /><span class="italic">He asked me why I&#160;didn&#8217;t stay longer.</span></td></tr><tr><td data-label="Прямая"><span class="italic">Give me your telephone number, please.</span><br /><span class="italic">Ring me up tomorrow.</span><br /><span class="italic">Help me to translate an article from English!</span></td><td data-label="Косвенная"><span class="italic">He asked me to give him my telephone number.</span><br /><span class="italic">He asked me to ring him up the next morning.</span><br /><span class="italic">He asked me to help him to translate an article from English.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Упражнение</h2></div><div class="holder-hidden-layer"><p>Объясните преобразование времен:</p><p class="blockquote">It will have been raining for a month by&#160;the time we come back if the forecast is right.</p><p class="blockquote">It would have been raining for a month by&#160;the time we came back if the forecast was right.</p></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
