				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">&#171;Ex-&#187; и&#160;&#171;former&#187;, или Осторожно: морпехи</h1><p class="larger bolder">&#171;Ex-&#187; и&#160;&#171;former&#187;&#160;&#8212; синонимы, но&#160;части речи&#160;&#8212; разные. Оба&#160;означают &#171;бывший&#187;. &#171;Ex-&#187;&#160;&#8212; необязательно &#171;предыдущий&#187; и&#160;вовсе не&#160;имеет негативного подтекста. &#171;Former&#187; ставится перед званиями и&#160;титулами, но&#160;для краткости и&#160;экономии места в&#160;заголовках традиционно используется &#171;ex-&#187;, а в&#160;основном тексте&#160;&#8212; и&#160;&#171;ex-&#187;, и&#160;&#171;former&#187;. &#171;Ex-&#187; не используют с&#160;неодушевленными объектами. &#171;Ex-&#187; используют во&#160;избежание путанницы: &#171;former&#187;&#160;&#8212; это также &#171;второй из&#160;двух&#187;. В&#160;употреблении &#171;ex-&#187; или &#171;former&#187; с&#160;различными словами сложились предпочтения.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">На практике</option>
									<option value="#a2">&#171;Ex-wife&#8212;former wife&#187;, &#171;ex-president&#8212;former president&#187;</option>
									<option value="#a3">&#8220;Once a Marine, Always a Marine&#8221;</option>
									<option value="#a4">Написание &#171;ex-&#187;, &#171;former&#187;, &#171;then&#187;</option>
									<option value="#a5">The then President</option>
									<option value="#a6">&#171;The first&#8212;the second&#187; вместо &#171;the former&#8212;the latter&#187;</option>
									<option value="#a7">&#171;The first&#8230;the last&#187;</option>
									<option value="#a8">&#171;Late&#187;&#160;&#8212; &#171;покойный&#187;</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">На практике</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Ex-</th><th>Former</th></tr></thead><tbody><tr><td data-label="Ex-">ex-wife (ex)</td><td data-label="Former">&#160;</td></tr><tr><td data-label="Ex-">ex-husbund (ex)</td><td data-label="Former">&#160;</td></tr><tr><td data-label="Ex-">ex-boyfriend</td><td data-label="Former">&#160;</td></tr><tr><td data-label="Ex-">ex-girlfriend</td><td data-label="Former">&#160;</td></tr><tr><td data-label="Ex-">&#160;</td><td data-label="Former">former spouse</td></tr><tr><td data-label="Ex-">&#160;</td><td data-label="Former">former couple</td></tr><tr><td data-label="Ex-">ex-president (в&#160;заголовках для экономии места)</td><td data-label="Former">former president (в&#160;основном тексте)</td></tr><tr><td data-label="Ex-">Ex-Army Lieutenant (в&#160;заголовках для экономии места)</td><td data-label="Former">former army lieutenant (в&#160;основном тексте)</td></tr><tr><td data-label="Ex-">ex-military</td><td data-label="Former">former military</td></tr><tr><td data-label="Ex-">ex-Marine (уволен с&#160;лишением прав и&#160;привелегий)</td><td data-label="Former">former Marine / veteran Marine (уволен с&#160;положительной характеристикой)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">&#171;Ex-wife&#8212;former wife&#187;, &#171;ex-president&#8212;former president&#187;</h2></div><div class="holder-hidden-layer"><p>&#171;Ex-&#187; не&#160;содержит негатива:</p><p><span class="italic">Eddie Murphy and Girlfriend Paige Butcher Join His Ex-Wife Nicole Murphy at Premiere of Daughter Bria's New Movie</span></p><table class="respond table"><caption></caption><thead><tr><th>В&#160;заголовке</th><th>В&#160;тексте</th></tr></thead><tbody><tr><td data-label="В&#160;заголовке"><span class="italic">Retired NYPD lieutenant slashes domestic violence officer <span class="bolder">ex-wife</span>&#8217;s neck over argument about picking kids up</span></td><td data-label="В&#160;тексте"><span class="italic">This is the second time Vincent Curulli, 49, has been charged with abusing his <span class="bolder">former spouse</span>, who is a retired NYPD domestic violence officer, officials said.</span></td></tr><tr><td data-label="В&#160;заголовке"><span class="italic">US congress to put limits on <span class="bolder">ex-presidents</span>&#8217; budgets</span></td><td data-label="В&#160;тексте"><span class="italic">On Friday the US congress voted to place limits on expense accounts allotted to <span class="bolder">former presidents</span>.</span></td></tr><tr><td data-label="В&#160;заголовке"><span class="italic"><span class="bolder">Ex-Army Lieutenant Colonel</span> Charged with Collecting Pay While in Prison</span></td><td data-label="В&#160;тексте"><span class="italic"><span class="bolder">A former lieutenant colonel</span> in the Army Reserve was arrested Friday after officials said they learned he collected military paychecks while locked up in Kansas&#8217; Fort Leavenworth prison for assault.</span></td></tr><tr><td data-label="В&#160;заголовке"><span class="italic"><span class="bolder">Ex-Marine</span> dies in shootout after killing three Baton Rouge police officers and wounding three more</span></td><td data-label="В&#160;тексте"><span class="italic">A decorated (награжденный знаками отличия) <span class="bolder">former US Marine</span> sergeant opened fire on police in Baton Rouge on Sunday, killing three officers, nearly two weeks after the fatal police shooting of a black man there sparked nationwide protests, including one shattered by the massacre of five Dallas policemen.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">&#8220;Once a Marine, Always a Marine&#8221;</h2></div><div class="holder-hidden-layer"><p>&#171;Former Marine&#187; <span id="result_box" lang="ru">относится к&#160;тому, кто ранее участвовал в&#160;боевых действих или служил в&#160;резерве</span>. Выражение &#171;ex-Marine&#187;&#160;&#8212; табу для самих морпехов, но&#160;допустимо для заголовков в&#160;СМИ.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">The Baton Rouge victims: A new dad, an <span class="bolder">ex-Marine</span> and a father of four</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Написание &#171;ex-&#187;, &#171;former&#187;, &#171;then&#187;</h2></div><div class="holder-hidden-layer"><p>&#171;Ex&#187; в&#160;значении &#171;бывший&#187; пишется с&#160;дефисом.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры">ex-champion</td></tr><tr><td data-label="Примеры">ex-president</td></tr><tr><td data-label="Примеры">ex-tennis player</td></tr><tr><td data-label="Примеры">a Communist ex-member</td></tr><tr><td data-label="Примеры">an ex-Communist member</td></tr><tr><td data-label="Примеры">ex-Governor Patricia&#160;B.&#160;Kellogg</td></tr><tr><td data-label="Примеры">ex-farmer</td></tr></tbody></table><p>В латинских или смешанных с&#160;латинскими словами сочетаниях &#171;ex&#187; пишется без дефиса.</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">ex officio</span></td><td data-label="Значение">по&#160;долгу службы</td></tr><tr><td data-label="Примеры"><span class="italic">ex officio chairman</span></td><td data-label="Значение">председатель по&#160;должности</td></tr><tr><td data-label="Примеры"><span class="italic">ex cathedra</span></td><td data-label="Значение">авторитетно</td></tr><tr><td data-label="Примеры"><span class="italic">ex dividend</span></td><td data-label="Значение">без дивиденда</td></tr><tr><td data-label="Примеры"><span class="italic">ex parte</span></td><td data-label="Значение">в&#160;одностороннем порядке</td></tr><tr><td data-label="Примеры"><span class="italic">ex post facto</span></td><td data-label="Примеры">имеющий обратную силу</td></tr></tbody></table><p>&#171;Former&#187; и &#171;then&#187; пишутся без дефиса.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры">former president Carter</td></tr><tr><td data-label="Примеры">former President Ronald Reagan</td></tr><tr><td data-label="Примеры">former presidents Reagan and Ford</td></tr><tr><td data-label="Примеры">The former Soviet Union</td></tr><tr><td data-label="Примеры">the former first lady</td></tr><tr><td data-label="Примеры">the then secretary of state Colin Powell</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">The then President</h2></div><div class="holder-hidden-layer"><p>Используйте &#171;then&#187; (тогдашний, в&#160;то время), предпочтительно без дефиса, для обозначения роли лица в&#160;описываемых обстоятельствах прошлого.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">In a six&#8210;page memo marked secret and personal, <span class="bolder">the then British prime minister</span> told Bush, <span class="bolder">US president at the time</span>, in July 2002&#160;that the removal of Saddam Hussein would &#8220;free up the region&#8221; even if Iraqis may &#8220;feel ambivalent about being invaded&#8221; and could well fight&#160;back.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">&#171;The first&#8212;the second&#187; вместо &#171;the former&#8212;the latter&#187;</h2></div><div class="holder-hidden-layer"><p>&#171;The first&#187;, &#171;the second&#187; понятны.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">You have the option of one or two bedrooms. <span class="bolder">The first</span> choice allows room for a small bathroom.</span></td></tr></tbody></table><p>&#171;The former&#187;, &#171;the latter&#187; формальны.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">Guy had studied Greek and philosophy at Oxford and had continued to have an interest in <span class="bolder">the latter subject</span>.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">&#171;The first&#8230;the last&#187;</h2></div><div class="holder-hidden-layer"><p>Если перечисляемых объектов больше двух, используйте &#171;the first&#8230;the last&#187;.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">Our flag is red, white, and blue. My&#160;son likes <span class="bolder">the first color</span>, my daughter <span class="bolder">the last</span>.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">&#171;Late&#187;&#160;&#8212; &#171;покойный&#187;</h2></div><div class="holder-hidden-layer"><p>Употребляется для обозначения недавно ушедшего из&#160;жизни человека.</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Примеры"><span class="italic">He made a donation to the school in memory of his <span class="bolder">late wife</span>.</span></td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(The Chicago Manual of Style. &#169;&#160;2006, 2007, 2010&#160;by The University of Chicago)<br />(The New York Times Manual of Style and Usage. Copyright &#169;&#160;2015 by The New York Times Company)<br />(Collins COBUILD English Grammar. &#169;&#160;HarperCollins Publishers 1992, 2002, 2005, 2011)<br />(Style Guide. Copyright &#169;&#160;The Economist Newspaper Limited 2016)<br />(The National Geographic Style Manual. Copyright &#169;&#160;2016 National Geographic Partners, LLC)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
