				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Когда must&#160;= &#171;должно быть&#187;</h1><p class="larger bolder">Помимо &#171;должен&#160;/ обязан&#187; &#171;must&#187; может означать &#171;должно быть&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Процедура</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><p>Помимо &#171;должен&#160;/ обязан&#187; <span class="bolder">must</span> может означать &#171;должно быть&#187;. Это&#160;справедливо всегда, если <span class="bolder">must</span> находится перед континиусным или перфектным инфинитивом.</p><p class="blockquote">&#8216;Joe is a hard worker.&#8217; &#8216;joe? You&#160;must be joking. He&#160;doesn&#8217;t do anything.&#8217;</p><p class="blockquote">&#8216;We used to live very near the motorway.&#8217; &#8216;Did you? lt must have been noisy.&#8217;</p><p><span class="bolder">Must</span> + простой инфинитив также может означать &#171;должно быть&#187;:</p><p class="blockquote">You&#8217;ve been travelling all day. You&#160;must be tired. (Travelling is tiring and you&#8217;ve been travelling all day, so you must be tired.)</p><p class="blockquote">Louise must get very bored in her job. She&#160;does the same thing every&#160;day.</p><p><span class="bolder">Can&#8217;t</span> и&#160;<span class="bolder">couldn&#8217;t</span> может означать недовольство, выраженное словом &#171;неужели&#187; + утвердительная форма глагола:</p><p class="blockquote">You&#8217;ve just had lunch. You&#160;can&#8217;t be hungry already.</p></div>
								<p class="address" role="contentinfo">(Raymond Murphy. English Grammar in Use Extra: Must and Can&#8217;t. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 56)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
