				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Порядок слов в&#160;предложении</h1><p class="larger bolder">В английском предложении жесткий порядок слов: подлежащие&#160;&#8212; сказуемое&#160;&#8212; дополнение&#160;&#8212; обстоятельство.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Примеры</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Примеры</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>подл. (кто? что?)</th><th>сказ. (что делать? что сделать?)</th><th>косв. доп. (кому?)</th><th>прям. доп. (кого? что?)</th><th>предл. доп. (с&#160;кем? для чего?&#8230;)</th><th>обст. обр.&#160;д. (как?)</th><th>обст. места (где? куда?)</th><th>обст. вр. (когда?)</th></tr></thead><tbody><tr><td data-label="подл. (кто? что?)"><span class="italic">She</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">opened</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">the door</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">quietly</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">Lisa</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">goes</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">to work</span></td><td data-label="обст. вр. (когда?)"><span class="italic">everyday</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">will <span class="bolder">always</span> remember</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">you</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">am <span class="bolder">never</span> ill</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">My brother</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic bolder">never</span> speaks</td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">to me</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">He</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">isn&#8217;t</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">here</span></td><td data-label="обст. вр. (когда?)"><span class="italic bolder">yet</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic bolder">There</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">is <span class="bolder">no milk</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">in the fridge</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic bolder">It</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">is nice <span class="bolder">to see you again</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">lent</span></td><td data-label="косв. доп. (кому?)"><span class="italic">John</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">some money</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">lent</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">some money</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">to John</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">lent</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">it</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic bolder">to John</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">&#160;</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">Put on</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">your coat!</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">&#160;</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">Put</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">your coat on!</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">&#160;</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">Put</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">it <span class="bolder">on</span>!</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">must give back</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">the book</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">must give</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">the book back</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">must give</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">it <span class="bolder">back</span></span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">His shoes</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">are <span class="bolder">too</span> big</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">am tired, <span class="bolder">too</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">She</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">isn&#8217;t tired <span class="bolder">either</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">&#160;</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">So am <span class="bolder">I</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">Who</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">saw</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">you?</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">Who (m)</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic bolder">did</span> you see?</td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">He</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">went <span class="bolder">in</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic bolder">to</span> the house</td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">He</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">is sure <span class="bolder">to come</span></span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">&#160;</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">want</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">the work <span class="bolder">(to be) done</span></span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">Do you</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">know</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">where <span class="bolder">she is</span>?</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr><tr><td data-label="подл. (кто? что?)"><span class="italic">I</span></td><td data-label="сказ. (что делать? что сделать?)"><span class="italic">don&#8217;t know</span></td><td data-label="косв. доп. (кому?)"><span class="italic">&#160;</span></td><td data-label="прям. доп. (кого? что?)"><span class="italic">if&#160;/ whether <span class="bolder">she is</span> here</span></td><td data-label="предл. доп. (с&#160;кем? для чего?&#8230;)"><span class="italic">&#160;</span></td><td data-label="обст. обр.&#160;д. (как?)"><span class="italic">&#160;</span></td><td data-label="обст. места (где? куда?)"><span class="italic">&#160;</span></td><td data-label="обст. вр. (когда?)"><span class="italic">&#160;</span></td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
