				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Alone&#160;/ by&#160;myself&#160;/ on&#160;my&#160;own</h1><p class="larger bolder">Alone&#160;&#8212; &#171;один (в&#160;одиночестве, одинокий)&#187;; by&#160;myself&#160;&#8212; &#171;один (в&#160;одиночестве, без чьего-либо участия)&#187;; on&#160;my&#160;own&#160;&#8212; &#171;один (сам по&#160;себе, без чьей-либо помощи)&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Кратко</option>
									<option value="#a2">Alone (в&#160;одиночестве, одинокий)</option>
									<option value="#a3">By myself (в&#160;одиночестве, без чьего-либо участия)</option>
									<option value="#a4">On my own (сам по&#160;себе, без чьей-либо помощи)</option>
									<option value="#a5">By my own means (своими силами)</option>
									<option value="#a6">Solitary (любящий уединение)</option>
									<option value="#a7">Lonely (томящийся одиночеством)</option>
									<option value="#a8">Упражнение</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Кратко</h2></div><div class="holder-hidden-layer"><p><span class="bolder">Alone</span> и&#160;<span class="bolder">by myself</span> схожи по&#160;смыслу, означают &#171;сам, один&#187;.</p><table class="respond table"><caption></caption><thead><tr><th>Один</th><th>Один</th></tr></thead><tbody><tr><td data-label="Один"><span class="italic">&#8216;Why can&#8217;t you people leave me alone?&#8217; he says.</span></td><td data-label="Один"><span class="italic">I&#8217;ve been sitting in the classroom by myself.</span></td></tr></tbody></table><p><span class="bolder">Alone</span> может иметь эмоциональный оттенок&#160;&#8212; &#171;одинокий&#187;. Сравните:</p><table class="respond table"><caption></caption><thead><tr><th>Факт</th><th>Эмоция</th></tr></thead><tbody><tr><td data-label="Факт"><span class="italic">The doctor had been working alone.</span></td><td data-label="Эмоция"><span class="italic">He shouldn&#8217;t have left her alone, just as if she was someone of no importance at all.</span></td></tr></tbody></table><p><span class="bolder">By myself</span>, в&#160;отличие от <span class="bolder">alone</span>, всегда означает &#171;без чьего-либо участия&#187;.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">Look, I&#160;love sitting by myself, that doesn&#8217;t mean I'm a lonely person. (один, не одинок)</span></td><td data-label="Правильно"><span class="italic">I am surrounded by so many people, yet I&#160;always feel like I&#8217;m alone. (не один, но одинок)</span></td></tr></tbody></table><p><span class="bolder">On my own</span> означает &#171;сам, один (сам по&#160;себе, без чьей-либо помощи)&#187;.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">She&#8217;s been on her own since she was 16.</span></td><td data-label="Неправильно"><span class="italic">She&#8217;s been by her own since she was 16.</span></td></tr></tbody></table><p>Не путайте <span class="bolder">on my own</span> с&#160;<span class="bolder">by my own + means&#160;/ money&#160;/ efforts etc.</span></p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">I can do it by my own means.</span></td><td data-label="Неправильно"><span class="italic">I can do it by my own.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Alone (в&#160;одиночестве, одинокий)</h2></div><div class="holder-hidden-layer"><p><span class="bolder">Alone</span> всегда стоит после слова, которое определяет.</p><p class="blockquote"><span class="italic">People don&#8217;t work for money alone.</span></p><p><span class="bolder">Alone</span> не&#160;ставится перед существительным.</p><p class="blockquote"><span class="italic">When I&#160;came into the class, the teacher was alone.</span></p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">By myself (в&#160;одиночестве, без чьего-либо участия)</h2></div><div class="holder-hidden-layer"><p><span class="bolder">By myself</span> и&#160;<span class="bolder">alone</span> взаимозаменяемы.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">I was (all) alone in the empty school building.</span></td><td data-label="Правильно"><span class="italic">I was (all) by myself in the empty school building.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">On my own (сам по&#160;себе, без чьей-либо помощи)</h2></div><div class="holder-hidden-layer"><p>Сравните:</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">He built the house on his own. (сам, самостоятельно, решил никого не&#160;просить помочь)</span></td><td data-label="Правильно"><span class="italic">He built the house by himself. (один, в&#160;одиночку, пришлось одному построить)</span></td></tr></tbody></table><p>Могут быть люди вокруг, но вы&#160;никого не&#160;знаете и&#160;вы&#160;один:</p><p class="blockquote"><span class="italic">I was on my own in a city I&#160;had never been to before. I&#160;didn't know anyone who lived there.</span></p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">By my own means (своими силами)</h2></div><div class="holder-hidden-layer"><p><span class="bolder">By my own</span> не&#160;является цельным сочетанием: <span class="bolder">own</span> относится к&#160;существительному.</p><p class="blockquote"><span class="italic">I can do it by my own means.</span></p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Solitary (любящий уединение)</h2></div><div class="holder-hidden-layer"><p>Употребляется перед существительным.</p><p class="blockquote"><span class="italic">She enjoys her daily solitary walks.</span></p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">Lonely (томящийся одиночеством)</h2></div><div class="holder-hidden-layer"><p>Употребляется перед существительным.</p><p class="blockquote"><span class="italic">Ann hated her lonely weekends in that city.</span></p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">Упражнение</h2></div><div class="holder-hidden-layer"><p>Подберите слово, исходя из&#160;изложенного выше:</p><ol><li>Do you like spending time ___?</li><li>Fishing and walking are the two pleasures of the ___ life that he enjoys.</li><li>Don&#8217;t you feel ___ being on your own all day?</li><li>I can manage ___ now, thanks for your help.</li><li>She doesn't like travelling ___.</li></ol><p>Ответы: 1. alone 2. solitary 3. lonely 4. on my own 5. alone</p></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
