				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Can&#160;/ could&#160;/ be&#160;able&#160;to</h1><p class="larger bolder">Одно дело &#171;уметь&#187;, другое&#160;&#8212; &#171;суметь&#187;. Одно&#160;дело &#171;мочь&#187;, другое&#160;&#8212; &#171;быть в&#160;стостоянии&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Многозначность can, синонимичность be&#160;able&#160;to</option>
									<option value="#a2">Can = be&#160;able&#160;to</option>
									<option value="#a3">Can = might be&#160;able&#160;to</option>
									<option value="#a4">Can not (раздельно) = might not be&#160;able&#160;to</option>
									<option value="#a5">Фактическая возможность</option>
									<option value="#a6">Смочь&#160;/ суметь</option>
									<option value="#a7">was&#160;/ were able to = managed to = реализовано</option>
									<option value="#a8">could = реализовано</option>
									<option value="#a9">could = не&#160;реализовано</option>
									<option value="#a10">could + see&#160;/ hear&#160;/ smell&#160;/ taste&#160;/ feel&#160;/ remember&#160;/ understand</option>
									<option value="#a11">Модальный глагол + able to</option>
									<option value="#a12">can не&#160;имеет present perfect</option>
									<option value="#a13">can не&#160;имеет форм будущего времени</option>
									<option value="#a14">Абстрактные субъекты + can</option>
									<option value="#a15">Нюансы</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Многозначность can, синонимичность be&#160;able&#160;to</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">Can you help me with my homework?<br />Are you able to help me with my homework?</span></td><td data-label="Значение">Не будет&#160;ли учитель против, если ты&#160;мне поможешь с&#160;заданием? (разрешение)</td></tr><tr><td data-label="Пример"><span class="italic">Can you help me with my homework?<br />Are you able to help me with my homework?</span></td><td data-label="Значение">Если ты не&#160;очень занят сейчас, поможешь с&#160;заданием? (возможность)</td></tr><tr><td data-label="Пример"><span class="italic">Can you help me with my homework?<br />Are you able to help me with my homework?</span></td><td data-label="Значение">Понимешь&#160;ли ты&#160;что-нибудь в&#160;этой теме? (способность)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Can = be&#160;able&#160;to</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">He can&#8217;t help you</span></td><td data-label="Правильно"><span class="italic">He is not able to help you</span></td></tr><td data-label="Правильно"><span class="italic">He can help you tomorrow</span></td><td data-label="Правильно"><span class="italic">He will be&#160;able&#160;to help you tomorrow</span></td></tr><td data-label="Правильно"><span class="italic">He could help you</span></td><td data-label="Правильно"><span class="italic">He was able to help you</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Can = might be&#160;able&#160;to</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">Tom can come tomorrow.</span></td><td data-label="Правильно"><span class="italic">Tom might be&#160;able&#160;to come tomorrow.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Can not (раздельно) = might not be&#160;able&#160;to</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">She can not come</span></td><td data-label="Правильно"><span class="italic">She might not be&#160;able&#160;to come</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Фактическая возможность</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Допускается</th><th>Предпочтительно</th></tr></thead><tbody><tr><td data-label="Допускается"><span class="italic">Yet you can look at the future of it in this very objective way.</span></td><td data-label="Предпочтительно"><span class="italic">Yet you are able to look at the future of it in this very objective way.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Смочь&#160;/ суметь</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">I ran fast so I&#160;could catch the bus.</span></td><td data-label="Значение">смог сесть на&#160;автобус, и&#160;неважно, получилось или нет, важен мотив быстрого бега</td></tr><tr><td data-label="Пример"><span class="italic">I ran fasts so I&#160;could have caught the bus. (I ran fast so I&#160;could catch the bus but I&#160;didn&#8217;t run fast enough.)</span></td><td data-label="Значение">мог, но не&#160;сумел сесть на&#160;автобус</td></tr><tr><td data-label="Пример"><span class="italic">I ran fast, so (and therefore) I&#160;was able to catch the bus.</span></td><td data-label="Значение">сумел в&#160;итоге сесть на&#160;автобус</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">was&#160;/ were able to = managed to = реализовано</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">We were able to finish work earlier last Tuesday. (We managed to finish work earlier last Tuesday.)</span></td><td data-label="Значение">смогли, и&#160;получилось</td></tr><tr><td data-label="Пример"><span class="italic">I wasn&#8217;t able to lock the door yesterday. (I didn&#8217;t manage to lock the door yesterday.)</span></td><td data-label="Значение">так и&#160;не&#160;смог</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">could = реализовано</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">Finally we could finish work.</span></td><td data-label="Значение">Наконец, мы&#160;смогли закончить работу</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a9">could = не&#160;реализовано</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">We could finish work earlier last Tuesday.</span></td><td data-label="Значение">могли, но не&#160;вышло</td></tr><tr><td data-label="Пример"><span class="italic">I couldn&#8217;t lock the door yesterday.</span></td><td data-label="Значение">не&#160;мог, и&#160;не&#160;получилось</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a10">could + see&#160;/ hear&#160;/ smell&#160;/ taste&#160;/ feel&#160;/ remember&#160;/ understand</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">When we went into the house, we could smell burning</span></td><td data-label="Неправильно"><span class="italic">When we went into the house, we were able to smell burning</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a11">Модальный глагол + able to</h2></div><div class="holder-hidden-layer"><p>Для выражения двойной модальности, <span class="bolder">саn</span> заменяют на <span class="bolder">be&#160;able&#160;to</span>, поскольку два модальных глагола не&#160;употребляются вместе</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">I might be&#160;able&#160;to help you with the essay.</span></td><td data-label="Неправильно"><span class="italic">I might can help you with the essay.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a12">can не&#160;имеет present perfect</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">I haven&#8217;t been able to sleep recently.</span></td><td data-label="Неправильно"><span class="italic">I couldn&#8217;t sleep recently.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a13">can не&#160;имеет форм будущего времени</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">He will be&#160;able&#160;to walk in two months</span></td><td data-label="Неправильно"><span class="italic">He can walk in two months</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a14">Абстрактные субъекты + can</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">This can be done.</span></td><td data-label="Неправильно"><span class="italic">This is able to be done.</span></td></tr><td data-label="Правильно"><span class="italic">This fact can disprove their hypothesis.</span></td><td data-label="Неправильно"><span class="italic">This fact is able to disprove their hypothesis.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a15">Нюансы</h2></div><div class="holder-hidden-layer"><p>Для отрицания универсален&#160;<span class="bolder">could</span>.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Правильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">We tried hard but we couldn&#8217;t persuade them to come with us.</span></td><td data-label="Правильно"><span class="italic">We tried hard but we were not able to persuade them to come with us.</span></td></tr><td data-label="Правильно"><span class="italic">Alf played well but he couldn&#8217;t beat Jack.</span></td><td data-label="Правильно"><span class="italic">Alf played well but he wasn&#8217;t able to beat Jack.</span></td></tr></tbody></table><p>В ленивой речи могут употребить <span class="bolder">can (be) able to&#160;/ can&#8217;t (be) able&#160;to</span>.</p><table class="respond table"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><td data-label="Правильно"><span class="italic">What if you won&#8217;t be&#160;able&#160;to serve someone in small claims court?</span></td><td data-label="Неправильно"><span class="italic">What if you can&#8217;t (be) able to serve someone in small claims court?</span></td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
