				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">In&#160;hospital&#160;/ at&#160;work&#160;etc.</h1><p class="larger bolder">&#171;In hospital&#160;/ in prison&#160;/ in jail&#187;, но: &#171;at work&#160;/ at school&#160;/ at university&#160;/ at college&#187;&#160;&#8212; означает не&#160;сколько нахождение в&#160;помещении, сколько деятельность, связанную с&#160;этими объектами, то есть &#171;отбывать наказание, отправлять религиозные культы, учиться&#187; и&#160;тд. Однако &#171;In the hospital&#160;/ in the prison&#160;/ in the jail&#187;, а&#160;также: &#171;in the school&#160;/ in the university&#160;/ in the college&#187;&#160;&#8212; означает, наоборот, внутри объекта, а не&#160;деятельность, связанную с&#160;ним.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Сравните</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Сравните</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Деятельность</th><th>Пребывание внутри</th></tr></thead><tbody><tr><td data-label="Деятельность">at sea</td><td data-label="Пребывание внутри">in the sea</td></tr><tr><td data-label="Деятельность">in&#160;/ at the shop</td><td data-label="Пребывание внутри">in the shop</td></tr><tr><td data-label="Деятельность">at the hotel</td><td data-label="Пребывание внутри">in the hotel</td></tr><tr><td data-label="Деятельность">in&#160;/ at the restaurant</td><td data-label="Пребывание внутри">in the restaurant</td></tr><tr><td data-label="Деятельность">in Paris&#160;/ in a village</td><td data-label="Пребывание внутри">in Paris&#160;/ in a village</td></tr><tr><td data-label="Деятельность">at the station</td><td data-label="Пребывание внутри">in the station</td></tr><tr><td data-label="Деятельность">at church</td><td data-label="Пребывание внутри">in the church</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Raymond Murphy. English Grammar in Use Extra: In&#160;/ at&#160;/ on (position) 3. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 250)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
