				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">All&#160;/ the whole&#160;/ the entire</h1><p class="larger bolder">&#171;All&#187;&#160;&#8212; все и&#160;весь, &#171;the whole&#187;&#160;&#8212; весь (одним цельным куском), &#171;the entire&#187;&#160;&#8212; весь (со&#160;всеми частями).</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Делимы&#160;/ неделимы</option>
									<option value="#a2">All (the)</option>
									<option value="#a3">(a/the) Whole&#160;/ the entire</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Делимы&#160;/ неделимы</h2></div><div class="holder-hidden-layer"><p>Объекты могут быть &#171;делимы&#187; и&#160;&#171;неделимы&#187; без ущерба для своей функции.</p><p>Например, <span class="bolder">день</span> и&#160;<span class="bolder">автобус</span>&#160;&#8212; оба исчисляемые (<span class="italic">два дня, два автобуса</span>), однако часть дня тоже день (светло), но&#160;часть автобуса уже не&#160;транспортное средство на&#160;ходу.</p><p>Вы можете сказать <span class="bolder">all day / the whole day / the entire day</span>, однако <span class="bolder">the entire bus / the whole bus</span>, но не&#160;<span class="bolder">all&#160;bus</span>.</p><p>Не используйте <span class="bolder">all</span> с&#160;цельным неделимым исчисляемым существительным в&#160;единственном числе. Неправильно говорить &#171;all computer&#187;, поскольку часть компьютера&#160;&#8212; в&#160;лучшем случае расходный материал.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">All (the)</h2></div><div class="holder-hidden-layer"><p><span class="bolder">All / all the</span> значит &#171;все&#187; c исчисляемыми существительными во&#160;множественном числе (<span class="italic">all passangers</span>), а&#160;также &#171;весь&#187; с&#160;исчисляемыми существительными в&#160;единственном числе, значение которых делимо без ущерба для их&#160;функции, и&#160;неисчисляемыми (<span class="italic">all day / all cheese</span>).</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">I love all music.</span></td><td data-label="Значение">люблю разную музыку</td></tr><tr><td data-label="Пример"><span class="italic">I love all the music.</span></td><td data-label="Значение">люблю всю музыку, о&#160;которой идет речь</td></tr><tr><td data-label="Пример"><span class="italic">All children like ice-cream.</span></td><td data-label="Значение">дети всей земли</td></tr><tr><td data-label="Пример"><span class="italic">All the children like ice-cream.</span></td><td data-label="Значение">дети нашего класса</td></tr><tr><td data-label="Пример"><span class="italic">All of us love dancing.</span></td><td data-label="Значение">Мы все любим танцевать</td></tr><tr><td data-label="Пример"><span class="italic">I hate you all.</span></td><td data-label="Значение">Ненавижу вас всех</td></tr><tr><td data-label="Пример"><span class="italic">I&#8217;m there all day.</span><br />Но: <span class="italic">I&#8217;ve been there for the whole day.</span></td><td data-label="Значение">&#160;</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">(a/the) Whole&#160;/ the entire</h2></div><div class="holder-hidden-layer"><p><span class="bolder">The whole</span> значит &#171;весь&#187; одним махом, одним куском, за&#160;один&#160;раз.<br /><span class="bolder">The entire</span> значит &#171;весь&#187; cо всеми частями, полностью.</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">the entire planet</span></td><td data-label="Значение">вся планета со&#160;всеми ее&#160;материками, океанами, атмосферой</td></tr><tr><td data-label="Пример"><span class="italic">the whole planet</span></td><td data-label="Значение">вся планета в&#160;целом</td></tr><tr><td data-label="Пример"><span class="italic">the whole life</span></td><td data-label="Значение">вся моя жизнь в&#160;целом</td></tr><tr><td data-label="Пример"><span class="italic">the entire life</span></td><td data-label="Значение">вся моя жизнь со&#160;всеми ее&#160;значимыми и&#160;не&#160;очень периодами</td></tr><tr><td data-label="Пример"><span class="italic">I have stayed there for the whole day.</span></td><td data-label="Значение">не <span class="italic">the entire day</span></td></tr><tr><td data-label="Пример"><span class="italic">a whole number</span></td><td data-label="Значение">целое число</td></tr><tr><td data-label="Пример"><span class="italic">the whole nine yards</span></td><td data-label="Значение">полностью все девять ярдов</td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
