				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Серийная запятая</h1><p class="larger bolder">Используйте серийную запятую, которую можно заменить на&#160;союзы &#171;и&#160;/ или&#187; в&#160;перечислениях. Ставьте серийную запятую перед &#171;и&#160;/ или&#187;, когда нужно устранить двусмысленность.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Перечисление &#171;X, Y (,) and Z&#187;с</option>
									<option value="#a2">Перечисление характеристик</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Перечисление &#171;X, Y (,) and Z&#187;</h2></div><div class="holder-hidden-layer"><p>Серийную (гарвардскую&#160;/ оксфордскую) запятую можно заменить союзами &#171;и&#160;/ или&#187; в&#160;двух случаях.</p><p>Во-первых, она может соединять несколько слов, словосочетаний и&#160;даже предложений (т.&#8239;н. &#171;X, Y (,) and Z&#187; перечисление):</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Пример">The Three Musketeers were Athos, Porthos and Aramis.</td></tr><tr><td data-label="Пример">Hungarian is spoken in Hungary, in western Rumania, in northern Serbia and in parts of Austria and Slovakia.</td></tr><tr><td data-label="Пример">You can fly to Bombay via Moscow, via Athens or via Cairo.</td></tr><tr><td data-label="Пример">Lisa speaks French, Juliet speaks Italian and I&#160;speak Spanish.</td></tr><tr><td data-label="Пример">We spent our evenings chatting in the cafes, watching the sun set over the harbour, stuffing ourselves with the local crabs and getting pleasantly sloshed on retsina.</td></tr></tbody></table><p>Во всех примерах серийную запятую можно заменить союзами &#171;и&#160;/ или&#187; (что часто мы и&#160;слышим в&#160;речи), но&#160;результат будет громоздкий:</p><table class="respond table"><caption></caption><thead><tr><th>Примеры</th></tr></thead><tbody><tr><td data-label="Пример">The Three Musketeers were Athos and Porthos and Aramis.</td></tr><tr><td data-label="Пример">Hungarian is spoken in Hungary and in western Rumania and in northern Serbia and in parts of Austria and Slovakia.</td></tr><tr><td data-label="Пример">You can fly to Bombay via Moscow or via Athens or via Cairo.</td></tr><tr><td data-label="Пример">Lisa speaks French and Juliet speaks Italian and I&#160;speak Spanish.</td></tr><tr><td data-label="Пример">We spent our evenings chatting in the cafes and watching the sun set over the harbour and stuffing ourselves with the local crabs and getting pleasantly sloshed on retsina.</td></tr></tbody></table><p>Обратите внимание, что обычно не&#160;следует разделять запятой всего только два полных предложения.</p><p>Также, в&#160;британском английском не&#160;ставят запятую перед &#171;и&#160;/ или&#187; перед третьим и&#160;далее перечисляемыми объектами:</p><table class="respond table"><caption></caption><thead><tr><th>UK</th><th>US</th></tr></thead><tbody><tr><td data-label="UK">The Three Musketeers were Athos, Porthos and Aramis.</td><td data-label="US">The Three Musketeers were Athos, Porthos, and Aramis.</td></tr></tbody></table><p>Здесь пречисляющая запятая заменяет, а не&#160;дополняет &#171;и&#160;/ или&#187;.</p><p>Тем не&#160;менее запятую ставят во&#160;избежание двусмысленности:</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th></tr></thead><tbody><tr><td data-label="Пример">My favourite opera composers are Verdi, Puccini, Mozart, and Gilbert and Sullivan.</td></tr></tbody></table><p>&#171;Gilbert and Sullivan&#187;&#160;&#8212; один объект: они работали вместе.</p><p>Уберем запятую:</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th></tr></thead><tbody><tr><td data-label="Пример">My favourite opera composers are Verdi, Puccini, Mozart and Gilbert and Sullivan.</td></tr></tbody></table><p>&#171;Gilbert and Sullivan&#187; разделились. А&#160;может это &#171;Mozart and Gilbert&#187; работали вместе?</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Перечисление характеристик</h2></div><div class="holder-hidden-layer"><p>Серийная запятая также разделяет определения перед главным словом, обычно в&#160;таком случае может быть союз &#171;и&#187; вместо запятой перед последней характеристикой:</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th></tr></thead><tbody><tr><td data-label="Пример">This is a provocative, disturbing book.</td></tr><tr><td data-label="Пример">Her long, dark, glossy hair fascinated me.</td></tr></tbody></table><p>Заменим запятую на &#171;и&#187;:</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th></tr></thead><tbody><tr><td data-label="Пример">This is a provocative and disturbing book.</td></tr><tr><td data-label="Пример">Her long and dark and glossy hair fascinated me.</td></tr></tbody></table><p>Второй пример правилен, но&#160;более громоздкий.</p><p>Сравните следующие примеры:</p><table class="respond table"><caption></caption><thead><tr><th>Пример</th></tr></thead><tbody><tr><td data-label="Пример">She gave me an antique ivory box.</td></tr><tr><td data-label="Пример">I prefer Australian red wines to all others.</td></tr></tbody></table><p>Запятой нет, поскольку нет перечисления (однородных членов).</p></div>
								<p class="address" role="contentinfo">(The Penguin Guide to Punctuation: 3.1 The Listing Comma 3. &#169;&#160;R.&#8239;L.&#160;Trask, 1997, PP. 12&#8212;17)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
