				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Согласование времен</h1><p class="larger bolder">Время глагола придаточного предложения зависит от&#160;времени главного предложения. Когда сказуемое главного предложения выражено глаголом в&#160;одной из&#160;форм прошедшего времени, в&#160;придаточных предложениях не&#160;могут употребляться формы настоящего и&#160;будущего, хотя речь идет о&#160;действиях, которые совершаются в&#160;настоящем или будущем.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">0 тип</option>
									<option value="#a2">I тип</option>
									<option value="#a3">II тип</option>
									<option value="#a4">III тип</option>
									<option value="#a5">IV тип</option>
									<option value="#a6">V тип</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">0 тип</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правило</th><th>Всегда</th></tr></thead><tbody><tr><td data-label="Правило"><span class="italic">If he works</span></td><td data-label="Всегда"><span class="italic">he does</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">I тип</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>К&#160;будущему</th><th>К&#160;будущему</th></tr></thead><tbody><tr><td data-label="К&#160;будущему"><span class="italic">If he works</span></td><td data-label="К&#160;будущему"><span class="italic">he will do</span></td></tr><tr><td data-label="К&#160;будущему"><span class="italic">If he is working</span></td><td data-label="К&#160;будущему"><span class="italic">he will do</span></td></tr><tr><td data-label="К&#160;будущему"><span class="italic">If he has worked</span></td><td data-label="К&#160;будущему"><span class="italic">he will do</span></td></tr><tr><td data-label="К&#160;будущему"><span class="italic">I wish</span></td><td data-label="К&#160;будущему"><span class="italic">you would stop</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">II тип</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>К&#160;настоящему</th><th>К&#160;настоящему</th></tr></thead><tbody><tr><td data-label="К&#160;настоящему"><span class="italic">If he worked</span></td><td data-label="К&#160;настоящему"><span class="italic">he would do</span></td></tr><tr><td data-label="К&#160;настоящему"><span class="italic">If he was&#160;/ were working</span></td><td data-label="К&#160;настоящему"><span class="italic">he would do</span></td></tr><tr><td data-label="К&#160;настоящему"><span class="italic">I wish</span></td><td data-label="К&#160;настоящему"><span class="italic">I was&#160;/ were here</span></td></tr><tr><td data-label="К&#160;настоящему"><span class="italic">I wish</span></td><td data-label="К&#160;настоящему"><span class="italic">I could fly</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">III тип</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>К&#160;прошлому</th><th>К&#160;прошлому</th></tr></thead><tbody><tr><td data-label="К&#160;прошлому"><span class="italic">If he had worked</span></td><td data-label="К&#160;прошлому"><span class="italic">he would have done</span></td></tr><tr><td data-label="К&#160;прошлому"><span class="italic">If he had been working</span></td><td data-label="К&#160;прошлому"><span class="italic">he would have done</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">IV тип</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>К&#160;настоящему</th><th>К&#160;прошлому</th></tr></thead><tbody><tr><td data-label="К&#160;настоящему"><span class="italic">If he worked</span></td><td data-label="К&#160;прошлому"><span class="italic">he would have done</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">V тип</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>К&#160;прошлому</th><th>К&#160;настоящему</th></tr></thead><tbody><tr><td data-label="К&#160;прошлому"><span class="italic">If he had worked</span></td><td data-label="К&#160;настоящему"><span class="italic">he would do</span></td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
