				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Нарицательное&#160;/ собственное</h1><p class="larger bolder">Существительные, классифицирующие объекты, например, &#171;building&#187; (здание) являются именами нарицательными и&#160;пишутся с&#160;прописной&#160;буквы. Если Вы говорите о&#160;конкретном здании, например, &#171;Glazier Building&#187;, то такое существительное является именем собственным и&#160;пишется с&#160;заглавной&#160;буквы.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Сравните</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Сравните</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Нарицательное</th><th>Собственное</th></tr></thead><tbody><tr><td data-label="Нарицательное">city</td><td data-label="Собственное">Kansas City</td></tr><tr><td data-label="Нарицательное">company</td><td data-label="Собственное">Blaisden Company</td></tr><tr><td data-label="Нарицательное">store</td><td data-label="Собственное">Books Galore</td></tr><tr><td data-label="Нарицательное">holiday</td><td data-label="Собственное">Christmas</td></tr><tr><td data-label="Нарицательное">month</td><td data-label="Собственное">May</td></tr><tr><td data-label="Нарицательное">weekday</td><td data-label="Собственное">Wednesday</td></tr><tr><td data-label="Нарицательное">water body</td><td data-label="Собственное">the Atlantic Ocean</td></tr><tr><td data-label="Нарицательное">land</td><td data-label="Собственное">France</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Handbook of grammar, mechanics, and usage: Proper Nouns and Common Nouns. &#169;&#160;Premedia 2009, P. 3-4)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
