				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Who&#160;/ which&#160;/ that и&#160;запятые</h1><p class="larger bolder">Придаточные предложения выделяются запятыми в&#160;том случае, когда оборот содержит дополнительную информацию о&#160;субъекте&#160;/ объекте.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Процедура</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><p>Придаточные предложения выделяются запятыми в&#160;том случае, когда оборот содержит дополнительную информацию о&#160;субъекте&#160;/ объекте:</p><p class="blockquote">Anna told me about her new job, which she&#8217;s enjoying a&#160;lot.</p><p>В данном примере объект <span class="bolder">a new job</span> уже самодостаточен и&#160;дополняется информацией <span class="bolder">which she&#8217;s enjoying a lot</span>.</p><p>А теперь сравните со&#160;следующим примером:</p><p class="blockquote">Grace works for a company that makes furniture.</p><p>Здесь <span class="bolder">a company</span> уточняется придаточным <span class="bolder">that makes furniture</span>, которое не&#160;несет дополнительной информации.</p><p>Сравните еще два примера:</p><p class="blockquote">1) We stayed at the Park Hotel, which a friend of ours recommended.</p><p class="blockquote">2) We stayed at the hotel (that) you recommended.</p></div>
								<p class="address" role="contentinfo">(Raymond Murphy. English Grammar in Use Extra: Relative clauses 1: clauses with who/that/which. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 190)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
