				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Неправильные глаголы (таблица)</h1><p class="larger bolder">Часть английских глаголов образуют вторую (причастие&#160;1) и&#160;третью (причастие&#160;2) форму не по&#160;правилам.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Таблица</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Таблица</h2></div><div class="holder-hidden-layer"><table class="respond table sort" id="table-sort-1"><caption></caption><thead><tr><th>Инфинитив</th><th class="no-sort">Прошедшая форма</th><th class="no-sort">Причастие 2</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Инфинитив">be<br /><span class="phonetic">&#47;bi&#720;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">was, were<br /><span class="phonetic">&#47;w&#596;&#122;, w&#604;&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">been<br /><span class="phonetic">&#47;&#712;bi&#720;n&#47;</span>&#160;&#160;</td><td data-label="Значение">быть</td></tr><tr><td data-label="Инфинитив">beat<br /><span class="phonetic">&#47;bi&#720;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">beat<br /><span class="phonetic">&#47;bi&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">beaten<br /><span class="phonetic">&#47;&#712;bi&#720;tn&#47;</span>&#160;&#160;</td><td data-label="Значение">бить</td></tr><tr><td data-label="Инфинитив">become<br /><span class="phonetic">&#47;b&#618;&#160;&#712;k&#652;m&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">became<br /><span class="phonetic">&#47;b&#618;&#160;&#712;ke&#618;m&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">become<br /><span class="phonetic">&#47;b&#618;&#160;&#712;k&#652;m&#47;</span>&#160;&#160;</td><td data-label="Значение">становиться</td></tr><tr><td data-label="Инфинитив">begin<br /><span class="phonetic">&#47;b&#618;&#160;&#712;&#609;&#618;n&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">began<br /><span class="phonetic">&#47;b&#618;&#160;&#712;&#609;&aelig;n&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">begun<br /><span class="phonetic">&#47;b&#618;&#160;&#712;&#609;&#652;n&#47;</span>&#160;&#160;</td><td data-label="Значение">начинать</td></tr><tr><td data-label="Инфинитив">bend<br /><span class="phonetic">&#47;bend&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">bent<br /><span class="phonetic">&#47;bent&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">bent<br /><span class="phonetic">&#47;bent&#47;</span>&#160;&#160;</td><td data-label="Значение">наклонять</td></tr><tr><td data-label="Инфинитив">bind<br /><span class="phonetic">&#47;ba&#618;nd&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">bound<br /><span class="phonetic">&#47;ba&#650;nd&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">bound<br /><span class="phonetic">&#47;ba&#650;nd&#47;</span>&#160;&#160;</td><td data-label="Значение">связывать</td></tr><tr><td data-label="Инфинитив">bite<br /><span class="phonetic">&#47;ba&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">bit<br /><span class="phonetic">&#47;b&#618;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">bitten<br /><span class="phonetic">&#47;&#712;b&#618;tn&#47;</span>&#160;&#160;</td><td data-label="Значение">кусать</td></tr><tr><td data-label="Инфинитив">bleed<br /><span class="phonetic">&#47;bli&#720;d&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">bled<br /><span class="phonetic">&#47;bled&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">bled<br /><span class="phonetic">&#47;bled&#47;</span>&#160;&#160;</td><td data-label="Значение">кровоточить</td></tr><tr><td data-label="Инфинитив">blow<br /><span class="phonetic">&#47;bl&#601;&#650;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">blew<br /><span class="phonetic">&#47;blu&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">blown<br /><span class="phonetic">&#47;bl&#601;&#650;n&#47;</span>&#160;&#160;</td><td data-label="Значение">дуть</td></tr><tr><td data-label="Инфинитив">break<br /><span class="phonetic">&#47;bre&#618;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">broke<br /><span class="phonetic">&#47;br&#601;&#650;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">broken<br /><span class="phonetic">&#47;&#712;br&#601;&#650;k&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">ломать</td></tr><tr><td data-label="Инфинитив">bring<br /><span class="phonetic">&#47;br&#618;&#331;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">brought<br /><span class="phonetic">&#47;br&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">brought<br /><span class="phonetic">&#47;br&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Значение">приносить</td></tr><tr><td data-label="Инфинитив">build<br /><span class="phonetic">&#47;b&#618;ld&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">built<br /><span class="phonetic">&#47;b&#618;lt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">built<br /><span class="phonetic">&#47;b&#618;lt&#47;</span>&#160;&#160;</td><td data-label="Значение">строить</td></tr><tr><td data-label="Инфинитив">burn<br /><span class="phonetic">&#47;b&#604;&#720;rn&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">burnt<br /><span class="phonetic">&#47;b&#604;&#720;rnt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">burnt<br /><span class="phonetic">&#47;b&#604;&#720;rnt&#47;</span>&#160;&#160;</td><td data-label="Значение">гореть</td></tr><tr><td data-label="Инфинитив">burn<br /><span class="phonetic">&#47;b&#604;&#720;rn&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">burned<br /><span class="phonetic">&#47;b&#604;&#720;rnd&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">burned<br /><span class="phonetic">&#47;b&#604;&#720;rnd&#47;</span>&#160;&#160;</td><td data-label="Значение">гореть</td></tr><tr><td data-label="Инфинитив">buy<br /><span class="phonetic">&#47;ba&#618;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">bought<br /><span class="phonetic">&#47;b&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">bought<br /><span class="phonetic">&#47;b&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Значение">покупать</td></tr><tr><td data-label="Инфинитив">catch<br /><span class="phonetic">&#47;k&#230;t&#643;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">caught<br /><span class="phonetic">&#47;k&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">caught<br /><span class="phonetic">&#47;k&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Значение">ловить</td></tr><tr><td data-label="Инфинитив">choose<br /><span class="phonetic">&#47;t&#643;u&#720;z&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">chose<br /><span class="phonetic">&#47;t&#643;&#601;&#650;z&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">chosen<br /><span class="phonetic">&#47;&#712;t&#643;&#601;&#650;z&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">выбирать</td></tr><tr><td data-label="Инфинитив">come<br /><span class="phonetic">&#47;k&#652;m&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">came<br /><span class="phonetic">&#47;ke&#618;m&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">come<br /><span class="phonetic">&#47;k&#652;m&#47;</span>&#160;&#160;</td><td data-label="Значение">приходить</td></tr><tr><td data-label="Инфинитив">cost<br /><span class="phonetic">&#47;k&#594;st&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">cost<br /><span class="phonetic">&#47;k&#594;st&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">cost<br /><span class="phonetic">&#47;k&#594;st&#47;</span>&#160;&#160;</td><td data-label="Значение">стоить</td></tr><tr><td data-label="Инфинитив">cut<br /><span class="phonetic">&#47;k&#652;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">cut<br /><span class="phonetic">&#47;k&#652;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">cut<br /><span class="phonetic">&#47;k&#652;t&#47;</span>&#160;&#160;</td><td data-label="Значение">резать</td></tr><tr><td data-label="Инфинитив">dig<br /><span class="phonetic">&#47;d&#618;&#609;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">dug<br /><span class="phonetic">&#47;d&#652;&#609;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">dug<br /><span class="phonetic">&#47;d&#652;&#609;&#47;</span>&#160;&#160;</td><td data-label="Значение">копать</td></tr><tr><td data-label="Инфинитив">do<br /><span class="phonetic">&#47;du&#720;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">did<br /><span class="phonetic">&#47;d&#618;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">done<br /><span class="phonetic">&#47;d&#652;n&#47;</span>&#160;&#160;</td><td data-label="Значение">делать</td></tr><tr><td data-label="Инфинитив">draw<br /><span class="phonetic">&#47;dr&#596;&#720;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">drew<br /><span class="phonetic">&#47;dru&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">drawn<br /><span class="phonetic">&#47;dr&#596;&#720;n&#47;</span>&#160;&#160;</td><td data-label="Значение">рисовать</td></tr><tr><td data-label="Инфинитив">dream<br /><span class="phonetic">&#47;dri&#720;m&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">dreamt<br /><span class="phonetic">&#47;dremt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">dreamt<br /><span class="phonetic">&#47;dremt&#47;</span>&#160;&#160;</td><td data-label="Значение">мечтать, сниться, видеть сон</td></tr><tr><td data-label="Инфинитив">dream<br /><span class="phonetic">&#47;dri&#720;m&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">dreamed<br /><span class="phonetic">&#47;dri&#720;md&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">dreamed<br /><span class="phonetic">&#47;dri&#720;md&#47;</span>&#160;&#160;</td><td data-label="Значение">мечтать, сниться, видеть сон</td></tr><tr><td data-label="Инфинитив">drink<br /><span class="phonetic">&#47;dr&#618;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">drank<br /><span class="phonetic">&#47;dr&#230;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">drunk<br /><span class="phonetic">&#47;dr&#652;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Значение">пить</td></tr><tr><td data-label="Инфинитив">drive<br /><span class="phonetic">&#47;dra&#618;v&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">drove<br /><span class="phonetic">&#47;dr&#601;&#650;v&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">driven<br /><span class="phonetic">&#47;&#712;dr&#618;v&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">вести машину</td></tr><tr><td data-label="Инфинитив">eat<br /><span class="phonetic">&#47;i&#720;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">ate<br /><span class="phonetic">&#47;e&#618;t, et&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">eaten<br /><span class="phonetic">&#47;&#712;i&#720;tn&#47;</span>&#160;&#160;</td><td data-label="Значение">есть</td></tr><tr><td data-label="Инфинитив">fall<br /><span class="phonetic">&#47;f&#596;&#720;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">fell<br /><span class="phonetic">&#47;fel&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">fallen<br /><span class="phonetic">&#47;&#712;f&#596;&#720;l&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">падать</td></tr><tr><td data-label="Инфинитив">feed<br /><span class="phonetic">&#47;fi&#720;d&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">fed<br /><span class="phonetic">&#47;fed&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">fed<br /><span class="phonetic">&#47;fed&#47;</span>&#160;&#160;</td><td data-label="Значение">кормить</td></tr><tr><td data-label="Инфинитив">feel<br /><span class="phonetic">&#47;fi&#720;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">felt<br /><span class="phonetic">&#47;felt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">felt<br /><span class="phonetic">&#47;felt&#47;</span>&#160;&#160;</td><td data-label="Значение">чувствовать</td></tr><tr><td data-label="Инфинитив">fight<br /><span class="phonetic">&#47;fa&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">fought<br /><span class="phonetic">&#47;f&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">fought<br /><span class="phonetic">&#47;f&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Значение">бороться</td></tr><tr><td data-label="Инфинитив">find<br /><span class="phonetic">&#47;fa&#618;nd&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">found<br /><span class="phonetic">&#47;fa&#650;nd&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">found<br /><span class="phonetic">&#47;fa&#650;nd&#47;</span>&#160;&#160;</td><td data-label="Значение">находить</td></tr><tr><td data-label="Инфинитив">fly<br /><span class="phonetic">&#47;fla&#618;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">flew<br /><span class="phonetic">&#47;flu&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">flown<br /><span class="phonetic">&#47;fl&#601;&#650;n&#47;</span>&#160;&#160;</td><td data-label="Значение">летать</td></tr><tr><td data-label="Инфинитив">forget<br /><span class="phonetic">&#47;f&#601;&#46;&#160;&#712;&#609;et&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">forgot<br /><span class="phonetic">&#47;f&#601;&#46;&#160;&#712;&#609;&#594;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">forgotten<br /><span class="phonetic">&#47;f&#601;&#46;&#160;&#712;&#609;&#594;tn&#47;</span>&#160;&#160;</td><td data-label="Значение">забывать</td></tr><tr><td data-label="Инфинитив">forgive<br /><span class="phonetic">&#47;f&#601;&#46;&#160;&#712;&#609;&#618;v&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">forgave<br /><span class="phonetic">&#47;f&#601;&#46;&#160;&#712;&#609;e&#618;v&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">forgiven<br /><span class="phonetic">&#47;f&#601;&#46;&#160;&#712;&#609;&#618;v&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">прощать</td></tr><tr><td data-label="Инфинитив">freeze<br /><span class="phonetic">&#47;fri&#720;z&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">froze<br /><span class="phonetic">&#47;fr&#601;&#650;z&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">frozen<br /><span class="phonetic">&#47;&#712;fr&#601;&#650;z&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">замораживать</td></tr><tr><td data-label="Инфинитив">get<br /><span class="phonetic">&#47;&#609;et&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">got<br /><span class="phonetic">&#47;&#609;&#594;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">got<br /><span class="phonetic">&#47;&#609;&#594;t&#47;</span>&#160;&#160;</td><td data-label="Значение">получать</td></tr><tr><td data-label="Инфинитив">get<br /><span class="phonetic">&#47;&#609;et&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">got<br /><span class="phonetic">&#47;&#609;&#594;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">gotten<br /><span class="phonetic">&#47;&#712;&#609;&#594;tn&#47;</span>&#160;&#160;</td><td data-label="Значение">получать</td></tr><tr><td data-label="Инфинитив">give<br /><span class="phonetic">&#47;&#609;&#618;v&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">gave<br /><span class="phonetic">&#47;&#609;e&#618;v&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">given<br /><span class="phonetic">&#47;&#712;&#609;&#618;v&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">давать</td></tr><tr><td data-label="Инфинитив">go<br /><span class="phonetic">&#47;&#609;&#601;&#650;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">went<br /><span class="phonetic">&#47;went&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">gone<br /><span class="phonetic">&#47;&#609;&#594;n&#47;</span>&#160;&#160;</td><td data-label="Значение">идти</td></tr><tr><td data-label="Инфинитив">grow<br /><span class="phonetic">&#47;&#609;r&#601;&#650;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">grew<br /><span class="phonetic">&#47;&#609;ru&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">grown<br /><span class="phonetic">&#47;&#609;r&#601;&#650;n&#47;</span>&#160;&#160;</td><td data-label="Значение">расти</td></tr><tr><td data-label="Инфинитив">hang<br /><span class="phonetic">&#47;h&#230;&#331;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">hung<br /><span class="phonetic">&#47;h&#652;&#331;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">hung<br /><span class="phonetic">&#47;h&#652;&#331;&#47;</span>&#160;&#160;</td><td data-label="Значение">вешать</td></tr><tr><td data-label="Инфинитив">have<br /><span class="phonetic">&#47;h&#230;v&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">had<br /><span class="phonetic">&#47;h&#230;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">had<br /><span class="phonetic">&#47;h&#230;d&#47;</span>&#160;&#160;</td><td data-label="Значение">иметь</td></tr><tr><td data-label="Инфинитив">hear<br /><span class="phonetic">&#47;h&#618;&#601;r&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">heard<br /><span class="phonetic">&#47;h&#604;&#720;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">heard<br /><span class="phonetic">&#47;h&#604;&#720;d&#47;</span>&#160;&#160;</td><td data-label="Значение">слышать</td></tr><tr><td data-label="Инфинитив">hide<br /><span class="phonetic">&#47;ha&#618;d&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">hid<br /><span class="phonetic">&#47;h&#618;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">hidden<br /><span class="phonetic">&#47;&#712;h&#618;dn&#47;</span>&#160;&#160;</td><td data-label="Значение">скрывать</td></tr><tr><td data-label="Инфинитив">hit<br /><span class="phonetic">&#47;h&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">hit<br /><span class="phonetic">&#47;h&#618;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">hit<br /><span class="phonetic">&#47;h&#618;t&#47;</span>&#160;&#160;</td><td data-label="Значение">ударить</td></tr><tr><td data-label="Инфинитив">hold<br /><span class="phonetic">&#47;h&#601;&#650;ld&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">held<br /><span class="phonetic">&#47;held&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">held<br /><span class="phonetic">&#47;held&#47;</span>&#160;&#160;</td><td data-label="Значение">держать</td></tr><tr><td data-label="Инфинитив">hurt<br /><span class="phonetic">&#47;h&#604;&#720;rt&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">hurt<br /><span class="phonetic">&#47;h&#604;&#720;rt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">hurt<br /><span class="phonetic">&#47;h&#604;&#720;rt&#47;</span>&#160;&#160;</td><td data-label="Значение">ранить</td></tr><tr><td data-label="Инфинитив">keep<br /><span class="phonetic">&#47;ki&#720;p&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">kept<br /><span class="phonetic">&#47;kept&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">kept<br /><span class="phonetic">&#47;kept&#47;</span>&#160;&#160;</td><td data-label="Значение">держать, хранить</td></tr><tr><td data-label="Инфинитив">know<br /><span class="phonetic">&#47;n&#601;&#650;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">knew<br /><span class="phonetic">&#47;nu&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">known<br /><span class="phonetic">&#47;n&#601;&#650;n&#47;</span>&#160;&#160;</td><td data-label="Значение">знать</td></tr><tr><td data-label="Инфинитив">lay<br /><span class="phonetic">&#47;le&#618;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">laid<br /><span class="phonetic">&#47;le&#618;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">laid<br /><span class="phonetic">&#47;le&#618;d&#47;</span>&#160;&#160;</td><td data-label="Значение">класть</td></tr><tr><td data-label="Инфинитив">lead<br /><span class="phonetic">&#47;li&#720;d&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">led<br /><span class="phonetic">&#47;led&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">led<br /><span class="phonetic">&#47;led&#47;</span>&#160;&#160;</td><td data-label="Значение">вести&#769;</td></tr><tr><td data-label="Инфинитив">learn<br /><span class="phonetic">&#47;l&#604;&#720;rn&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">learnt<br /><span class="phonetic">&#47;l&#604;&#720;rnt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">learnt<br /><span class="phonetic">&#47;l&#604;&#720;rnt&#47;</span>&#160;&#160;</td><td data-label="Значение">учиться</td></tr><tr><td data-label="Инфинитив">learn<br /><span class="phonetic">&#47;l&#604;&#720;rn&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">learned<br /><span class="phonetic">&#47;l&#604;&#720;rnd&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">learned<br /><span class="phonetic">&#47;l&#604;&#720;rnd&#47;</span>&#160;&#160;</td><td data-label="Значение">учиться</td></tr><tr><td data-label="Инфинитив">leave<br /><span class="phonetic">&#47;li&#720;v&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">left<br /><span class="phonetic">&#47;left&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">left<br /><span class="phonetic">&#47;left&#47;</span>&#160;&#160;</td><td data-label="Значение">оставить</td></tr><tr><td data-label="Инфинитив">lend<br /><span class="phonetic">&#47;lend&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">lent<br /><span class="phonetic">&#47;lent&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">lent<br /><span class="phonetic">&#47;lent&#47;</span>&#160;&#160;</td><td data-label="Значение">одалживать</td></tr><tr><td data-label="Инфинитив">let<br /><span class="phonetic">&#47;let&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">let<br /><span class="phonetic">&#47;let&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">let<br /><span class="phonetic">&#47;let&#47;</span>&#160;&#160;</td><td data-label="Значение">позволять</td></tr><tr><td data-label="Инфинитив">lie<br /><span class="phonetic">&#47;la&#618;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">lay<br /><span class="phonetic">&#47;le&#618;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">lain<br /><span class="phonetic">&#47;le&#618;n&#47;</span>&#160;&#160;</td><td data-label="Значение">лежать</td></tr><tr><td data-label="Инфинитив">lose<br /><span class="phonetic">&#47;lu&#720;z&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">lost<br /><span class="phonetic">&#47;l&#594;st&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">lost<br /><span class="phonetic">&#47;l&#594;st&#47;</span>&#160;&#160;</td><td data-label="Значение">терять</td></tr><tr><td data-label="Инфинитив">make<br /><span class="phonetic">&#47;me&#618;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">made<br /><span class="phonetic">&#47;me&#618;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">made<br /><span class="phonetic">&#47;me&#618;d&#47;</span>&#160;&#160;</td><td data-label="Значение">делать</td></tr><tr><td data-label="Инфинитив">mean<br /><span class="phonetic">&#47;mi&#720;n&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">meant<br /><span class="phonetic">&#47;ment&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">meant<br /><span class="phonetic">&#47;ment&#47;</span>&#160;&#160;</td><td data-label="Значение">значить</td></tr><tr><td data-label="Инфинитив">meet<br /><span class="phonetic">&#47;mi&#720;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">met<br /><span class="phonetic">&#47;met&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">met<br /><span class="phonetic">&#47;met&#47;</span>&#160;&#160;</td><td data-label="Значение">встречаться</td></tr><tr><td data-label="Инфинитив">pay<br /><span class="phonetic">&#47;pe&#618;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">paid<br /><span class="phonetic">&#47;pe&#618;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">paid<br /><span class="phonetic">&#47;pe&#618;d&#47;</span>&#160;&#160;</td><td data-label="Значение">платить</td></tr><tr><td data-label="Инфинитив">put<br /><span class="phonetic">&#47;p&#650;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">put<br /><span class="phonetic">&#47;p&#650;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">put<br /><span class="phonetic">&#47;p&#650;t&#47;</span>&#160;&#160;</td><td data-label="Значение">положить</td></tr><tr><td data-label="Инфинитив">read<br /><span class="phonetic">&#47;ri&#720;d&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">read<br /><span class="phonetic">&#47;red&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">read<br /><span class="phonetic">&#47;red&#47;</span>&#160;&#160;</td><td data-label="Значение">читать</td></tr><tr><td data-label="Инфинитив">ride<br /><span class="phonetic">&#47;ra&#618;d&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">rode<br /><span class="phonetic">&#47;r&#601;&#650;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">ridden<br /><span class="phonetic">&#47;&#712;r&#618;dn&#47;</span>&#160;&#160;</td><td data-label="Значение">ездить</td></tr><tr><td data-label="Инфинитив">ring<br /><span class="phonetic">&#47;r&#618;&#331;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">rang<br /><span class="phonetic">&#47;r&#230;&#331;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">rung<br /><span class="phonetic">&#47;r&#652;&#331;&#47;</span>&#160;&#160;</td><td data-label="Значение">звонить</td></tr><tr><td data-label="Инфинитив">rise<br /><span class="phonetic">&#47;ra&#618;z&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">rose<br /><span class="phonetic">&#47;r&#601;&#650;z&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">risen<br /><span class="phonetic">&#47;&#712;r&#618;z&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">подниматься</td></tr><tr><td data-label="Инфинитив">run<br /><span class="phonetic">&#47;r&#652;n&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">ran<br /><span class="phonetic">&#47;r&#230;n&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">run<br /><span class="phonetic">&#47;r&#652;n&#47;</span>&#160;&#160;</td><td data-label="Значение">бежать</td></tr><tr><td data-label="Инфинитив">say<br /><span class="phonetic">&#47;se&#618;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">said<br /><span class="phonetic">&#47;sed&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">said<br /><span class="phonetic">&#47;sed&#47;</span>&#160;&#160;</td><td data-label="Значение">сказать</td></tr><tr><td data-label="Инфинитив">see<br /><span class="phonetic">&#47;si&#720;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">saw<br /><span class="phonetic">&#47;s&#596;&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">seen<br /><span class="phonetic">&#47;si&#720;n&#47;</span>&#160;&#160;</td><td data-label="Значение">видеть</td></tr><tr><td data-label="Инфинитив">sell<br /><span class="phonetic">&#47;sel&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">sold<br /><span class="phonetic">&#47;s&#601;&#650;ld&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">sold<br /><span class="phonetic">&#47;s&#601;&#650;ld&#47;</span>&#160;&#160;</td><td data-label="Значение">продавать</td></tr><tr><td data-label="Инфинитив">send<br /><span class="phonetic">&#47;send&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">sent<br /><span class="phonetic">&#47;sent&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">sent<br /><span class="phonetic">&#47;sent&#47;</span>&#160;&#160;</td><td data-label="Значение">отправлять</td></tr><tr><td data-label="Инфинитив">set<br /><span class="phonetic">&#47;set&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">set<br /><span class="phonetic">&#47;set&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">set<br /><span class="phonetic">&#47;set&#47;</span>&#160;&#160;</td><td data-label="Значение">устанавливать</td></tr><tr><td data-label="Инфинитив">shake<br /><span class="phonetic">&#47;&#643;e&#618;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">shook<br /><span class="phonetic">&#47;&#643;&#650;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">shaken<br /><span class="phonetic">&#47;&#712;&#643;e&#618;k&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">трясти</td></tr><tr><td data-label="Инфинитив">shine<br /><span class="phonetic">&#47;&#643;a&#618;n&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">shone<br /><span class="phonetic">&#47;&#643;&#601;&#650;n, &#643;&#594;n&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">shone<br /><span class="phonetic">&#47;&#643;&#601;&#650;n, &#643;&#594;n&#47;</span>&#160;&#160;</td><td data-label="Значение">светить</td></tr><tr><td data-label="Инфинитив">shoot<br /><span class="phonetic">&#47;&#643;u&#720;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">shot<br /><span class="phonetic">&#47;&#643;&#594;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">shot<br /><span class="phonetic">&#47;&#643;&#594;t&#47;</span>&#160;&#160;</td><td data-label="Значение">стрелять</td></tr><tr><td data-label="Инфинитив">show<br /><span class="phonetic">&#47;&#643;&#601;&#650;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">showed<br /><span class="phonetic">&#47;&#643;&#601;&#650;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">shown<br /><span class="phonetic">&#47;&#643;&#601;&#650;n&#47;</span>&#160;&#160;</td><td data-label="Значение">показывать</td></tr><tr><td data-label="Инфинитив">shut<br /><span class="phonetic">&#47;&#643;&#652;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">shut<br /><span class="phonetic">&#47;&#643;&#652;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">shut<br /><span class="phonetic">&#47;&#643;&#652;t&#47;</span>&#160;&#160;</td><td data-label="Значение">закрывать</td></tr><tr><td data-label="Инфинитив">sing<br /><span class="phonetic">&#47;s&#618;&#331;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">sang<br /><span class="phonetic">&#47;s&#230;&#331;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">sung<br /><span class="phonetic">&#47;s&#652;&#331;&#47;</span>&#160;&#160;</td><td data-label="Значение">петь</td></tr><tr><td data-label="Инфинитив">sink<br /><span class="phonetic">&#47;s&#618;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">sank<br /><span class="phonetic">&#47;s&#230;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">sunk<br /><span class="phonetic">&#47;s&#652;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Значение">тонуть</td></tr><tr><td data-label="Инфинитив">sit<br /><span class="phonetic">&#47;s&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">sat<br /><span class="phonetic">&#47;s&#230;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">sat<br /><span class="phonetic">&#47;s&#230;t&#47;</span>&#160;&#160;</td><td data-label="Значение">сидеть</td></tr><tr><td data-label="Инфинитив">sleep<br /><span class="phonetic">&#47;sli&#720;p&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">slept<br /><span class="phonetic">&#47;slept&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">slept<br /><span class="phonetic">&#47;slept&#47;</span>&#160;&#160;</td><td data-label="Значение">спать</td></tr><tr><td data-label="Инфинитив">smell<br /><span class="phonetic">&#47;smel&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">smelt<br /><span class="phonetic">&#47;smelt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">smelt<br /><span class="phonetic">&#47;smelt&#47;</span>&#160;&#160;</td><td data-label="Значение">пахнуть</td></tr><tr><td data-label="Инфинитив">smell<br /><span class="phonetic">&#47;smel&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">smelled<br /><span class="phonetic">&#47;smeld&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">smelled<br /><span class="phonetic">&#47;smeld&#47;</span>&#160;&#160;</td><td data-label="Значение">пахнуть</td></tr><tr><td data-label="Инфинитив">speak<br /><span class="phonetic">&#47;spi&#720;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spoke<br /><span class="phonetic">&#47;sp&#601;&#650;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spoken<br /><span class="phonetic">&#47;&#712;sp&#601;&#650;k&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">говорить</td></tr><tr><td data-label="Инфинитив">spell<br /><span class="phonetic">&#47;spel&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spelt<br /><span class="phonetic">&#47;spelt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spelt<br /><span class="phonetic">&#47;spelt&#47;</span>&#160;&#160;</td><td data-label="Значение">называть по буквам</td></tr><tr><td data-label="Инфинитив">spell<br /><span class="phonetic">&#47;spel&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spelled<br /><span class="phonetic">&#47;speld&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spelled<br /><span class="phonetic">&#47;speld&#47;</span>&#160;&#160;</td><td data-label="Значение">называть по буквам</td></tr><tr><td data-label="Инфинитив">spend<br /><span class="phonetic">&#47;spend&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spent<br /><span class="phonetic">&#47;spent&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spent<br /><span class="phonetic">&#47;spent&#47;</span>&#160;&#160;</td><td data-label="Значение">тратить</td></tr><tr><td data-label="Инфинитив">spill<br /><span class="phonetic">&#47;sp&#618;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spilt<br /><span class="phonetic">&#47;sp&#618;lt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spilt<br /><span class="phonetic">&#47;sp&#618;lt&#47;</span>&#160;&#160;</td><td data-label="Значение">проливать</td></tr><tr><td data-label="Инфинитив">spill<br /><span class="phonetic">&#47;sp&#618;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spilled<br /><span class="phonetic">&#47;sp&#618;ld&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spilled<br /><span class="phonetic">&#47;sp&#618;ld&#47;</span>&#160;&#160;</td><td data-label="Значение">проливать</td></tr><tr><td data-label="Инфинитив">spit<br /><span class="phonetic">&#47;sp&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spat<br /><span class="phonetic">&#47;sp&#230;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spat<br /><span class="phonetic">&#47;sp&#230;t&#47;</span>&#160;&#160;</td><td data-label="Значение">плевать</td></tr><tr><td data-label="Инфинитив">spit<br /><span class="phonetic">&#47;sp&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spit<br /><span class="phonetic">&#47;sp&#618;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spit<br /><span class="phonetic">&#47;sp&#618;t&#47;</span>&#160;&#160;</td><td data-label="Значение">плевать</td></tr><tr><td data-label="Инфинитив">split<br /><span class="phonetic">&#47;spl&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">split<br /><span class="phonetic">&#47;spl&#618;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">split<br /><span class="phonetic">&#47;spl&#618;t&#47;</span>&#160;&#160;</td><td data-label="Значение">раскалывать</td></tr><tr><td data-label="Инфинитив">spoil<br /><span class="phonetic">&#47;spo&#618;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spoilt<br /><span class="phonetic">&#47;spo&#618;lt&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spoilt<br /><span class="phonetic">&#47;spo&#618;lt&#47;</span>&#160;&#160;</td><td data-label="Значение">портить</td></tr><tr><td data-label="Инфинитив">spoil<br /><span class="phonetic">&#47;spo&#618;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">spoiled<br /><span class="phonetic">&#47;spo&#618;ld&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">spoiled<br /><span class="phonetic">&#47;spo&#618;ld&#47;</span>&#160;&#160;</td><td data-label="Значение">портить</td></tr><tr><td data-label="Инфинитив">stand<br /><span class="phonetic">&#47;st&#230;nd&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">stood<br /><span class="phonetic">&#47;st&#650;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">stood<br /><span class="phonetic">&#47;st&#650;d&#47;</span>&#160;&#160;</td><td data-label="Значение">стоять</td></tr><tr><td data-label="Инфинитив">steal<br /><span class="phonetic">&#47;sti&#720;l&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">stole<br /><span class="phonetic">&#47;st&#601;&#650;l&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">stolen<br /><span class="phonetic">&#47;&#712;st&#601;&#650;l&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">красть</td></tr><tr><td data-label="Инфинитив">strike<br /><span class="phonetic">&#47;stra&#618;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">struck<br /><span class="phonetic">&#47;str&#652;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">struck<br /><span class="phonetic">&#47;str&#652;k&#47;</span>&#160;&#160;</td><td data-label="Значение">наносить удары</td></tr><tr><td data-label="Инфинитив">swim<br /><span class="phonetic">&#47;sw&#618;m&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">swam<br /><span class="phonetic">&#47;sw&#230;m&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">swum<br /><span class="phonetic">&#47;sw&#652;m&#47;</span>&#160;&#160;</td><td data-label="Значение">плавать</td></tr><tr><td data-label="Инфинитив">take<br /><span class="phonetic">&#47;te&#618;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">took<br /><span class="phonetic">&#47;t&#650;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">taken<br /><span class="phonetic">&#47;&#712;te&#618;k&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">брать</td></tr><tr><td data-label="Инфинитив">teach<br /><span class="phonetic">&#47;ti&#720;t&#643;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">taught<br /><span class="phonetic">&#47;t&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">taught<br /><span class="phonetic">&#47;t&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Значение">учить</td></tr><tr><td data-label="Инфинитив">tear<br /><span class="phonetic">&#47;te&#601;r&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">tore<br /><span class="phonetic">&#47;t&#596;&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">torn<br /><span class="phonetic">&#47;t&#596;&#720;n&#47;</span>&#160;&#160;</td><td data-label="Значение">рвать</td></tr><tr><td data-label="Инфинитив">tell<br /><span class="phonetic">&#47;tel&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">told<br /><span class="phonetic">&#47;t&#601;&#650;ld&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">told<br /><span class="phonetic">&#47;t&#601;&#650;ld&#47;</span>&#160;&#160;</td><td data-label="Значение">рассказывать</td></tr><tr><td data-label="Инфинитив">think<br /><span class="phonetic">&#47;&theta;&#618;&#331;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">thought<br /><span class="phonetic">&#47;&theta;&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">thought<br /><span class="phonetic">&#47;&theta;&#596;&#720;t&#47;</span>&#160;&#160;</td><td data-label="Значение">думать</td></tr><tr><td data-label="Инфинитив">throw<br /><span class="phonetic">&#47;&theta;r&#601;&#650;&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">threw<br /><span class="phonetic">&#47;&theta;ru&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">thrown<br /><span class="phonetic">&#47;&theta;r&#601;&#650;n&#47;</span>&#160;&#160;</td><td data-label="Значение">бросать</td></tr><tr><td data-label="Инфинитив">understand<br /><span class="phonetic">&#47;&#652;nd&#601;r&#160;&#712;st&#230;nd&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">understood<br /><span class="phonetic">&#47;&#652;nd&#601;r&#160;&#712;st&#650;d&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">understood<br /><span class="phonetic">&#47;&#652;nd&#601;r&#160;&#712;st&#650;d&#47;</span>&#160;&#160;</td><td data-label="Значение">понимать</td></tr><tr><td data-label="Инфинитив">wake<br /><span class="phonetic">&#47;we&#618;k&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">woke<br /><span class="phonetic">&#47;w&#601;&#650;k&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">woken<br /><span class="phonetic">&#47;&#712;w&#601;&#650;k&#601;n&#47;</span>&#160;&#160;</td><td data-label="Значение">будить, просыпаться</td></tr><tr><td data-label="Инфинитив">wear<br /><span class="phonetic">&#47;we&#601;r&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">wore<br /><span class="phonetic">&#47;w&#596;&#720;&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">worn<br /><span class="phonetic">&#47;w&#596;&#720;n&#47;</span>&#160;&#160;</td><td data-label="Значение">быть одетым</td></tr><tr><td data-label="Инфинитив">win<br /><span class="phonetic">&#47;w&#618;n&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">won<br /><span class="phonetic">&#47;w&#652;n&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">won<br /><span class="phonetic">&#47;w&#652;n&#47;</span>&#160;&#160;</td><td data-label="Значение">побеждать</td></tr><tr><td data-label="Инфинитив">write<br /><span class="phonetic">&#47;ra&#618;t&#47;</span>&#160;&#160;</td><td data-label="Прошедшая форма">wrote<br /><span class="phonetic">&#47;r&#601;&#650;t&#47;</span>&#160;&#160;</td><td data-label="Причастие 2">written<br /><span class="phonetic">&#47;&#712;r&#618;tn&#47;</span>&#160;&#160;</td><td data-label="Значение">писа&#769;ть</td></tr></tbody></table></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
