				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">In&#160;/ at&#160;/ on</h1><p class="larger bolder">Предлог &#171;at&#187;, как правило, связан с&#160;объектами, при которых люди занимаются деятельностью, связанную с&#160;этими объектами: на&#160;светофоре ждать разрешения двигаться дальше, на&#160;свадьбе праздновать рождение новой семейной ячейки. &#171;At&#187; означает &#171;при (перед, у) каком-то объекте&#187;. &#171;On&#187;&#160;&#8212; на&#160;поверхности находимся или на&#160;поверхность движемся какого-то объекта. &#171;In&#187; означает &#171;внутри ограниченного 2D&#160;/ 3D пространства&#187;, а также &#171;написано, изображено&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Типичные ошибки</option>
									<option value="#a2">Обычно говорят&#8230;</option>
									<option value="#a3">Сравните</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Типичные ошибки</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно">to stand <span class="bolder">at the top of the stairs</span></td></tr><tr><td data-label="Правильно">to work <span class="bolder">in the sales department</span></td></tr><tr><td data-label="Правильно">to read <span class="bolder">in a newspaper</span></td></tr><tr><td data-label="Правильно">to lie <span class="bolder">in the corner of the room</span></td></tr><tr><td data-label="Правильно">to stand <span class="bolder">at&#160;/ on the corner of the street</span></td></tr><tr><td data-label="Правильно">to sit <span class="bolder">in the back of the car</span></td></tr><tr><td data-label="Правильно">to sit <span class="bolder">at the back row in the cinema</span></td></tr><tr><td data-label="Правильно">to write <span class="bolder">at the top of the page</span></td></tr><tr><td data-label="Правильно">to write <span class="bolder">on the back of the page</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Обычно говорят&#8230;</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Написано, изображено</th></tr></thead><tbody><tr><td data-label="Написано, изображено">in a book</td></tr><tr><td data-label="Написано, изображено">in a letter</td></tr><tr><td data-label="Написано, изображено">in a magazine</td></tr><tr><td data-label="Написано, изображено">in a newspaper</td></tr><tr><td data-label="Написано, изображено">in a paper</td></tr><tr><td data-label="Написано, изображено">in a photo</td></tr><tr><td data-label="Написано, изображено">in a photograph</td></tr><tr><td data-label="Написано, изображено">in a picture</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>На ограниченной территории</th></tr></thead><tbody><tr><td data-label="На ограниченной территории">in a country</td></tr><tr><td data-label="На ограниченной территории">in a garden</td></tr><tr><td data-label="На ограниченной территории">in a town</td></tr><tr><td data-label="На ограниченной территории">in the city centre</td></tr><tr><td data-label="На ограниченной территории">in the country</td></tr><tr><td data-label="На ограниченной территории">in the countryside</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В очереди, в&#160;ряду</th></tr></thead><tbody><tr><td data-label="В очереди, в&#160;ряду">in a line</td></tr><tr><td data-label="В очереди, в&#160;ряду">in a queue</td></tr><tr><td data-label="В очереди, в&#160;ряду">in a row</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В кабине, в&#160;салоне, в&#160;коробке</th></tr></thead><tbody><tr><td data-label="В кабине, в&#160;салоне, в&#160;коробке">in a box</td></tr><tr><td data-label="В кабине, в&#160;салоне, в&#160;коробке">in a car</td></tr><tr><td data-label="В кабине, в&#160;салоне, в&#160;коробке">in a taxi</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В воде, на&#160;небе, в&#160;мире</th></tr></thead><tbody><tr><td data-label="В воде, на&#160;небе, в&#160;мире">in a river</td></tr><tr><td data-label="В воде, на&#160;небе, в&#160;мире">in the sea</td></tr><tr><td data-label="В воде, на&#160;небе, в&#160;мире">in the sky</td></tr><tr><td data-label="В воде, на&#160;небе, в&#160;мире">in the world</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В здании, в&#160;помещении</th></tr></thead><tbody><tr><td data-label="В здании, в&#160;помещении">in a building</td></tr><tr><td data-label="В здании, в&#160;помещении">in a department</td></tr><tr><td data-label="В здании, в&#160;помещении">in a pool</td></tr><tr><td data-label="В здании, в&#160;помещении">in a restaurant</td></tr><tr><td data-label="В здании, в&#160;помещении">in a room</td></tr><tr><td data-label="В здании, в&#160;помещении">in a supermarket</td></tr><tr><td data-label="В здании, в&#160;помещении">in an office</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В учреждении</th></tr></thead><tbody><tr><td data-label="В учреждении">in church</td></tr><tr><td data-label="В учреждении">in court</td></tr><tr><td data-label="В учреждении">in hospital</td></tr><tr><td data-label="В учреждении">in jail</td></tr><tr><td data-label="В учреждении">in prison</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>События</th></tr></thead><tbody><tr><td data-label="События">at a concert</td></tr><tr><td data-label="События">at a conference</td></tr><tr><td data-label="События">at a party</td></tr><tr><td data-label="События">at somebody&#8217;s house</td></tr><tr><td data-label="События">at the meeting</td></tr><tr><td data-label="События">at the National Concert Hall</td></tr><tr><td data-label="События">at the wedding</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В магазине, в&#160;ресторане</th></tr></thead><tbody><tr><td data-label="В магазине, в&#160;ресторане">at&#160;/ in a restaurant</td></tr><tr><td data-label="В магазине, в&#160;ресторане">at&#160;/ in a supermarket</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>Учеба, работа, культ</th></tr></thead><tbody><tr><td data-label="Учеба, работа, культ">at church</td></tr><tr><td data-label="Учеба, работа, культ">at college</td></tr><tr><td data-label="Учеба, работа, культ">at school</td></tr><tr><td data-label="Учеба, работа, культ">at university</td></tr><tr><td data-label="Учеба, работа, культ">at work</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>Вверху, внизу, в&#160;начале, в&#160;конце</th></tr></thead><tbody><tr><td data-label="Вверху, внизу, в&#160;начале, в&#160;конце">at the beginning of the year</td></tr><tr><td data-label="Вверху, внизу, в&#160;начале, в&#160;конце">at the bottom of the page</td></tr><tr><td data-label="Вверху, внизу, в&#160;начале, в&#160;конце">at the other end of the street</td></tr><tr><td data-label="Вверху, внизу, в&#160;начале, в&#160;конце">at the top of the page</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>Транспортные узлы</th></tr></thead><tbody><tr><td data-label="Транспортные узлы">at the airport</td></tr><tr><td data-label="Транспортные узлы">at the bus stop</td></tr><tr><td data-label="Транспортные узлы">at the junction</td></tr><tr><td data-label="Транспортные узлы">at the next stop</td></tr><tr><td data-label="Транспортные узлы">at the roundabout</td></tr><tr><td data-label="Транспортные узлы">at the station</td></tr><tr><td data-label="Транспортные узлы">at the traffic light</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В кабинете</th></tr></thead><tbody><tr><td data-label="В кабинете">at the company&#8217;s head office</td></tr><tr><td data-label="В кабинете">at the doctor&#8217;s</td></tr><tr><td data-label="В кабинете">at the hairdresser&#8217;s</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>У двери, у&#160;окна, в&#160;приемной</th></tr></thead><tbody><tr><td data-label="У двери, у&#160;окна, в&#160;приемной">at reception</td></tr><tr><td data-label="У двери, у&#160;окна, в&#160;приемной">at the door</td></tr><tr><td data-label="У двери, у&#160;окна, в&#160;приемной">at the reception desk</td></tr><tr><td data-label="У двери, у&#160;окна, в&#160;приемной">at the window</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>На авобусе, по&#160;реке</th></tr></thead><tbody><tr><td data-label="На авобусе, по&#160;реке">on a bike</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a bus</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a horse</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a motorbike</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a plane</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a river</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a road</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a ship</td></tr><tr><td data-label="На авобусе, по&#160;реке">on a train</td></tr><tr><td data-label="На авобусе, по&#160;реке">on the way</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>В списке, на&#160;странице</th></tr></thead><tbody><tr><td data-label="В списке, на&#160;странице">on a list</td></tr><tr><td data-label="В списке, на&#160;странице">on a map</td></tr><tr><td data-label="В списке, на&#160;странице">on a menu</td></tr><tr><td data-label="В списке, на&#160;странице">on a page</td></tr><tr><td data-label="В списке, на&#160;странице">on page seven</td></tr><tr><td data-label="В списке, на&#160;странице">on the list</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>На носу, на&#160;рубашке</th></tr></thead><tbody><tr><td data-label="На носу, на&#160;рубашке">on your nose</td></tr><tr><td data-label="На носу, на&#160;рубашке">on your shirt</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>На берегу, на&#160;острове, на&#160;ферме</th></tr></thead><tbody><tr><td data-label="На берегу, на&#160;острове, на&#160;ферме">on a farm</td></tr><tr><td data-label="На берегу, на&#160;острове, на&#160;ферме">on an island</td></tr><tr><td data-label="На берегу, на&#160;острове, на&#160;ферме">on the beach</td></tr><tr><td data-label="На берегу, на&#160;острове, на&#160;ферме">on the coast</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>На потолке, на&#160;столе, на&#160;доске</th></tr></thead><tbody><tr><td data-label="На потолке, на&#160;столе, на&#160;доске">on a chair</td></tr><tr><td data-label="На потолке, на&#160;столе, на&#160;доске">on the ceiling</td></tr><tr><td data-label="На потолке, на&#160;столе, на&#160;доске">on the door</td></tr><tr><td data-label="На потолке, на&#160;столе, на&#160;доске">on the notice board</td></tr><tr><td data-label="На потолке, на&#160;столе, на&#160;доске">on the table</td></tr><tr><td data-label="На потолке, на&#160;столе, на&#160;доске">on the wall</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>На земле, на&#160;траве, на&#160;этаже</th></tr></thead><tbody><tr><td data-label="На земле, на&#160;траве, на&#160;этаже">on the first floor</td></tr><tr><td data-label="На земле, на&#160;траве, на&#160;этаже">on the floor</td></tr><tr><td data-label="На земле, на&#160;траве, на&#160;этаже">on the grass</td></tr><tr><td data-label="На земле, на&#160;траве, на&#160;этаже">on the ground</td></tr><tr><td data-label="На земле, на&#160;траве, на&#160;этаже">on the ground floor</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>Слева, справа</th></tr></thead><tbody><tr><td data-label="Слева, справа">on the left</td></tr><tr><td data-label="Слева, справа">on the left-hand side</td></tr><tr><td data-label="Слева, справа">on the right</td></tr><tr><td data-label="Слева, справа">on the right-hand side</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Сравните</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>in</th><th>at</th></tr></thead><tbody><tr><td data-label="in">There were a lot of people <span class="bolder">in the shop</span>. lt was very crowded.</td><td data-label="at">Go along this road, then turn left <span class="bolder">at the shop</span>.</td></tr><tr><td data-label="in">I&#8217;ll meet you <span class="bolder">in the hotel lobby</span>.</td><td data-label="at">I&#8217;ll meet you <span class="bolder">at the entrance</span> of the hotel.</td></tr><tr><td data-label="in">I was sitting <span class="bolder">in the back (of the car)</span> when we crashed.</td><td data-label="at">We were <span class="bolder">at the back (of the cinema)</span>, so we couldn&#8217;t see very well.</td></tr><tr><td data-label="in">The TV is <span class="bolder">in the corner of t he room</span>.</td><td data-label="at">There is a small shop <span class="bolder">at&#160;/ on the corner of the street</span>.</td></tr><tr><td data-label="in">All the rooms <span class="bolder">in the hotel</span> have air conditioning.</td><td data-label="at">We had dinner <span class="bolder">at the hotel</span>.</td></tr><tr><td data-label="in">lt&#8217;s always cold <span class="bolder">in Helen&#8217;s house</span>. The&#160;heating doesn&#8217;t work well.</td><td data-label="at">I was <span class="bolder">at Helen&#8217;s (house)</span> last night.</td></tr><tr><td data-label="in">We had great meals <span class="bolder">in the restaurant</span>.</td><td data-label="at">We had great meals <span class="bolder">at a restaurant</span>.</td></tr><tr><td data-label="in">I bought this the other day <span class="bolder">in the supermarket</span>.</td><td data-label="at">I bought this the other day <span class="bolder">at a supermarket</span>.</td></tr><tr><td data-label="in">Sam&#8217;s parents live <span class="bolder">in a village</span> in the south of France.</td><td data-label="at">Does this train stop <span class="bolder">at Oxford (station)</span>?</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>in</th><th>on</th></tr></thead><tbody><tr><td data-label="in">There is some water <span class="bolder">in the bottle</span>.</td><td data-label="on">There is a label <span class="bolder">on the bottle</span>.</td></tr></tbody></table><table class="respond table"><caption></caption><thead><tr><th>at</th><th>on</th></tr></thead><tbody><tr><td data-label="at">There is somebody <span class="bolder">at the door</span>. Shall I&#160;go and see who it is?</td><td data-label="on">There is a notice <span class="bolder">on the door</span>. lt says &#8216;Do not disturb&#8217;.</td></tr><tr><td data-label="at">I wrote the date <span class="bolder">at the top of the page</span>.</td><td data-label="on">I wrote my phone number <span class="bolder">on the back of the page</span>.</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Raymond Murphy. English Grammar in Use Extra: In&#160;/ at&#160;/ on (position) 1. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 246)<br />(Raymond Murphy. English Grammar in Use Extra: In&#160;/ at&#160;/ on (position) 2. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 248)<br />(Raymond Murphy. English Grammar in Use Extra: In&#160;/ at&#160;/ on (position) 3. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 250)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
