				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Расстановка дефисов</h1><p class="larger bolder">Числа с&#160;21&#160;по 99&#160;пишутся через дефис: &#171;forty-five&#187;. Заимствованные фразы пишутся без дефиса или так, как в&#160;оригинале: &#171;an a priori argument, a Sturm und Drang drama, a t&#234;te-&#224;-t&#234;te approach&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Примеры</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Примеры</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Правило</th></tr></thead><tbody><tr><td data-label="Правило">a <span class="italic">three-year-old</span>, но: <span class="italic">seven years old</span></td></tr><tr><td data-label="Правило"><span class="italic">sodium chloride</span> и&#160;<span class="italic">sodium chloride solution</span></td></tr><tr><td data-label="Правило"><span class="italic">emerald-green tie</span>, но: <span class="italic">his tie is emerald green</span></td></tr><tr><td data-label="Правило"><span class="italic">northeast, southwest</span>, но: <span class="italic">east-northeast, a north-south street, the street runs north-south</span></td></tr><tr><td data-label="Правило"><span class="italic">a half hour</span>, но: <span class="italic">a half-hour session</span></td></tr><tr><td data-label="Правило"><span class="italic">one-half, two-thirds, three-quarters</span>, но: <span class="italic">one twenty-fifth</span></td></tr><tr><td data-label="Правило"><span class="italic">the 33&#160;m distance, a 2&#160;kg weight, a 3&#160;ft. high wall</span></td></tr><tr><td data-label="Правило"><span class="italic">a one-and-a-half-inch hem</span>, но: <span class="italic">one and a half inches</span></td></tr><tr><td data-label="Правило"><span class="italic">on the third floor</span>, но: <span class="italic">third-floor apartment</span></td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(The Chicago Manual of Style Online: Hyphenation Table. &#169;&#160;The University of Chicago 2006, 2007, 2010. chicagomanualofstyle.org)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
