				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Заимствованные слова</h1><p class="larger bolder">Слова заимствованные и&#160;знакомые англоязычным читателям, представленные в&#160;словаре &#171;Webster&#8217;s&#187;, отображаются латиницей (не&#160;наклонным шрифтом), если используются в&#160;английском контексте, с&#160;соблюдением орфографии по&#160;словарю &#171;Webster&#8217;s&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Процедура</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><p>Немецкие существительные, включенные в <span class="italic">Webster&#8217;s</span>, пишутся с&#160;прописной&#160;буквы.</p><p>&#8212; pasha, weltanschauung, in vitro, a priori, recherch&#233;, the kaiser, de novo, eros and&#160;agape</p><p>Но:</p><p>&#8212; He never missed a chance to <span class="italic">&#233;pater les bourgeois</span>.</p><p>Если в&#160;одном контексте общеупотребительное выражение <span class="italic">mise en sc&#232;ne</span> присутствует с&#160;менее знакомым читателям выражением, например, <span class="italic">mise en bouteille</span>, не&#160;представленным в <span class="italic">Webster&#8217;s</span>, то соблюдается единое оформление&#160;&#8212; либо наклонным шрифтом, либо обычным.</p></div>
								<p class="address" role="contentinfo">(The Chicago Manual of Style: Roman for familiar foreign words. 16th Edition. &#169;&#160;University of Chicago Press. 2010, P. 959)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
