				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">С&#160;большой или с&#160;маленькой</h1><p class="larger bolder">Мы знаем, что первое слово предложения пишется с&#160;заглавной, что местоимение &#171;I&#187; тоже всегда с&#160;прописной в&#160;любом месте предложения. Какие еще моменты следует помнить?</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Процедура</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>С&#160;заглавной</th><th>С&#160;прописной</th></tr></thead><tbody><tr><td data-label="С&#160;заглавной">&#8212; Имена и&#160;слова, выступающие в&#160;роли&#160;имен.<br /><span class="italic indent">Hi, Mom. Hey, Granny.</span><br />&#8212; Слова перед именами, образуюшие составное имя, например, титулы.<br /><span class="italic indent">Aunt Zelda, Uncle Rob, Mayor Muttonchops McGee.</span></td><td data-label="С&#160;прописной">&#8212; Слова типа <span class="bolder">mom</span>, <span class="bolder">aunt</span>, <span class="bolder">mayor</span>, если они не&#160;используются в&#160;качестве имени, или не&#160;входят в&#160;его состав.<br /><span class="italic indent">My mom is a&#160;good cook.</span><br /><span class="italic indent">I&#160;have an aunt in Michigan.</span><br /><span class="italic indent">A&#160;mayor has an important job.</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; Заголовки книг, фильмов, рассказов, документов, ваших собственных трудов.<br /><span class="italic indent">Have you read Treasure Island?</span><br /><span class="italic indent">My&#160;paper is titled Friendly Adjectives.</span></td><td data-label="С&#160;прописной">&#8212; Малозначимые слова (<span class="bolder">the, to, in</span> и&#160;т.п.), если они не на&#160;первом месте в&#160;составе заголовка.<br /><span class="italic indent">I am reading The Adventures of Huckleberry Finn.</span><br /><span class="italic indent">Have&#160;you read War and Peace?</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; Дни недели, месяцы.<br /><span class="italic indent">Monday, Tuesday, etc. January, February, etc.</span></td><td data-label="С&#160;прописной">&#8212; Времена&#160;года.<br /><span class="italic indent">Apple blossoms bloom in the spring.</span><br /><span class="italic indent">Families build snowmen in the winter.</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; Названия школьных курсов (часто, с&#160;числами в&#160;составе названия).<br /><span class="italic indent">I&#8217;m taking Grammar 1.</span><br /><span class="italic indent">I&#8217;m enjoying Algebra 2.</span><br /><span class="italic indent">I&#160;like History 101.</span><br />&#8212; Названия языков, национальностей.<br /><span class="italic indent">Hank&#160;is failing English.</span><br /><span class="italic indent">He is French.</span></td><td data-label="С&#160;прописной">&#8212; Названия школьных предметов, кроме языков.<br /><span class="italic indent">I don&#8217;t do so well in algebra or science, but I&#8217;m getting A&#8217;s in Spanish.</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; <span class="bolder">earth, sun, moon</span> в&#160;научном контексте.<br /><span class="italic indent">Planet Earth orbits the Sun.</span><br />&#8212; Название других планет, помимо Земли.<br /><span class="italic indent">I&#160;want to learn more about Jupiter.</span></td><td data-label="С&#160;прописной">&#8212; <span class="bolder">earth, sun, moon</span> в&#160;ненаучном контексте.<br /><span class="italic indent">The moon is beautiful tonight.</span><br /><span class="italic indent">The&#160;sun is shining and the birds are singing&#8212;a&#160;perfect day to diagram sentences!</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; <span class="bolder">lake, river, ocean</span> в&#160;составе названия.<br /><span class="italic indent">I went walking around Lake Coochicomma.</span><br /><span class="italic indent">The&#160;Run-on River runs to the Pacific Ocean.</span></td><td data-label="С&#160;прописной">&#8212; <span class="bolder">lake, river, ocean</span> не в&#160;составе названия.<br /><span class="italic indent">Let&#8217;s jump in the lake.</span><br /><span class="italic indent">How&#160;far is the ocean from here?</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; Первое слово в&#160;цитируемом предложении.<br /><span class="italic indent">Charley said, &#8220;The grammar book is boring.&#8221;</span></td><td data-label="С&#160;прописной">&#8212; Первое слово в&#160;цитируемой фразе (одно-два слова).<br /><span class="italic indent">Miss Mustardseed said &#8220;good morning&#8221; to the class.</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; <span class="bolder">street, boulevard, drive, place</span> в&#160;составе названия.<br /><span class="italic indent">English teachers don&#8217;t get stars on Hollywood Boulevard.</span><br /><span class="italic indent">My&#160;address is 4365&#160;Spell-check Place.</span></td><td data-label="С&#160;прописной">&#8212; <span class="bolder">street, boulevard, drive, place</span> не в&#160;составе названия.<br /><span class="italic indent">This is the main boulevard.</span><br /><span class="italic indent">Why&#160;is a&#160;family of ducks walking down the street?</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; <span class="bolder">north, south, east, west</span>, как географические области.<br /><span class="italic indent">The Civil War was fought between the North and the South.</span><br /><span class="italic indent">Saudi Arabia is in the Middle East.</span></td><td data-label="С&#160;прописной">&#8212; <span class="bolder">north, south, east, west</span> в&#160;качестве направлений.<br /><span class="italic indent">Drive north till you get to a&#160;fork in the road.</span><br /><span class="italic indent">It&#8217;s just south of the Anti-Grammarian Restaurant, my favoritist food.</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; Праздники, религиозные вехи, бог в&#160;религиозном&#160;ключе.<br /><span class="italic indent">On Thanksgiving, people thank God for their blessings.</span><br /><span class="italic indent">All&#160;I want for Christmas is my two front teeth.</span><br /><span class="italic indent">Tomorrow is Passover, a&#160;Jewish holiday.</span></td><td data-label="С&#160;прописной">&#8212; Когда богов несколько (как, например, в&#160;греческой мифологии).<br /><span class="italic indent">He is so muscular that he looks almost like a&#160;god.</span><br /><span class="italic indent">I&#160;wish that Greek mythology included Grammarius, the grammar god.</span></td></tr><tr><td data-label="С&#160;заглавной">&#8212; Основный исторические события.<br /><span class="italic indent">The Civil War took place in the nineteenth century.</span><br /><span class="italic indent">Charlie thinks the Valentine&#8217;s Day Massacre occurred because gangster Al Capone didn&#8217;t get any valentines.</span></td><td data-label="С&#160;прописной">&#8212; Важные события личной&#160;жизни.<br /><span class="italic indent">This is the best day of my life.</span></td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Tim Mathews. The Adventures of Genius Boy and Grammar&#160;Girl: Capital Letters. A Grammar Textbook. Preview Edition. &#169;&#160;Grammar Nation, Inc. 2009, P.&#160;21-23)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
