					<div class="masonry-grid-wrapper" id="masonry-grid-wrapper">
									<h1 id="h1">Содержание</h1>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="contents_select" tabindex="2">
								<option value="#">Быстрый переход к&#160;страницам&#8230;</option>
			</select></span>
		</p>
	</form>
</div>
						<div class="masonry-grid" id="masonry-grid">
							<div class="masonry-grid-sizer"></div>
							<!-- <div class="grid-row"> -->
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-aids-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/aids_most_commonly_used_idioms">Most Commonly Used Idioms</a></h2><p>&#8216;You&#8217;ll find that if you hang in, and knock yourself out with hard work, before you know it, you will have mastered these hip expressions and come through with flying colors.&#8217;</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-aids-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/aids_topics">Топики на&#160;английском</a></h2><p>Около сотни кратких сочинений на&#160;английском с&#160;переводом на&#160;русский. Рекомендуется изучить для подготовки к&#160;заданию ГИА-9&#160;АЯ&#160;&#8212; &#171;Говорение. Монологическая речь&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-articles-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/articles_reading_rules_utf">Правила чтения</a></h2><p>В&#160;английском языке звуков больше, чем букв. Звуки имеют различное выражение на&#160;письме. Один и&#160;тот&#160;же звук может выражаться разными буквами или буквосочетаниями. Для&#160;распознания звуков используются транскрипционные знаки. По&#160;транскрипции в&#160;словаре можно понять, как произносится&#160;слово.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-cup-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_advanced_grammar_in_use_level_test">Advanced Grammar in&#160;Use Level Test</a></h2><p>Advanced Grammar in&#160;Use Second Edition Level Test с&#160;ответами. Cambridge University Press.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-cup-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_english_grammar_in_use_level_test">English Grammar in&#160;Use Level Test</a></h2><p>English Grammar in&#160;Use Third Edition Level Test с&#160;ответами. Cambridge University Press.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-cup-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_essential_grammar_in_use_level_test">Essential Grammar in&#160;Use Level Test</a></h2><p>Essential Grammar in&#160;Use Level Test с&#160;ответами. Cambridge University Press.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-ege-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_ege_english_test_sample">Демо-вариант ЕГЭ-11&#160;АЯ (ПЧ)</a></h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов единого государственного экзамена 2016&#160;года по&#160;английскому языку с&#160;ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-ege-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_ege_english_test_sample_speaking">Демо-вариант ЕГЭ-11&#160;АЯ (УЧ)</a></h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов единого государственного экзамена 2016&#160;года по&#160;английскому языку с&#160;ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-ege-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_ege_essay_sample">ЕГЭ: Задание&#160;40</a></h2><p>Подготовка к&#160;заданию ЕГЭ-11&#160;АЯ&#160;40&#160;&#8212; &#171;письменное высказывание с&#160;элементами рассуждения&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-ege-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_gia_ege_letter_sample">ГИА&#160;/ ЕГЭ: Задания&#160;33, 39, 40</a></h2><p>Подготовка к&#160;заданиям ГИА-9 (ОГЭ)&#160;АЯ&#160;33&#160;&#8212; &#171;личное письмо&#187;, ЕГЭ-11&#160;АЯ&#160;39&#160;&#8212; &#171;личное письмо&#187;, ЕГЭ-11&#160;АЯ&#160;40&#160;&#8212; &#171;письменное высказывание с&#160;элементами рассуждения&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-gia-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_gia_english_test_sample">Демо-вариант ГИА-9 (ОГЭ)&#160;АЯ (ПЧ)</a></h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов для&#160;проведения в&#160;2016&#160;году государственной (итоговой) аттестации (в&#160;новой форме) по&#160;английскому языку с&#160;ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-gia-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_gia_english_test_sample_speaking">Демо-вариант ГИА-9 (ОГЭ)&#160;АЯ (УЧ)</a></h2><p>&#171;Демонстрационный вариант контрольных измерительных материалов для&#160;проведения в&#160;2016&#160;году государственной (итоговой) аттестации (в&#160;новой форме) по&#160;английскому языку с&#160;ответами&#187; подготовлен Федеральным государственным бюджетным научным учреждением &#171;Федеральный институт педагогических измерений&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-languagelink-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_languagelink_online_test">Уровневый тест</a></h2><p>&#171;Тест по&#160;английскому языку online&#187; с&#160;ответами по&#160;материалам languagelink.ru.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-oup-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_common_mistakes_test_advanced">Common Mistakes Test Advanced</a></h2><p>All the sentences contain common mistakes. Write the corrections.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-rosolymp-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_english_allrussian_olympiad_regional_stage_2013">XIV&#160;Олимпиада по&#160;английскому</a></h2><p>XIV&#160;Всероссийская олимпиада школьников по&#160;английскому языку 2013 г., региональный&#160;этап.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-tests-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/tests_grammar_tests_with_answers">Тесты по&#160;грамматике</a></h2><p>Тесты по&#160;грамматике английского языка базово-повышенного уровня.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-gg-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_grammar_girl_s_quick_and_dirty_grammar_at_a_glance">Quick and&#160;Dirty Grammar</a></h2><p>Grammar Girl&#8217;s Quick and&#160;Dirty Grammar at a&#160;Glance&#160;&#8212; американский &#171;Как правильно?&#187;. Краткий обзор распространенных ошибок.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_all_whole_entire">All&#160;/ the whole&#160;/ the entire</a></h2><p>&#171;All&#187;&#160;&#8212; все и&#160;весь, &#171;the whole&#187;&#160;&#8212; весь (одним цельным куском), &#171;the entire&#187;&#160;&#8212; весь (со&#160;всеми частями).</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_alone_by_myself_and_on_my_own">Alone&#160;/ by&#160;myself&#160;/ on&#160;my&#160;own</a></h2><p>Alone&#160;&#8212; &#171;один (в&#160;одиночестве, одинокий)&#187;; by&#160;myself&#160;&#8212; &#171;один (в&#160;одиночестве, без чьего-либо участия)&#187;; on&#160;my&#160;own&#160;&#8212; &#171;один (сам по&#160;себе, без чьей-либо помощи)&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_attributes_order">Порядок определений</a></h2><p>Ставьте атрибуты в&#160;следующем порядке: 1) артикль&#160;/ указательное местоимение&#160;/ существительное в&#160;притяжательном падеже, 2) порядковое числительное&#160;/ only, 3) количественное числительное&#160;/ other&#160;/ many, 4) прилагательное в&#160;функции описательного определения (качество), 5) little&#160;/ old&#160;/ new, 6) цвет, 7) прилагательное в&#160;функции классифицирующего определения (происхождение), 8) существительное в&#160;функции препозитивного определения (материал), 9) и&#160;уже последним определяемое существительное.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_can_could_be_able_to">Can&#160;/ could&#160;/ be&#160;able&#160;to</a></h2><p>Одно дело &#171;уметь&#187;, другое&#160;&#8212; &#171;суметь&#187;. Одно&#160;дело &#171;мочь&#187;, другое&#160;&#8212; &#171;быть в&#160;стостоянии&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_capital_letters">С&#160;большой или с&#160;маленькой</a></h2><p>Мы знаем, что первое слово предложения пишется с&#160;заглавной, что местоимение &#171;I&#187; тоже всегда с&#160;прописной в&#160;любом месте предложения. Какие еще моменты следует помнить?</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_comma_before_who_which_that">Who&#160;/ which&#160;/ that и&#160;запятые</a></h2><p>Придаточные предложения выделяются запятыми в&#160;том случае, когда оборот содержит дополнительную информацию о&#160;субъекте&#160;/ объекте.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_common_and_proper_nouns">Нарицательное&#160;/ собственное</a></h2><p>Существительные, классифицирующие объекты, например, &#171;building&#187; (здание) являются именами нарицательными и&#160;пишутся с&#160;прописной&#160;буквы. Если Вы говорите о&#160;конкретном здании, например, &#171;Glazier Building&#187;, то такое существительное является именем собственным и&#160;пишется с&#160;заглавной&#160;буквы.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_conditionals">Согласование времен</a></h2><p>Время глагола придаточного предложения зависит от&#160;времени главного предложения. Когда сказуемое главного предложения выражено глаголом в&#160;одной из&#160;форм прошедшего времени, в&#160;придаточных предложениях не&#160;могут употребляться формы настоящего и&#160;будущего, хотя речь идет о&#160;действиях, которые совершаются в&#160;настоящем или будущем.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_degrees_of_comparison">Степени сравнения</a></h2><p>Правильно: &#171;greener, funnier, happier, nearer, wickeder&#160;/ more wicked, cleverer&#160;/ more clever, commoner&#160;/ more common, handsomer&#160;/ more handsome, narrower&#160;/ more narrow, quieter&#160;/ more quiet, shallower&#160;/ more shallow, simpler&#160;/ more simple, stupider&#160;/ more stupid, more fun, more quickly, more crowded, more boring, more careful, more often&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_ex_former">&#171;Ex-&#187; и&#160;&#171;former&#187;, или Осторожно: морпехи</a></h2><p>&#171;Ex-&#187; и&#160;&#171;former&#187;&#160;&#8212; синонимы, но&#160;части речи&#160;&#8212; разные. Оба&#160;означают &#171;бывший&#187;. &#171;Ex-&#187;&#160;&#8212; необязательно &#171;предыдущий&#187; и&#160;вовсе не&#160;имеет негативного подтекста. &#171;Former&#187; ставится перед званиями и&#160;титулами, но&#160;для краткости и&#160;экономии места в&#160;заголовках традиционно используется &#171;ex-&#187;, а в&#160;основном тексте&#160;&#8212; и&#160;&#171;ex-&#187;, и&#160;&#171;former&#187;. &#171;Ex-&#187; не используют с&#160;неодушевленными объектами. &#171;Ex-&#187; используют во&#160;избежание путанницы: &#171;former&#187;&#160;&#8212; это также &#171;второй из&#160;двух&#187;. В&#160;употреблении &#171;ex-&#187; или &#171;former&#187; с&#160;различными словами сложились предпочтения.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_foreign_words">Заимствованные слова</a></h2><p>Слова заимствованные и&#160;знакомые англоязычным читателям, представленные в&#160;словаре &#171;Webster&#8217;s&#187;, отображаются латиницей (не&#160;наклонным шрифтом), если используются в&#160;английском контексте, с&#160;соблюдением орфографии по&#160;словарю &#171;Webster&#8217;s&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_glossary_of_grammatical_terms">Glossary of&#160;Grammatical Terms</a></h2><p>Мини-словарь специальных терминов английской грамматики. Полезен для понимания правил, которые неизбежно используют профессиональную лексику.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_in_at_on">In&#160;/ at&#160;/ on</a></h2><p>Предлог &#171;at&#187;, как правило, связан с&#160;объектами, при которых люди занимаются деятельностью, связанную с&#160;этими объектами: на&#160;светофоре ждать разрешения двигаться дальше, на&#160;свадьбе праздновать рождение новой семейной ячейки. &#171;At&#187; означает &#171;при (перед, у) каком-то объекте&#187;. &#171;On&#187;&#160;&#8212; на&#160;поверхности находимся или на&#160;поверхность движемся какого-то объекта. &#171;In&#187; означает &#171;внутри ограниченного 2D&#160;/ 3D пространства&#187;, а также &#171;написано, изображено&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_in_hospital_at_work">In&#160;hospital&#160;/ at&#160;work&#160;etc.</a></h2><p>&#171;In hospital&#160;/ in prison&#160;/ in jail&#187;, но: &#171;at work&#160;/ at school&#160;/ at university&#160;/ at college&#187;&#160;&#8212; означает не&#160;сколько нахождение в&#160;помещении, сколько деятельность, связанную с&#160;этими объектами, то есть &#171;отбывать наказание, отправлять религиозные культы, учиться&#187; и&#160;тд. Однако &#171;In the hospital&#160;/ in the prison&#160;/ in the jail&#187;, а&#160;также: &#171;in the school&#160;/ in the university&#160;/ in the college&#187;&#160;&#8212; означает, наоборот, внутри объекта, а не&#160;деятельность, связанную с&#160;ним.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_irregular_verbs">Неправильные глаголы (таблица)</a></h2><p>Часть английских глаголов образуют вторую (причастие 1) и&#160;третью (причастие 2) форму не по&#160;правилам.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_may_might_be_allowed_to">May&#160;/ might&#160;/ be&#160;allowed&#160;to</a></h2><p>May&#160;&#8212; вероятность и&#160;разрешение, might&#160;&#8212; вероятность, be&#160;allowed&#160;to&#160;&#8212; разрешение.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_modal_verbs">Модальные глаголы</a></h2><p>Модальный глагол указывает, в&#160;каком режиме производится действие, cуть&#160;же действия передается следующим за&#160;модальным смысловым глаголом.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_much_many_little_few">Much&#160;/ many&#160;/ little&#160;/ few</a></h2><p>Не ставьте &#171;much&#187; в&#160;утвердительных предложениях, если перед ним не&#160;стоит &#171;so&#160;/ very&#160;/ too&#187;. Действия, а не&#160;предметы характеризуйте, используя &#171;a lot&#160;/ much&#160;/ little&#160;/ a little&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_or_nor_neither">Or&#160;/ nor&#160;/ neither</a></h2><p>&#171;Nor&#187; не&#160;привязан к&#160;&#171;neither&#187;. В&#160;отрицательных перечислениях используйте &#171;or&#187;, если второй участник существительное, прилагательное или наречие; если&#160;же глагольная конструкция&#160;&#8212; &#171;nor&#187; либо &#171;or&#187;. Если не&#160;уверены, разделяйте перечисления союзом &#171;and&#187; и&#160;повторно используйте отрицание в&#160;сказуемом.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_phrasal_verbs">Фразовые глаголы</a></h2><p>Значение фразового глагола отличается от&#160;значения глагола без послелога, например, &#171;look&#187;&#160;&#8212; &#171;глядеть&#187;, но &#171;look up&#187;&#160;&#8212; &#171;просматривать&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_reported_speech">Косвенная речь</a></h2><p>При конвертации прямой речи в&#160;косвенную (Reported Speech) необходимо сделать несколько преобразований: соотнести лица, времена и&#160;обстоятельства. Золотое правило: если главное предложение в&#160;прошедшем, то и&#160;придаточное запрошедшивается в&#160;соответствии с&#160;правилами согласования времен.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_saying_numbers">Числа по-английски</a></h2><p>Английские числительные не&#160;склоняются по&#160;родам и&#160;не&#160;имеют падежных окончаний. Вместо &#171;пятьсот&#187; говорят: &#171;пять сто&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_stative_and_action_verbs">Неконтиниусные глаголы</a></h2><p>Глаголы состояния, или статальные глаголы (statal&#160;/ stative verbs), обозначают состояния или отношения.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_the_listing_comma">Серийная запятая</a></h2><p>Используйте серийную запятую, которую можно заменить на&#160;союзы &#171;и&#160;/ или&#187; в&#160;перечислениях. Ставьте серийную запятую перед &#171;и&#160;/ или&#187;, когда нужно устранить двусмысленность.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_too_enough_so_such">Too&#160;/ enough и&#160;so&#160;/ such</a></h2><p>Наречие &#171;too&#187; употребляется перед прилагательным или&#160;наречием, и&#160;означает &#171;слишком&#187;. Наречие &#171;enough&#187; употребляется, как правило, перед существительным, но&#160;после прилагательного или наречия, и&#160;означает &#171;достаточно&#187;. Местоимение &#171;such&#187; употребляется с&#160;существительным (перед которым может стоять прилагательное) и&#160;означает &#171;такой&#187;. Местоимение &#171;so&#187; употребляется с&#160;прилагательным (после которого нет существительного) или&#160;наречием и&#160;означает &#171;такой&#160;/ так&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_to_me_for_me">To me&#160;/ for me, или Надуманная проблема</a></h2><p>&#171;To me&#187;&#160;&#8212; &#171;мне&#187;, дательный падеж. &#171;For me&#187;&#160;&#8212; &#171;для меня&#187;, родительный падеж; или &#171;за (вместо) меня&#187;, винительный падеж.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_translating_participles">Перевод причастий и&#160;деепричастий</a></h2><p>Как глагольная форма, причастие в&#160;английском языке имеет формы времени. Причастие (&#171;Participle&#187;) в&#160;английском языке является неличной формой глагола и&#160;сочетает в&#160;себе признаки прилагательного, глагола и&#160;наречия. Английское причастие настоящего времени (&#171;Participle I&#160;/ Present Participle&#187;) и&#160;причастие прошедшего времени (&#171;Participle II&#160;/ Past Participle&#187;) соответствует и&#160;причастию, и&#160;деепричастию в&#160;русском&#160;языке.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_usage_of_articles_a_the">Артикли a&#160;/ an и&#160;the</a></h2><p>Артикль&#160;&#8212; служебное слово, которое отсутствует в&#160;русском языке.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_usage_of_hyphens">Расстановка дефисов</a></h2><p>Числа с&#160;21&#160;по 99&#160;пишутся через дефис: &#171;forty-five&#187;. Заимствованные фразы пишутся без дефиса или так, как в&#160;оригинале: &#171;an a priori argument, a Sturm und Drang drama, a t&#234;te-&#224;-t&#234;te approach&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_usage_of_tenses">Употребление времен</a></h2><p>В английском языке шестнадцать времен в&#160;активном залоге, в&#160;пассивном залоге&#160;&#8212; десять. Точнее было&#160;бы назвать их&#160;конструкциями, которых в&#160;сумме двадцать шесть. Не&#160;стоит сравнивать русские времена с&#160;английскими. Лучше запомнить значение каждой конструкции и&#160;обстоятельства ее&#160;применения.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_when_must_means_probably">Когда must&#160;= &#171;должно быть&#187;</a></h2><p>Помимо &#171;должен&#160;/ обязан&#187; &#171;must&#187; может означать &#171;должно быть&#187;.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-grammar-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/grammar_word_order">Порядок слов в&#160;предложении</a></h2><p>В английском предложении жесткий порядок слов: подлежащие&#160;&#8212; сказуемое&#160;&#8212; дополнение&#160;&#8212; обстоятельство.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-reading-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/reading_russia_ukraine_war_conflict_vocabulary">Russia-Ukraine War&#160;Conflict</a></h2><p>&#8220;My definition of a&#160;free society is a&#160;society where it is safe to&#160;be unpopular.&#8221; (Adlai Stevenson, United Nations ambassador 1961&#8212;1965)</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-reading-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/reading_the_man_with_the_scar">The&#160;Man with the&#160;Scar</a></h2><p>&#160;by Somerset W.&#160;Maugham.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-transcripts-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/transcripts_linguaspectrum_essential_british_english_expressions">Essential British&#160;English Expressions</a></h2><p>Inspired by&#160;the series of&#160;videos by&#160;Linguaspectrum. Please see credits at the bottom of the page.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-transcripts-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/transcripts_linguaspectrum_spell">44&#160;Most Often Misspelled Words</a></h2><p>From original video &#8216;Spell&#8217; by&#160;Linguaspectrum transcript extract.</p></div></div>
								<div class="masonry-grid-item"><div class="masonry-grid-item-image"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAFQAQMAAAAV1V3SAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADFJREFUeNrtwTEBAAAAwqD1T20MH6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHgaalAAAe08I/8AAAAASUVORK5CYII=" class="contents-banner-transcripts-640x336" alt=""></div><div class="masonry-grid-item-content"><h2><a href="#/transcripts_video_vocab_transcripts">English Vocabulary for&#160;Business</a></h2><p>Пособие составлено на&#160;основе оригинальных транскриптов обучающих видеороликов от&#160;Video&#160;Vocab о&#160;современной деловой лексике.</p></div></div>
							<!-- </div> -->
						</div>
						<div class="footer">
							<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
						</div>
					</div>
