				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">44&#160;Most Often Misspelled Words</h1><p class="larger bolder">From original video &#8216;Spell&#8217; by&#160;Linguaspectrum transcript extract.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Transcript</option>
									<option value="#a2">Vocabulary</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Transcript</h2></div><div class="holder-hidden-layer"><p id="video_xHbBguZWRPg"></p><p>You can tell from his <span class="highlight">appearance</span> that Alyep Consul is a wizard.</p><p>Alyep the Sorcerer enjoys casting spells.</p><p>Unfortunately, Alyep Consul cannot spell to save his&#160;life.</p><p>This spells trouble as, for a spell to work, it&#8217;s <span class="highlight">necessary</span> to spell the <span class="highlight">relevant</span> words correctly.</p><p>A <span class="highlight">miniscule</span> change of <span class="highlight">pronounciation</span> can lead to <span class="highlight">weird</span> or <span class="highlight">humorous</span> results.</p><p>Such problems are an everyday <span class="highlight">occurrence</span> for&#160;Alyep.</p><p>Despite considering humans to be a strange <span class="highlight">species</span>, many of whom need to see a <span class="highlight">psychiatrist</span> rather than a wizard, Alyep has <span class="highlight">acquired</span> quite a reputation.</p><p>He often has a <span class="highlight">queue</span> of <span class="highlight">mischievous</span> people asking for spells against <span class="highlight">neighbour</span> or <span class="highlight">friend</span>.</p><p>Alyep refuses to help <span class="highlight">religious</span> people or any <span class="highlight">foreign government</span>.</p><p>He will do anything for a <span class="highlight">beautiful</span> woman, however.</p><p>After all, spells are his <span class="highlight">business</span> so he <span class="highlight">receives</span> all his customers&#8217; requests regardless of <span class="highlight">difficulty</span>.</p><p>He asks customers to fill in a <span class="highlight">questionnaire</span> and to be <span class="highlight">definite</span> about what they&#160;want.</p><p>Unfortunately, his customers can&#8217;t spell either, and they&#8217;re very <span class="highlight">changeable</span> as to what they&#160;want.</p><p>Poor Alyep can&#8217;t, in all <span class="highlight">conscience</span>, <span class="highlight">guarantee</span> that his spells will do what his customers want, but he tries to <span class="highlight">accommodate</span> their wishes.</p><p>He has the right <span class="highlight">equipment</span>, the latest <span class="highlight">vacuum technology</span>, the right <span class="highlight">accessories</span>, and the <span class="highlight">necessary discipline</span> to do the&#160;job.</p><p>Once he&#8217;s in <span class="highlight">possession</span> of his client&#8217;s money, he casts the&#160;spell.</p><p>He always gives a <span class="highlight">receipt</span>, but never a refund.</p><p>When he recites a spell he tries to get the <span class="highlight">rhythm</span> right, but if the words are wrong, his spells go&#160;awry.</p><p>When a spell is properly cast it <span class="highlight">exhilarates</span> him to see the effects.</p><p><span class="highlight">Occasionally</span>, when the spell goes wrong, <span class="highlight">embarrassment</span> follows.</p><p>He once turned a <span class="highlight">restaurateur fluorescent</span> instead of into a&#160;mouse.</p><p>On another <span class="highlight">occasion</span>, it took doctors weeks to <span class="highlight">separate</span> a famous <span class="highlight">symphony</span> orchestra from its instruments.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Vocabulary</h2></div><div class="holder-hidden-layer"><p>Перевод слов предложен в&#160;соответствии с&#160;контекстом расшифровки.</p><ol><li>accessories&#160;&#8212; приспособления</li><li>accommodate&#160;&#8212; удовлетворять</li><li>acquire&#160;&#8212; приобретать</li><li>appearance&#160;&#8212; внешность</li><li>beautiful&#160;&#8212; красивый</li><li>business&#160;&#8212; профессия</li><li>changeable&#160;&#8212; изменчивый</li><li>conscience&#160;&#8212; совесть</li><li>definite&#160;&#8212; определенный</li><li>difficulty&#160;&#8212; сложность</li><li>discipline&#160;&#8212; алгоритм</li><li>embarrassment&#160;&#8212; замешательство</li><li>equipment&#160;&#8212; технические средства</li><li>exhilarate&#160;&#8212; развеселить</li><li>fluorescent&#160;&#8212; светящийся</li><li>foreign&#160;&#8212; иностранный</li><li>friend&#160;&#8212; друг</li><li>government&#160;&#8212; правительство</li><li>guarantee&#160;&#8212; поручиться</li><li>humorous&#160;&#8212; забавный</li><li>miniscule&#160;&#8212; очень маленький</li><li>mischievous&#160;&#8212; злобный</li><li>necessary&#160;&#8212; необходимый</li><li>neighbour&#160;&#8212; сосед</li><li>occasion&#160;&#8212; случай</li><li>occasionally&#160;&#8212; изредка</li><li>occurrence&#160;&#8212; явление</li><li>possession&#160;&#8212; обладание</li><li>pronunciation&#160;&#8212; произношение</li><li>psychiatrist&#160;&#8212; психиатр</li><li>questionnaire&#160;&#8212; анкета</li><li>queue&#160;&#8212; очередь</li><li>receipt&#160;&#8212; расписка</li><li>receive&#160;&#8212; принимать</li><li>relevant&#160;&#8212; соответствующий</li><li>religious&#160;&#8212; религиозный</li><li>restaurateur&#160;&#8212; владелец ресторана</li><li>rhythm&#160;&#8212; ритм</li><li>separate&#160;&#8212; отделять</li><li>species&#160;&#8212; род</li><li>symphony&#160;&#8212; симфония</li><li>technology&#160;&#8212; метод</li><li>vacuum&#160;&#8212; безвоздушный</li><li>weird&#160;&#8212; странный</li></ol></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
