				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Essential British&#160;English Expressions</h1><p class="larger bolder">Inspired by&#160;the series of&#160;videos by&#160;Linguaspectrum. Please see credits at the bottom of the page.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">at the drop of a hat</option>
									<option value="#a2">the lion&#8217;s share</option>
									<option value="#a3">chock-a-block</option>
									<option value="#a4">faggot</option>
									<option value="#a5">spotted dick</option>
									<option value="#a6">fortnight</option>
									<option value="#a7">stomach bug, tummy bug</option>
									<option value="#a8">perishing</option>
									<option value="#a9">shambles</option>
									<option value="#a10">skivvy</option>
									<option value="#a11">snog</option>
									<option value="#a12">sod off</option>
									<option value="#a13">Sod&#8217;s Law</option>
									<option value="#a14">as long as your arm</option>
									<option value="#a15">middle of nowhere</option>
									<option value="#a16">big girl&#8217;s blouse</option>
									<option value="#a17">go pear shaped</option>
									<option value="#a18">get your knickers in</option>
									<option value="#a19">bodge job</option>
									<option value="#a20">a bunch of fives</option>
									<option value="#a21">all ears</option>
									<option value="#a22">fell off the back of</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">at the drop of a hat</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#601;t &#240;&#601; dr&#594;p &#601;v &#601; h&#230;t]</span></p><p><span class="bolder">внезапно, на&#160;ровном&#160;месте</span></p><blockquote>In a war, soldiers will kill other solders <span class="underline-text">at the drop of a hat</span> simply because they&#8217;re the enemy.</blockquote><blockquote>Most doctors prescribe drugs <span class="underline-text">at the drop of a hat</span> because their patients expect them to.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">the lion&#8217;s share</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#240;&#601; &#712;la&#618;&#601;nz &#643;e&#601;]</span></p><p><span class="bolder">львиная&#160;доля</span></p><blockquote>She was beginning to regret marrying a man with such a hairy chest, the way he used <span class="underline-text">the lion&#8217;s share</span> of the sun cream.</blockquote><blockquote>His attempts to persuade his wife that it was only natural that she did <span class="underline-text">the lion&#8217;s share</span> of the housework seemed to fall on deaf ears.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">chock-a-block</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#716;t&#643;&#594;k &#601; &#712;bl&#594;k]</span></p><p><span class="bolder">впритык</span></p><blockquote>Sometimes the bridge is so <span class="underline-text">chock-a-block</span> with pedestrians that it&#8217;s difficult to get to work.</blockquote><blockquote>It was impossible to find anywhere to park as the car park was <span class="underline-text">chock-a-block</span> with cars.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">faggot</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;f&#230;.&#609;&#601;t]</span></p><p><span class="bolder">фрикаделька</span></p><blockquote><span class="highlight">Faggots</span> are traditionally enjoyed with peas, potatoes and gravy.</blockquote><blockquote>If you&#8217;re not up to making <span class="highlight">faggots</span> yourself, you can buy them ready-made.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">spotted dick</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;sp&#594;.t&#618;d d&#618;k]</span></p><p><span class="bolder">пудинг с&#160;изюмом</span></p><blockquote>Clarissa can&#8217;t get enough <span class="highlight">spotted dick</span>.</blockquote><blockquote>It&#8217;s such a British favourite that they even make a tinned version of <span class="highlight">spotted dick</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">fortnight</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;f&#596;&#720;t.na&#618;t]</span></p><p><span class="bolder">две недели</span></p><blockquote>I estimate the journey will take around two weeks, so I&#8217;ll need supplies to last <span class="highlight">a fortnight</span>.</blockquote><blockquote>The only way off the island is the <span class="highlight">fortnightly</span> flight to the mainland</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a7">stomach bug, tummy bug</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;st&#652;.m&#601;k &#712;t&#652;.mi b&#652;&#609;]</span></p><p><span class="bolder">диарея, понос</span></p><blockquote>Travellers are warned they might pick up <span class="highlight">a stomach bug</span> in foreign countries.</blockquote><blockquote>You might pick up <span class="highlight">a tummy bug</span> if you travel to an exotic country.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a8">perishing</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;pe.r&#618;&#643;.&#618;?]</span></p><p><span class="bolder">ужасный</span></p><blockquote>Salads! Healthy? These <span class="highlight">perishing</span> greens will be the death of me.</blockquote><blockquote>The dashed train&#8217;s late again! What&#160;a <span class="highlight">perishing</span> nuisance!</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a9">shambles</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;&#643;&#230;m.bl?z]</span></p><p><span class="bolder">кавардак</span></p><blockquote>Greedy bankers had created <span class="highlight">a shambles</span> of the world&#8217;s economy by 2008.</blockquote><blockquote>Whenever she cooks, she leaves the kitchen <span class="highlight">in a complete shambles</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a10">skivvy</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;sk&#618;.vi]</span></p><p><span class="bolder">домработница</span></p><blockquote><span class="highlight">Skivvy</span>? Me? Not&#160;on your life! I&#160;wouldn&#8217;t know one end of a duster from the other.</blockquote><blockquote>I&#8217;m not much more than <span class="highlight">a skivvy</span> really, but at least it&#8217;s a job.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a11">snog</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[sn&#594;&#609;]</span></p><p><span class="bolder">целоваться и&#160;обниматься</span></p><blockquote>The newly married couple were often seen <span class="highlight">snogging</span> in public.</blockquote><blockquote>The Americans make out, but the British <span class="highlight">snog</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a12">sod off</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[s&#594;d &#594;f]</span></p><p><span class="bolder">Отвали!</span></p><blockquote>They&#8217;re smiling, but they really want to tell this salesman <span class="highlight">to sod off</span> and leave them in peace.</blockquote><blockquote>Why don&#8217;t you just <span class="highlight">sod off</span> and leave me alone! You&#160;know I&#160;don&#8217;t fancy you!</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a13">Sod&#8217;s Law</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[s&#594;d&#618;z l&#596;&#720;]</span></p><p><span class="bolder">закон подлости</span></p><blockquote>Of course I&#160;missed from ten feet away. It&#8217;s <span class="highlight">Sod&#8217;s law</span>!</blockquote><blockquote>Any IT professional will tell you that <span class="highlight">Sod&#8217;s law</span> is the order of the day with servers.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a14">as long as your arm</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#601;z &#712;l&#594;? &#601;z j&#601;r &#593;&#720;m]</span></p><p><span class="bolder">длинный (список дел)</span></p><blockquote>As far as these British English expressions are concerned, I&#160;have <span class="highlight">a list</span> of videos to make <span class="highlight">as long as your arm</span>.</blockquote><blockquote> Let&#8217;s get on with it, then. We&#8217;ve got <span class="highlight">a list</span> of things to do <span class="highlight">as long as your arm</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a15">middle of nowhere</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;m&#618;d.l? &#601;v &#712;n&#601;&#650;.we&#601;]</span></p><p><span class="bolder">глухомань</span></p><blockquote>There&#8217;s this old, rundown shack <span class="highlight">in the middle of nowhere</span>. It&#8217;s hard to believe that anyone ever lived here.</blockquote><blockquote>I found a beautiful old castle just sitting there <span class="highlight">in the middle of nowhere</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a16">big girl&#8217;s blouse</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[b&#618;&#609; &#609;&#604;&#720;lz bla&#650;z]</span></p><p><span class="bolder">ныть как баба</span></p><blockquote>Stop acting like <span class="highlight">a big girl&#8217;s blouse</span>. It&#8217;s a flesh wound!</blockquote><blockquote>There are plenty more fish in the sea so stop being such <span class="highlight">a big girl&#8217;s blouse</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a17">go pear shaped</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#609;&#601;&#650; pe&#601; &#643;e&#618;pt]</span></p><p><span class="bolder">пойти наперекосяк</span></p><blockquote>I was cleaning the bathroom with some strange chemical and it all <span class="highlight">went pear shaped</span>.</blockquote><blockquote>You could see it was going <span class="highlight">to go pear shaped</span> before he even began.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a18">get your knickers in</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#712;&#609;et j&#601; &#712;n&#618;k&#601;z &#618;n]</span></p><p><span class="bolder">расстраиваться</span></p><blockquote>So, it&#8217;s not a diamond ring, but <span class="highlight">don&#8217;t get your knickers in a twist</span> over it.</blockquote><blockquote>You&#8217;<span class="highlight">re always getting your knickers in a twist</span> over some little thing. You&#160;need to relax more.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a19">bodge job</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[b&#594;d&#658; d&#658;&#594;b]</span></p><p><span class="bolder">халтура</span></p><blockquote>Whoever put this roof on did a real <span class="highlight">bodge job</span>, I&#8217;m afraid. It&#8217;ll all have to come off.</blockquote><blockquote>There&#8217;s a reason for using experts and the reason is avoiding <span class="highlight">bodge jobs</span>.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a20">a bunch of fives</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#601; b&#652;nt&#643; &#601;v fa&#618;vz]</span></p><p><span class="bolder">заехать по физиономии</span></p><blockquote>My brother can be a bit of a plonker, but that&#8217;s no reason <span class="highlight">to give him a bunch of fives</span>, especially on holiday.</blockquote><blockquote>He was supposed to have fixed this! I&#8217;ve a good mind <span class="highlight">to give him a bunch of fives</span> when I&#160;next see him.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a21">all ears</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[&#596;&#720;l &#618;&#601;z]</span></p><p><span class="bolder">весь во&#160;внимании</span></p><blockquote>Tell me more about this business idea of yours. I&#8217;<span class="highlight">m all ears</span>.</blockquote><blockquote>The boss <span class="highlight">is all ears</span> wanting to know why you hired so many cranes when we&#8217;re only building a shed.</blockquote></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a22">fell off the back of</h2></div><div class="holder-hidden-layer"><p><span class="phonetic">[fel &#594;f &#240;&#601; &#712;b&#230;k &#594;v]</span></p><p><span class="bolder">приобретен незаконно</span></p><blockquote>I know they&#8217;re not cheap, but at this price, well, you can be sure they <span class="highlight">didn&#8217;t fall off the back of a lorry</span>.</blockquote><blockquote>Designer handbags at what price? Well, they <span class="highlight">must have fallen off the back of a lorry</span>.</blockquote></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
