/*! @import "loading-spinner"; */
/*!
 * github.com/lukehaas/css-loaders
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */
.loading-spinner .loading-spinner {
	font-size: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5em 0 0 -5em;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(211,211,211,0.5);
	border-right: 1.1em solid rgba(211,211,211,0.5);
	border-bottom: 1.1em solid rgba(211,211,211,0.5);
	border-left: 1.1em solid rgba(25,25,25,0.5);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	z-index: 1003;
}
.loading-spinner .loading-spinner,
.loading-spinner .loading-spinner:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
