/* @import "simplegrid.fixed"; */
/*!
 * modified Simple Grid
 * Project Page - http://thisisdallas.github.com/Simple-Grid/
 * Author - Dallas Bass
 * Site - http://ninenineteen.co
 * changed padding 20px/10px to 24px/12px
 * removed top padding of grid-pad at mobile media query
 * added bottom margin to last child of grid-pad
 * removed top margin for h1/h2/h3 within the grid content
 * chenged breakpoint max 767px to max 800px
 * added float none to col- and mobile-col- at mobile media query
 * removed .hide-on-mobile class
 */
*,*:after,*:before{box-sizing:border-box;}body{margin:0;}[class*='col-']{float:left;min-height:1px;padding-right:24px;}.grid{display:block;width:100%;max-width:1140px;min-width:748px;margin:0 auto;overflow:hidden;}.grid-narrow{width:100%;max-width:720px;min-width:720px;margin:0 auto;overflow:hidden;}.grid:after,.grid-narrow:after{content:"";display:table;clear:both;}.grid-pad{padding-top:24px;padding-left:24px;padding-right:0;}.push-right{float:right;}.col-1-1{width:100%;}.col-2-3,.col-8-12{width:66.66%;}.col-1-2,.col-6-12{width:50%;}.col-1-3,.col-4-12{width:33.33%;}.col-1-4,.col-3-12{width:25%;}.col-1-5{width:20%;}.col-1-6,.col-2-12{width:16.667%;}.col-1-7{width:14.28%;}.col-1-8{width:12.5%;}.col-1-9{width:11.1%;}.col-1-10{width:10%;}.col-1-11{width:9.09%;}.col-1-12{width:8.33%;}.col-11-12{width:91.66%;}.col-10-12{width:83.333%;}.col-9-12{width:75%;}.col-5-12{width:41.66%;}.col-7-12{width:58.33%;}.push-2-3,.push-8-12{margin-left:66.66%;}.push-1-2,.push-6-12{margin-left:50%;}.push-1-3,.push-4-12{margin-left:33.33%;}.push-1-4,.push-3-12{margin-left:25%;}.push-1-5{margin-left:20%;}.push-1-6,.push-2-12{margin-left:16.667%;}.push-1-7{margin-left:14.28%;}.push-1-8{margin-left:12.5%;}.push-1-9{margin-left:11.1%;}.push-1-10{margin-left:10%;}.push-1-11{margin-left:9.09%;}.push-1-12{margin-left:8.33%;}@media handheld,only screen and (max-width:800px){.grid,.grid-narrow{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:12px;padding-right:0px;}.grid-narrow{max-width:100%;}.grid-narrow{max-width:100%;}[class*='col-']{width:auto;float:none;margin:0;padding-top:24px;padding-right:12px;}[class*='col-']:first-child{margin-top:0;}[class*='mobile-col-']{float:left;margin:0;padding-left:0;padding-right:12px;padding-bottom:0;}.grid-pad{padding-top:0px;padding-left:12px;}.grid-pad:first-child{padding-top:0px;}.mobile-col-1-1{width:100%;}.mobile-col-2-3,.mobile-col-8-12{width:66.66%;}.mobile-col-1-2,.mobile-col-6-12{width:50%;}.mobile-col-1-3,.mobile-col-4-12{width:33.33%;}.mobile-col-1-4,.mobile-col-3-12{width:25%;}.mobile-col-1-5{width:20%;}.mobile-col-1-6,.mobile-col-2-12{width:16.667%;}.mobile-col-1-7{width:14.28%;}.mobile-col-1-8{width:12.5%;}.mobile-col-1-9{width:11.1%;}.mobile-col-1-10{width:10%;}.mobile-col-1-11{width:9.09%;}.mobile-col-1-12{width:8.33%;}.mobile-col-11-12{width:91.66%;}.mobile-col-10-12{width:83.333%;}.mobile-col-9-12{width:75%;}.mobile-col-5-12{width:41.66%;}.mobile-col-7-12{width:58.33%;}}
