/*! @import "ui-totop"; */
/*!
 * github.com/sksmatt/UItoTop-jQuery-Plugin/
 */
#ui-totop {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: fixed;
	bottom: 0;
	right: 0;
	text-indent: 100%;
	text-decoration: none;
	border: none;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	z-index: 999;
}
#ui-totop-hover {
	display: block;
	float: left;
	width: 33.000pt;
	height: 33.000pt;
	overflow: hidden;
}
#ui-totop:hover {
	background-color: rgba(213,213,213,1);
}
/*!
 * using icon font
 */
#ui-totop {
	text-indent: 0;
	text-align: center;
}
#ui-totop-hover {
	background: none rgba(211,211,211,0.5);
}
#ui-totop-hover:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
