				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Russia-Ukraine War&#160;Conflict</h1><p class="larger bolder">&#8220;My definition of a&#160;free society is a&#160;society where it is safe to&#160;be unpopular.&#8221; (Adlai Stevenson, United Nations ambassador 1961&#8212;1965)</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Vocabulary</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Vocabulary</h2></div><div class="holder-hidden-layer"><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">pull back forces</td><td data-label="Перевод">отводить войска</td></tr></tbody></table><p><span class="italic">On 18&#160;February, President Poroshenko announces that 80% of Ukrainian forces have pulled back from the town towards Artemivsk.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">an eyewitness</td><td data-label="Перевод">очевидец</td></tr><tr><td data-label="Фраза">weary troops</td><td data-label="Перевод">измотанные войска</td></tr><tr><td data-label="Фраза">to retreat</td><td data-label="Перевод">отступать</td></tr><tr><td data-label="Фраза">a high-rise building</td><td data-label="Перевод">высотное здание</td></tr><tr><td data-label="Фраза">a footage</td><td data-label="Перевод">видеозапись</td></tr></tbody></table><p><span class="italic">Eyewitnesses report dozens of tanks and columns of weary troopsretreating, while a&#160;Russian TV station shows footage of what it says is arebel flag being raised on a&#160;high-rise building in the town.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">ceasefire</td><td data-label="Перевод">прекращение огня</td></tr><tr><td data-label="Фраза">a heavy fighting</td><td data-label="Перевод">тяжелые бои</td></tr><tr><td data-label="Фраза">rebel forces</td><td data-label="Перевод">отряды повстанцев</td></tr><tr><td data-label="Фраза">a strategically important road andrail hub</td><td data-label="Перевод">стратегически важный транспортный узел</td></tr><tr><td data-label="Фраза">to join up territory held</td><td data-label="Перевод">присоединить к&#160;подконтрольным территориям</td></tr></tbody></table><p><span class="italic">Despite the ceasefire, heavy fighting continues around Debaltseve withrebel forces pressing to&#160;capture the strategically important road andrail hub, to&#160;join up territory held in Donetsk and Luhansk regions.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">a buffer zone</td><td data-label="Перевод">буферная зона</td></tr><tr><td data-label="Фраза">heavy weapons</td><td data-label="Перевод">тяжелое оружие</td></tr><tr><td data-label="Фраза">rival forces</td><td data-label="Перевод">противоборствующие стороны</td></tr></tbody></table><p><span class="italic">The pro-Russian rebels in eastern Ukraine also sign the agreement whichincludes a&#160;buffer zone for heavy weapons, with a&#160;minimum of 50km (30miles) between rival forces’ artillery (140km for rockets).</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">after marathon talks</td><td data-label="Перевод">в&#160;результате длительных переговоров</td></tr><tr><td data-label="Фраза">to end the fighting</td><td data-label="Перевод">прекратить боевые действия</td></tr><tr><td data-label="Фраза">a weapon withdrawal</td><td data-label="Перевод">вывод боевой техники</td></tr><tr><td data-label="Фраза">a prisoner exchange</td><td data-label="Перевод">обмен пленными</td></tr><tr><td data-label="Фраза">key issues</td><td data-label="Перевод">основные вопросы</td></tr><tr><td data-label="Фраза">to settle</td><td data-label="Перевод">урегулировать</td></tr></tbody></table><p><span class="italic">On 12&#160;February—after marathon talks in the Belaruscapital, Minsk, an agreement is reached to&#160;end the fighting. The&#160;leadersof Russia, Ukraine, Germany and France announce that a&#160;ceasefire willbegin on 15&#160;February. The&#160;deal also includes weapon withdrawals andprisoner exchanges, but key issues remain to&#160;be settled.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">clashes</td><td data-label="Перевод">столкновения</td></tr><tr><td data-label="Фраза">a renewed diplomatic push</td><td data-label="Перевод">возобновленные дипломатические усилия</td></tr><tr><td data-label="Фраза">truce</td><td data-label="Перевод">затишье</td></tr><tr><td data-label="Фраза">civilians</td><td data-label="Перевод">мирные жители</td></tr></tbody></table><p><span class="italic">As clashes continue there is a&#160;renewed diplomatic push to&#160;end thefighting. Meanwhile, a&#160;truce allows civilians to&#160;leave Debaltseve.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">fiercest fighting</td><td data-label="Перевод">жаркие бои</td></tr><tr><td data-label="Фраза">to surround troops</td><td data-label="Перевод">блокировать войска</td></tr><tr><td data-label="Фраза">a crucial rail hub</td><td data-label="Перевод">важный железнодорожный узел</td></tr></tbody></table><p><span class="italic">The fiercest fighting is near the town of Debaltseve, where the rebelsare trying to&#160;surround Ukrainian troops. The&#160;town is a&#160;crucial rail hublinking Donetsk and Luhansk.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">offensive</td><td data-label="Перевод">наступательная операция</td></tr></tbody></table><p><span class="italic">The rebels continue their offensive in February.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to resupply allowingmunitions, hardware and manpower</td><td data-label="Перевод">пополнить боеприпасы, технику и&#160;личный состав</td></tr><tr><td data-label="Фраза">to airlift</td><td data-label="Перевод">перебрасывать по&#160;воздуху</td></tr><tr><td data-label="Фраза">a conflictzone</td><td data-label="Перевод">зона конфликта</td></tr><tr><td data-label="Фраза">drone images</td><td data-label="Перевод">снимки с&#160;беспилотника</td></tr><tr><td data-label="Фраза">to devastate</td><td data-label="Перевод">разрушать</td></tr></tbody></table><p><span class="italic">There are fears its capture could help the rebels to&#160;resupply—allowingmunitions, hardware and manpower to&#160;be airlifted into the conflictzone. But&#160;drone images of the airport taken in January show howdevastated the terminal building is.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">a bitter fighting</td><td data-label="Перевод">ожесточенные бои</td></tr><tr><td data-label="Фраза">to shell rebel positions</td><td data-label="Перевод">обстреливать позиции повстанцев</td></tr><tr><td data-label="Фраза">the militants</td><td data-label="Перевод">боевики</td></tr></tbody></table><p><span class="italic">On 22&#160;January, Ukrainian forces withdraw from Donetsk airport’s main terminal, after weeks of bitter fighting. The&#160;airport is strategically important. Government forces had been able to&#160;shell rebel positions inside nearby Donetsk—the largest city held by the militants.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">the army</td><td data-label="Перевод">правительственные войска</td></tr><tr><td data-label="Фраза">the rebels</td><td data-label="Перевод">мятежники</td></tr><tr><td data-label="Фраза">to be battle for new ground</td><td data-label="Перевод">сражаться за&#160;новые территории</td></tr><tr><td data-label="Фраза">negotiating position</td><td data-label="Перевод">позиция на&#160;переговорах</td></tr><tr><td data-label="Фраза">ahead of</td><td data-label="Перевод">в&#160;преддверии</td></tr></tbody></table><p><span class="italic">In January 2015, fighting between the army and the rebels intensifies in and around Donetsk, as well as in Luhansk region. Both&#160;sides seem to&#160;be battling for new ground, keen to&#160;strengthen their negotiating positions ahead of any “peace summit”.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to scrap a&#160;law</td><td data-label="Перевод">пересмотреть закон</td></tr><tr><td data-label="Фраза">the 5September truce</td><td data-label="Перевод">объявленное 5&#160;сентября перемирие</td></tr></tbody></table><p><span class="italic">Two pro-Russian leaders are declared the winners—but President PetroPoroshenko immediately threatens to&#160;scrap a&#160;law (agreed under the 5September truce) which gave special status to&#160;Donetsk and Luhansk.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to vote for a&#160;new parliament</td><td data-label="Перевод">избрать новый парламент</td></tr><tr><td data-label="Фраза">Pro-West parties</td><td data-label="Перевод">про-западные партии</td></tr><tr><td data-label="Фраза">to triumph</td><td data-label="Перевод">праздновать победу</td></tr><tr><td data-label="Фраза">the rebel-held east</td><td data-label="Перевод">удерживаемый повстанцами восток</td></tr><tr><td data-label="Фраза">to hold elections</td><td data-label="Перевод">проводить выборы</td></tr></tbody></table><p><span class="italic">On 26&#160;October Ukrainians vote for a&#160;new parliament. Pro-West parties triumph but the polls are boycotted in the rebel-held east—which goes on to&#160;hold its own elections on 2&#160;November.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to violate</td><td data-label="Перевод">нарушать</td></tr><tr><td data-label="Фраза">to erupt</td><td data-label="Перевод">вспыхнуть</td></tr></tbody></table><p><span class="italic">A ceasefire is agreed on 5&#160;September between Ukraine and the pro-Russian rebels in the east. Signed in Minsk, Belarus, it is violated just four days later when fierce fighting erupts around Donetsk airport.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">remaining in control</td><td data-label="Перевод">сохраняющий контроль</td></tr><tr><td data-label="Фраза">closed to&#160;flights</td><td data-label="Перевод">закрыт для полетов</td></tr></tbody></table><p><span class="italic">The battle for the airport continues with the Ukrainians remaining in control, although it is now so badly damaged that it is closed to&#160;flights.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">elsewhere</td><td data-label="Перевод">в&#160;других местах</td></tr><tr><td data-label="Фраза">a violation of the truce</td><td data-label="Перевод">нарушение перемирия</td></tr><tr><td data-label="Фраза">a stretch along</td><td data-label="Перевод">полоса вдоль</td></tr></tbody></table><p><span class="italic">Elsewhere in the east there are repeated violations of the truce. By&#160;19 September, the rebels control a&#160;stretch along the Russian border to&#160;the coast.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to make gains</td><td data-label="Перевод">продвигаться</td></tr><tr><td data-label="Фраза">allegedly</td><td data-label="Перевод">по&#160;неофициальной информации</td></tr><tr><td data-label="Фраза">heavy armour</td><td data-label="Перевод">тяжелая броня</td></tr><tr><td data-label="Фраза">to open up a&#160;new front</td><td data-label="Перевод">открыть новый фронт</td></tr><tr><td data-label="Фраза">on the coast</td><td data-label="Перевод">на&#160;побережье</td></tr><tr><td data-label="Фраза">to seize the town</td><td data-label="Перевод">захватить город</td></tr><tr><td data-label="Фраза">to threaten</td><td data-label="Перевод">представлять собой опасность</td></tr></tbody></table><p><span class="italic">Ukrainian forces make gains in some areas previously held by the rebels. But&#160;on 27&#160;August the rebels—allegedly backed by Russian heavy armour—open up a&#160;new front on the coast, seizing the town of Novoazovsk and threatening the strategic port city of Mariupol.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to allow</td><td data-label="Перевод">предоставлять</td></tr><tr><td data-label="Фраза">a well-trained volunteer</td><td data-label="Перевод">хорошо обученный доброволец</td></tr><tr><td data-label="Фраза">heavy weapons</td><td data-label="Перевод">тяжелое оружие</td></tr><tr><td data-label="Фраза">to dismiss accusations</td><td data-label="Перевод">отмести обвинения</td></tr><tr><td data-label="Фраза">to join the rebel cause</td><td data-label="Перевод">принять сторону мятежников</td></tr></tbody></table><p><span class="italic">Ukraine insists Russian regular forces are involved in the fighting in Ukraine. It&#160;also accuses the Russian authorities of allowing well-trained volunteers and heavy weapons to&#160;cross the border to&#160;help the rebels. Russia dismisses those accusations, yet the rebel leader in Donetsk says many Russian soldiers have joined the rebel cause.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">a crash</td><td data-label="Перевод">авиационная катастрофа</td></tr><tr><td data-label="Фраза">death toll</td><td data-label="Перевод">число погибших</td></tr><tr><td data-label="Фраза">a missile</td><td data-label="Перевод">управляемая ракета</td></tr><tr><td data-label="Фраза">to argue instead</td><td data-label="Перевод">выдвинуть контробвинение</td></tr><tr><td data-label="Фраза">a fighter jet</td><td data-label="Перевод">реактивный истребитель</td></tr><tr><td data-label="Фраза">an airliner</td><td data-label="Перевод">рейсовый авиалайнер</td></tr></tbody></table><p><span class="italic">The crash kills 298&#160;people—everybody aboard the airliner. TheNetherlands has the biggest death toll (196), then Malaysia (42) andAustralia (27). Western nations blame a&#160;Russian-supplied missile,believed to&#160;have been fired by rebels. Russia denies it had armed the rebels and argues instead that a&#160;Ukrainian fighter jet had flown near the airliner at the time.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">shot down</td><td data-label="Перевод">сбит</td></tr><tr><td data-label="Фраза">a rebel-held territory</td><td data-label="Перевод">территория под контролем повстанцев</td></tr></tbody></table><p><span class="italic">On 17&#160;July Malaysia Airlines flight MH17 from Amsterdam is shot down near the village of Grabove, in rebel-held territory close to&#160;the border with Russia.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to abandon strongholds</td><td data-label="Перевод">оставить укрепления</td></tr><tr><td data-label="Фраза">insurgency</td><td data-label="Перевод">мятежные действия</td></tr></tbody></table><p><span class="italic">With a&#160;government offensive launched once more, on 5&#160;July rebels abandon strongholds in the north of Donetsk region, withdrawing to&#160;a&#160;smaller area of insurgency in the south.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to announce a&#160;peace plan</td><td data-label="Перевод">объявить план мирного урегулирования</td></tr></tbody></table><p><span class="italic">On 20&#160;June, President Poroshenko announces a&#160;15-point peace plan and declares a&#160;week-long truce. It&#160;holds for a&#160;few days until a&#160;military helicopter is shot down over eastern Ukraine.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">“confectionery tycoon”</td><td data-label="Перевод">&laquo;шоколадный король&raquo;</td></tr><tr><td data-label="Фраза">a polling station</td><td data-label="Перевод">избирательный участок</td></tr></tbody></table><p><span class="italic">Elections for a&#160;new president in Ukraine are held on 25&#160;May, resulting in confectionery tycoon Petro Poroshenko being elected with more than 55% of the vote, although no polling stations were open in Donetsk city and several other locations.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">a build-up</td><td data-label="Перевод">сосредоточение</td></tr><tr><td data-label="Фраза">on the shared border</td><td data-label="Перевод">на&#160;общей границе</td></tr><tr><td data-label="Фраза">annexation</td><td data-label="Перевод">аннексия территории</td></tr></tbody></table><p><span class="italic">On 11&#160;May pro-Russian separatists in Donetsk and Luhansk declare independence as “people’s republics” after the referendums, which were not recognised by Kiev or the West. A&#160;build-up of Russian troops on the shared border in April sparks concern that another annexation could take place.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to retake</td><td data-label="Перевод">пересдать</td></tr><tr><td data-label="Фраза">to grant</td><td data-label="Перевод">предоставлять</td></tr></tbody></table><p><span class="italic">On 7&#160;April, protesters occupy government buildings in the eastern cities of Donetsk, Luhansk and Kharkiv. Although Kharkiv is retaken the following day, the occupations spread to&#160;other cities, and a&#160;number of pro-Russian leaders declare that referendums on granting greater autonomy to&#160;eastern regions will be held.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to withdraw from</td><td data-label="Перевод">оставить</td></tr><tr><td data-label="Фраза">a troops gathering</td><td data-label="Перевод">скопление войск</td></tr><tr><td data-label="Фраза">in border areas adjacent</td><td data-label="Перевод">в&#160;приграничных районах, прилегающих</td></tr><tr><td data-label="Фраза">an industrial heartland</td><td data-label="Перевод">сердце индустрии страны</td></tr></tbody></table><p><span class="italic">After Ukrainian troops withdraw from Crimea, there are reports of many Russian troops gathering in border areas adjacent to&#160;the eastern regions of Donetsk and Luhansk, Ukraine’s industrial heartland.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">referendum voters</td><td data-label="Перевод">участники референдума</td></tr><tr><td data-label="Фраза">leaked documents</td><td data-label="Перевод">просочившаяся информация</td></tr><tr><td data-label="Фраза">to condemn</td><td data-label="Перевод">осуждать</td></tr><tr><td data-label="Фраза">to impose a&#160;first round of sanctions</td><td data-label="Перевод">вводить первый пакет санкций</td></tr><tr><td data-label="Фраза">officials</td><td data-label="Перевод">чиновники</td></tr><tr><td data-label="Фраза">high-ranking</td><td data-label="Перевод">высокопоставленный</td></tr></tbody></table><p><span class="italic">On 16&#160;March, 97% of referendum voters reportedly back the proposal to&#160;join Russia. The&#160;figure is later disputed, with leaked documents showing only 50-60% support for the move. The&#160;EU and US condemn the annexation of Crimea and impose a&#160;first round of sanctions on Russian officials and high-ranking Moscow allies in Ukraine.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">gunmen</td><td data-label="Перевод">боевики</td></tr><tr><td data-label="Фраза">a legacy</td><td data-label="Перевод">наследие</td></tr><tr><td data-label="Фраза">involvement in the region</td><td data-label="Перевод">присутствие в&#160;регионе</td></tr><tr><td data-label="Фраза">an insurgent</td><td data-label="Перевод">боец сил сопротивления</td></tr></tbody></table><p><span class="italic">On 27—28&#160;February, pro-Russian gunmen seize key buildings in the Crimean capital, Simferopol. The&#160;majority of Crimea’s 2.3 million population identify themselves as ethnic Russians and speak Russian—a legacy of Russia’s 200-year involvement in the region. Sevastopol in Crimea is also the historic base of Russia’s Black Sea Fleet. Within days, the Crimean parliament votes to&#160;join Russia and calls a&#160;referendum. Russia later admits that its military helped the Crimea insurgents.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to remove the president from power</td><td data-label="Перевод">отстранить президента от&#160;власти</td></tr><tr><td data-label="Фраза">a police unit</td><td data-label="Перевод">подразделение полиции</td></tr><tr><td data-label="Фраза">disbanded</td><td data-label="Перевод">расформированный</td></tr></tbody></table><p><span class="italic">Parliament votes to&#160;remove the president from power, with elections set for 25&#160;May. The&#160;elite Berkut police unit, blamed for deaths of protesters, is disbanded. Parliament also votes to&#160;ban Russian as the second official language, triggering a&#160;wave of anger in Russian-speaking regions—although the vote is later overturned.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">bloodshed</td><td data-label="Перевод">кровопролитие</td></tr></tbody></table><p><span class="italic">On 20&#160;February, 2014, bloodshed reaches its worst since the start of the crisis. At&#160;least 88&#160;people are killed in 48&#160;hours in Kiev and hundreds wounded in clashes between protesters and police, including many shot by uniformed snipers. President Yanukovych disappears and protesters take control of government buildings.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">to turn deadly</td><td data-label="Перевод">обернуться жертвами</td></tr><tr><td data-label="Фраза">regional government offices</td><td data-label="Перевод">региональные правительственные учреждения</td></tr></tbody></table><p><span class="italic">In mid-January, parliament passes restrictive anti-protest laws as clashes turn deadly. Anti-Yanukovych protesters begin storming regional government offices in other parts of western Ukraine.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">outraged</td><td data-label="Перевод">возмущенный</td></tr><tr><td data-label="Фраза">estimated</td><td data-label="Перевод">приблизительный</td></tr></tbody></table><p><span class="italic">Outraged by the move towards Moscow, anti-government demonstrations take place in Kiev with an estimated 100,000 on the streets. By&#160;December, some 800,000 people rally in the capital and protesters occupy city hall and Independence Square.</span></p><table class="respond table"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">an aspiration for integration</td><td data-label="Перевод">стремление к&#160;интеграции</td></tr><tr><td data-label="Фраза">predominant</td><td data-label="Перевод">господствующий</td></tr></tbody></table><p><span class="italic">Ukraine has been torn between east and west since the collapse of theSoviet Union in 1991. Ukrainian is the main language in western regions—where there is also a&#160;long-standing aspiration for integration withEurope. However, Russian is predominant in parts of the east and south.</span></p></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
