				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">О&#160;приложении &#171;Английский без&#160;регистрации&#187;</h1><p class="larger bolder">Приложение для&#160;смартфонов на&#160;платформе Android&#160;/ Windows&#160;Phone.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
<div class="holder-contents-select">
	<form method="get" action="#">
		<p>
			<span class="wrapper-contents-select"><select id="pages_select" tabindex="2">
									<option value="#a0">Быстрый переход к&#160;главам&#8230;</option>
									<option value="#a1">Кратко</option>
									<option value="#a4">Обратная связь</option>
			</select></span>
		</p>
	</form>
</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Кратко</h2></div><div class="holder-hidden-layer"><p>Фактически является оффлайн версией образовательного ресурса <a href="https://englishextra.github.io/">&#171;Английский без&#160;регистрации&#160;/ No Sign-up English&#187;</a></p><ul><li><a href="https://github.com/englishextra/englishextra-app">Project's Repo on GitHub</a></li><li><a href="https://englishextraapp.codeplex.com/">Project's Repo on CodePlex</a></li><li><a href="https://sourceforge.net/projects/englishextra-app/">Project's Repo on SourceForge</a></li><li><a href="https://build.phonegap.com/apps/1824701/share">App Public Download Page on Bd</a></li></ul></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Обратная связь</h2></div><div class="holder-hidden-layer"><p><a href="https://englishextra.github.io/">&#171;Английский без&#160;регистрации&#187;</a><br />Moscow, RUSSIA<br />&#101;&#110;&#103;&#108;&#105;&#115;&#104;&#101;&#120;&#116;&#114;&#97;&#64;&#109;&#97;&#105;&#108;.&#114;&#117;</p></div>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<!-- <div class="footer">
								<p class="copyright">Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/" rel="license">лицензии Creative Commons &#171;Attribution-NoDerivatives&#187; (&#171;Атрибуция&#160;&#8212; Без&#160;производных произведений&#187;) 4.0&#160;Всемирная</a>. Права на&#160;иллюстрации принадлежат: 1) пользователям <a href="https://www.behance.net/">Behance</a>, либо Adobe Systems Incorporated; 2) пользователям <a href="https://www.domestika.org/">Domestika</a>, либо Domestika; 3) пользователям <a href="https://www.flickr.com/">Flickr</a>, либо Flickr, a&#160;Yahoo company; 4) пользователям <a href="https://unsplash.com/">Unsplash</a>, либо Unspalsh, a&#160;project by&#160;Crew. <a href="https://englishextra.github.io/serguei/#/feedback">Напишите редактору ресурса</a> о&#160;качестве содержания. &#169;&#160;englishextra, 2006&#8212;2017<br /><a href="https://spa-englishextra.rhcloud.com/sitemap.html">Полный список страниц ресурса (карта сайта)</a></p>
							</div> -->
						</div>
					</div>
				</div>
